<div class="modal" style="display: none;">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">
    <h5 class="modal__main__title">
      <%= t('views.successors.new.title') %>
      <button class="modal__main__title__close" data-action='close-modal'>
        <%= icon_close %>
      </button>
    </h5>
    <div class="modal__main__chooser">
      <ul class="agent-compact-list">
        <% @available_successors.each do |agent| %>
          <li>

            <% if agent.image.nil? %>
              <% css_class = "background-color-gradient__#{agent.color}" %>
            <% else %>
              <% css_class = "agent-compact__id__visual--image" %>
              <% css_style = "background-image: url(#{agent.image_url(:background)});" %>
            <% end %>

            <div class="agent-compact agent-compact--without-actions">
              <a href="<%= user_agent_successors_path(@agent.owner, @agent.agentname, { id: agent.id }) %>"
                 class="agent-compact__id"
                 data-remote="true"
                 data-method="post"
                 data-action="close-modal"
                 rel="nofollow">
                <div class="agent-compact__id__visual <%= css_class %>" style="<%= css_style %>"></div>
                <div class="agent-compact__id__data">
                  <h5><%= agent.name %></h5>
                  <h6><%= agent.slug %></h6>
                </div>
              </a>
            </div>

          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
