<div class="user">
  <div class="user__avatar">
    <img src="<%= collaborator.image_url(:square) %>" />
  </div>
  <div class="user__info">
    <% if collaborator.name.blank? %>
      <%= collaborator.username %>
    <% else %>
      <%= collaborator.name %>
    <% end %>
    <span class="badge">
      <%= t('views.agents.show.collaborator') %>
    </span><br />
    <small><%= collaborator.email %></small>
  </div>
</div>

<%= form_with model: [owner, agent, membership], id: "membership-form-#{collaborator.username}" do |f| %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :rights %>
  <div class="dropdown">
    <div class="dropdown__trigger">
      <button class="btn">
        <span class="btn__label">
          <% if collaborator.can? :edit, agent %>Can edit<% else %>Can show<% end %>
        </span>
        <span class="icon icon--x-small">
          <%= icon_arrow_down %>
        </span>
      </button>
    </div>
    <div class="dropdown__content dropdown__content--hidden">
      <ul>
        <li>
          <a href="#" <% if !collaborator.can? :edit, agent %>class="current"<% end %>
             data-behavior="populate-input, replace-trigger-label"
             data-replace-with="Can show"
             data-replace-selector=".btn__label"
             data-input-selector="input[name='membership[rights]']"
             data-input-value="show">
            Can show
          </a>
        </li>
        <li>
          <a href="#" <% if collaborator.can? :edit, agent %>class="current"<% end %>
             data-behavior="populate-input, replace-trigger-label"
             data-replace-with="Can edit"
             data-replace-selector=".btn__label"
             data-input-selector="input[name='membership[rights]']"
             data-input-value="edit">
            Can edit
          </a>
        </li>
      </ul>
    </div>
  </div>
  <%= f.button "Update", class: "btn btn--primary",
    data: {
      disable_with: "<span class='icon icon--spin'>#{icon_loading}</span> #{t('loading')}".html_safe
    }
  %>
<% end %>
