<div class="user">
  <div class="user__avatar">
    <img src="<%= collaborator.image_url(:square) %>" />
  </div>
  <div class="user__info">
    <%= collaborator.name_or_username %>
    <span class="badge">
      <%= t('views.agents.show.collaborator') %>
    </span><br />
    <small><%= collaborator.email %></small>
  </div>
</div>

<%= form_with model: [owner, agent, membership], id: "membership-form-#{collaborator.username}" do |f| %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :rights %>
  <div class="dropdown">
    <div class="dropdown__trigger">
      <button class="btn">
        <span class="btn__label">
          <% if collaborator.can? :edit, agent %>
            <%= t('views.memberships.can_edit') %>
          <% else %>
            <%= t('views.memberships.can_show') %>
          <% end %>
        </span>
        <span class="icon icon--x-small">
          <%= icon_arrow_down %>
        </span>
      </button>
    </div>
    <div class="dropdown__content dropdown__content--hidden">
      <ul>
        <li>
          <a href="#" <% if !collaborator.can? :edit, agent %>class="current"<% end %>
             data-behavior="populate-input, replace-trigger-label, submit-form"
             data-replace-with="Can show"
             data-replace-selector=".btn__label"
             data-input-selector="input[name='membership[rights]']"
             data-input-value="show"
             data-form-selector="<%= "#membership-form-#{collaborator.username}" %>">
            <%= t('views.memberships.can_show') %>
          </a>
        </li>
        <li>
          <a href="#" <% if collaborator.can? :edit, agent %>class="current"<% end %>
             data-behavior="populate-input, replace-trigger-label, submit-form"
             data-replace-with="Can edit"
             data-replace-selector=".btn__label"
             data-input-selector="input[name='membership[rights]']"
             data-input-value="edit"
             data-form-selector="<%= "#membership-form-#{collaborator.username}" %>">
            <%= t('views.memberships.can_edit') %>
          </a>
        </li>
      </ul>
    </div>
  </div>
<% end %>
