<div class="modal modal--large" style="display: none;">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">

    <h5 class="modal__main__title">
      <%= t('views.memberships.index.title', agent: @agent.name) %>
      <button class="modal__main__title__close" data-action='close-modal'>
        <%= icon_close %>
      </button>
    </h5>

    <div class="modal__main__content">

      <div class="tabs tabs--on-center">
        <ul>
          <li>
            <a href="<%= user_agent_memberships_path(@agent.owner, @agent) %>" data-action="update-remote-modal" class="current">
              Sharing overview
            </a>
          </li>
          <li>
            <a href="<%= new_user_agent_membership_path(@agent.owner, @agent) %>" data-action="update-remote-modal">
              Invite collaborators
            </a>
          </li>
        </ul>
      </div>

      <ul class="actions-list">
        <% @agent.collaborators.each do |collaborator| %>
          <li>
              <% membership = collaborator.memberships.where(agent_id: @agent.id).first %>
              <%= render partial: 'edit', locals: {
                collaborator: collaborator,
                owner: @agent.owner,
                agent: @agent,
                membership: membership
              } %>
          </li>
        <% end %>
        <li>
          <div class="user">
            <div class="user__avatar">
              <img src="<%= @agent.owner.image_url(:square) %>" />
            </div>
            <div class="user__info">
              <% if @agent.owner.name.blank? %>
                <%= @agent.owner.username %>
              <% else %>
                <%= @agent.owner.name %>
              <% end %>
              <span class="badge badge--primary">
                <%= t('views.agents.show.owner') %>
              </span><br />
              <small><%= @agent.owner.email %></small>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
