<div class="modal modal--large" style="display: none;">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">

    <h5 class="modal__main__title">
      <%= t('views.memberships.new.title_html', agent: @agent.name) %>
      <button class="modal__main__title__close" data-action='close-modal'>
        <%= icon_close %>
      </button>
    </h5>

    <div class="modal__main__content">

      <div class="tabs tabs--on-center">
        <ul>
          <li>
            <a href="<%= user_agent_memberships_path(@agent.owner, @agent) %>"
               data-action="update-remote-modal">
              <%= t('views.memberships.tabs.index') %>
            </a>
          </li>
          <li>
            <a href="<%= new_user_agent_membership_path(@agent.owner, @agent) %>"
               data-action="update-remote-modal" class="current">
              <%= t('views.memberships.tabs.new') %>
            </a>
          </li>
        </ul>
      </div>

      <br />

      <%= form_with model: [@agent.owner, @agent, @membership], data: { type: 'json' }, class: 'js-user-search' do |f| %>
        <div class="field">
          <%= f.label :user_id, "Share with" %>
          <div class="control control--merged">

            <div class="merged-control-container">
              <input type="text" name="membership[username]" id="input-user-search"
                data-remote-url="<%= search_users_for_transfer_ownership_user_agent_path(@agent.owner, @agent) %>"
                data-placeholder="<%= t('views.memberships.new.placeholder') %>" />
            </div>
            <%= f.hidden_field :rights %>
            <div class="dropdown">
              <div class="dropdown__trigger">
                <button class="btn">
                  <span class="btn__label">Can show</span>
                  <span class="icon icon--x-small">
                    <%= icon_arrow_down %>
                  </span>
                </button>
              </div>
              <div class="dropdown__content dropdown__content--hidden">
                <ul>
                  <li>
                    <a href="#" class="current"
                       data-behavior="populate-input, replace-trigger-label"
                       data-replace-with="Can show"
                       data-replace-selector=".btn__label"
                       data-input-selector="input[name='membership[rights]']"
                       data-input-value="show">
                      Can show
                    </a>
                  </li>
                  <li>
                    <a href="#"
                       data-behavior="populate-input, replace-trigger-label"
                       data-replace-with="Can edit"
                       data-replace-selector=".btn__label"
                       data-input-selector="input[name='membership[rights]']"
                       data-input-value="edit">
                      Can edit
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <% unless errors.empty? %>
            <div class="help help--error">
              <span class="icon icon--x-small"><%= icon_alert %></span>
              <%= errors.join(', ') %>
            </div>
          <% end %>
        </div>

        <div class="actions">
          <%= f.button "Invite", class: "btn btn--primary",
            data: {
              disable_with: "<span class='icon icon--spin'>#{icon_loading}</span> #{t('loading')}".html_safe
            }
          %>

          <a href="<%= user_agent_memberships_path(@agent.owner, @agent) %>"
             class="btn btn--plain" data-action='update-remote-modal'><%= t('cancel') %></a>
        </div>
      <% end %>

      <br />

      <div class="note">
        <div class="note__icon">
          <span class="icon"><%= icon_information %></span>
        </div>
        <div class="note__content">
          <%= t('views.memberships.note_html') %>
        </div>
      </div>

    </div>
  </div>
</div>
