<div class="dropdown">
  <div class="dropdown__trigger">
    <button class="btn btn--outline btn--small">
      <span class="btn__label"><%= interpreter.agent.name %></span>
      <span class="icon icon--x-small">
        <%= icon_arrow_down %>
      </span>
    </button>
  </div>
  <div class="dropdown__content dropdown__content--hidden">
    <ul>
      <% interpreter.agents.each do |available_agent| %>
        <li>
          <a href="#" <% if available_agent.id == interpreter.agent.id %>class="current"<% end %>
             data-behavior="populate-input, replace-trigger-label,  submit-form"
             data-input-selector="#play_input_agent_id"
             data-input-value="<%= available_agent.id %>"
             data-replace-selector=".btn__label"
             data-replace-with="<%= available_agent.name %>"
             data-form-selector=".play-main__form">
            <div class="dropdown__content__item-title">
              <%= available_agent.name %>
              <% if interpreter.result(available_agent).present? %>
                <% r = interpreter.result(available_agent) %>
                <% if r.succeed? %>
                  <span class="badge <% if available_agent.id == interpreter.agent.id %>badge--primary<% end %>">
                    <%= r.interpretations_count %>
                  </span>
                <% else %>
                  <span class="badge badge--danger" title="<%= r.error_messages %>">
                    <%= r.status %>
                  </span>
                <% end %>
              <% end %>
            </div>
            <div class="dropdown__content__item-description">
              <%= available_agent.slug %>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
