<h2>
  <span><%= t('views.play.aside.title') %></span>
  <a href="<%= edit_play_selection_path %>"
     class="btn btn--small btn--primary"
     data-action="open-remote-modal">
    <%= t('views.play.aside.btn_edit') %>
  </a>
</h2>
<ul>
  <% interpreter.available_agents.each do |agent| %>
    <li>
      <label class="agent-compact">
        <% cache [agent, current_user] do %>
          <%= render partial: "/play/shared/agent_compact", locals: { agent: agent } %>
        <% end %>
        <div class="agent-compact__actions">
          <input form="play-form"
           type="checkbox"
           name="play_interpreter[agent_ids][]"
           value="<%= agent.id %>"
           <% if interpreter.agents.collect(&:id).include? agent.id %>checked<% end %> />
        </div>
      </label>
    </li>
  <% end %>
</ul>
