<h2>
  <%= t('views.play.aside.title') %>
  <a href="<%= edit_play_selection_path %>"
     class="btn btn--small btn--primary"
     data-action="open-remote-modal">
    <%= t('views.play.aside.btn_edit') %>
  </a>
</h2>
<ul>
  <% interpreter.agents.each do |available_agent| %>
    <li>
      <div class="agent-compact">
        <% cache [available_agent, current_user] do %>
          <%= render partial: "/play/shared/agent_compact", locals: { agent: available_agent } %>
        <% end %>
<!--         <div class="agent-compact__actions">
          <input form="play-form"
           type="checkbox"
           name="play_interpreter[agend_ids]"
           value="<%= available_agent.id %>"
           checked />
        </div> -->
      </div>
    </li>
  <% end %>
</ul>
