<% r = interpreter.result %>
<% if r.present? %>
  <% if r.succeed? %>
    <div class="play-main__result__wrapper">
      <h2>
        <span>
          <%= t('views.play.result.title_html', count: r.interpretations_count) %>
          <% interpreter.agents.each do |agent| %>
            <strong>
              <a href="<%= user_agent_path(agent.owner.username, agent.agentname) %>"><%=   agent.name %></a>
            </strong>
          <% end %>
        </span>
      </h2>
      <div>
        <%= play_highlight(interpreter).gsub("\n", "<br />").html_safe %>
      </div>
    </div>
  <% else %>
    <div class="banner banner--alert">
      <div class="banner__content">
        <div>
          <img src='<%= asset_path("robot-confused.png") %>'
               srcset='<%= asset_path("robot-confused.png") %> 1x,
                   <%= asset_path("robot-confused@2x.png") %> 2x'
               style='width: 80px'/>
        </div>
        <div>
          <h3><%= t('views.play.error.title') %></h3>
          <p>
            <%= t('views.play.error.status', status: r.status) %>
            <% unless r.error_messages.blank? %>
              &mdash; <%= r.error_messages %>.</p>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
