<% if button.payload.present? %>
  <%= form_with url: user_action_chatbot_chat_statements_path(statement.chat_session.bot),
      remote: true, class: "chatbot__widget chatbot__widget--button" do |f| %>
    <%= f.hidden_field :statement_id, value: statement.id %>
    <%= f.hidden_field :payload, value: button.payload.to_json %>
    <%= f.hidden_field :type, value: 'click_button' %>
    <%= f.button button.text, disabled: button.is_disabled? %>
  <% end %>
<% else %>
  <div class='chatbot__widget chatbot__widget--button-link'>
    <%= link_to button.text, button.href, target: "_blank", rel: "nofollow" %>
  </div>
<% end %>
