<div class="card">

  <div class="card-content">
    <ul>

      <%- if controller_name != 'sessions' %>
        <li>
          <%= t('views.auth.shared.new_session_prefix') %>
          <%= link_to t('views.auth.shared.new_session'), new_session_path(resource_name) %>
        </li>
      <% end -%>

      <% if Feature.user_registration_enabled? %>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <li>
            <%= t('views.auth.shared.new_registration_prefix') %>
            <%= link_to t('views.auth.shared.new_registration'), new_registration_path(resource_name) %>
          </li>
        <% end -%>
      <% end %>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <li>
          <%= link_to t('views.auth.shared.edit_password'), new_password_path(resource_name) %>
        </li>
      <% end -%>

      <% if Feature.user_registration_enabled? %>
        <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
          <li>
            <%= link_to t('views.auth.shared.new_confirmation'), new_confirmation_path(resource_name) %>
          </li>
        <% end -%>
      <% end %>

      <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
        <li>
          <%= link_to t('views.auth.shared.new_unlock'), new_unlock_path(resource_name) %>
        </li>
      <% end -%>

    </ul>
  </div>

</div>

