<section>
  <h2>Agent Box</h2>
  <h3>Agent box item</h3>
  <%= highlight_html do %>
<div class="agent-box">
  <a href="#" class="agent-box__header">
    <h2>My awesome first agent</h2>
    <h3>username/agentname</h3>
  </a>
  <div class="agent-box__content">
    <span>Created about 2 hours ago.</span>
    <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
  </div>
</div>
  <% end %>


  <h3>Agent box grid & color variants</h3>
  <p>
    Uses <code>.agents-box-grid--full</code> css class for full width layout.
    Uses <code>.agents-box-grid--sidebar</code> css class for layout with sidebar.
  </p>
  <p>
    Available color variants for <code>.agent-box__header</code>:
  </p>
  <ul>
    <li><code>.agent-box__header--brown</code></li>
    <li><code>.agent-box__header--red</code></li>
    <li><code>.agent-box__header--pink</code></li>
    <li><code>.agent-box__header--purple</code></li>
    <li><code>.agent-box__header--deep-purple</code></li>
    <li><code>.agent-box__header--indigo</code></li>
    <li><code>.agent-box__header--blue</code></li>
    <li><code>.agent-box__header--light-blue</code></li>
    <li><code>.agent-box__header--cyan</code></li>
    <li><code>.agent-box__header--teal</code></li>
    <li><code>.agent-box__header--green</code></li>
    <li><code>.agent-box__header--light-green</code></li>
    <li><code>.agent-box__header--lime</code></li>
    <li><code>.agent-box__header--yellow</code></li>
    <li><code>.agent-box__header--amber</code></li>
    <li><code>.agent-box__header--orange</code></li>
    <li><code>.agent-box__header--deep-orange</code></li>
  </ul>
  <%= highlight_html do %>
<div class="agents-box-grid agents-box-grid--full">
  <div class="agent-box">
    <a href="#" class="agent-box__header">
      <h2>Agent</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--brown">
      <h2>Agent (agent-box__header--brown)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--red">
      <h2>Agent (agent-box__header--red)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--pink">
      <h2>Agent (agent-box__header--pink)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--purple">
      <h2>Agent (agent-box__header--purple)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--deep-purple">
      <h2>Agent (agent-box__header--deep-purple)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--indigo">
      <h2>Agent (agent-box__header--indigo)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--blue">
      <h2>Agent (agent-box__header--blue)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--light-blue">
      <h2>Agent (agent-box__header--light-blue)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--cyan">
      <h2>Agent (agent-box__header--cyan)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--teal">
      <h2>Agent (agent-box__header--teal)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--green">
      <h2>Agent (agent-box__header--green)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--light-green">
      <h2>Agent (agent-box__header--light-green)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--lime">
      <h2>Agent (agent-box__header--lime)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--yellow">
      <h2>Agent (agent-box__header--yellow)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--amber">
      <h2>Agent (agent-box__header--amber)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--orange">
      <h2>Agent (agent-box__header--orange)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>

  <div class="agent-box">
    <a href="#" class="agent-box__header agent-box__header--deep-orange">
      <h2>Agent (agent-box__header--deep-orange)</h2>
      <h3>username/agentname</h3>
    </a>
    <div class="agent-box__content">
      <span>Created about 2 hours ago.</span>
      <a href="#" class="btn"><span class="icon"><%= icon_dots %></span></a>
    </div>
  </div>
</div>
  <% end %>

</section>
