<section>
  <h2>Buttons</h2>
  <p>
     The <code>.btn</code> class can be used on:
  </p>
  <ul>
    <li><code>&lt;a&gt;</code> anchors links</li>
    <li><code>&lt;button&gt;</code> form buttons</li>
    <li><code>&lt;input type="submit"&gt;</code> submit inputs</li>
    <li><code>&lt;input type="reset"&gt;</code> reset inputs</li>
  </ul>

  <%= highlight_html do %>
<a href="#" class="btn">Anchor</a>
<button class="btn">Button</button>
<input type="submit" value="Submit input" class="btn" />
<input type="reset" value="Submit reset" class="btn" />
  <% end %>

  <h3>Roles variants</h3>
  <%= highlight_html do %>
<button class="btn">Default</button>
<button class="btn btn--primary">Primary</button>
<button class="btn btn--destructive">Destructive</button>
<button class="btn btn--plain">Plain</button>
  <% end %>

  <h3>Outline variants</h3>
  <%= highlight_html do %>
<button class="btn btn--outline">Default</button>
<button class="btn btn--outline btn--primary">Primary</button>
<button class="btn btn--outline btn--destructive">Destructive</button>
  <% end %>

  <h3>Scale variants</h3>
  <%= highlight_html do %>
<button class="btn btn--small">Small</button>
<button class="btn">Normal</button>
<button class="btn btn--large">Large</button>
  <% end %>

  <h3>Full width variant</h3>
  <%= highlight_html do %>
<button class="btn btn--full">Full width</button>
  <% end %>

  <h3>Use icon inside buttons</h3>
  <%= highlight_html do %>
<button class="btn btn--small">
  <span class="icon icon--small"><%= icon_check %></span>
  Default small
</button>
<button class="btn btn--small btn--primary">
  <span class="icon icon--small"><%= icon_check %></span>
  Primary small
</button>
<button class="btn btn--small btn--destructive">
  <span class="icon icon--small"><%= icon_check %></span>
  Destructive small
</button>
<br /><br />
<button class="btn">
  <span class="icon"><%= icon_check %></span>
  Default
</button>
<button class="btn btn--primary">
  <span class="icon"><%= icon_check %></span>
  Primary
</button>
<button class="btn btn--destructive">
  <span class="icon"><%= icon_check %></span>
  Destructive
</button>
<br /><br />
<button class="btn btn--large">
  <span class="icon icon--large"><%= icon_check %></span>
  Default large
</button>
<button class="btn btn--large btn--primary">
  <span class="icon icon--large"><%= icon_check %></span>
  Primary large
</button>
<button class="btn btn--large btn--destructive">
  <span class="icon icon--large"><%= icon_check %></span>
  Destructive large
</button>
  <% end %>
</section>
