<section>
  <h2>Card</h2>
  <%= highlight_html do %>
<div class="card">
  <div class="card-content">
    <h1>Lorem ipsum dolor</h1>
    <h2 class="tagline">Lorem ipsum dolor sit amet</h2>
    <p>
      Consectetur adipisicing elit. Modi vel corrupti expedita sit.
      Corporis possimus unde cumque odit perferendis aliquam placeat
      eaque pariatur nostrum. Aut voluptatum ipsam illo aspernatur vitae!
    </p>
  </div>
</div>
  <% end %>

  <h3>Notice variant</h3>
  <%= highlight_html do %>
<div class="card card--notice">
  <div class="card-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloremque perspiciatis debitis obcaecati. Omnis nobis maiores odit, consequatur eos modi id eius ducimus porro impedit voluptatibus nam obcaecati, quisquam culpa.
  </div>
</div>
  <% end %>
  <h3>Alert variant</h3>
  <%= highlight_html do %>
<div class="card card--alert">
  <div class="card-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloremque perspiciatis debitis obcaecati. Omnis nobis maiores odit, consequatur eos modi id eius ducimus porro impedit voluptatibus nam obcaecati, quisquam culpa.
  </div>
</div>
  <% end %>

  <h3>Card animation</h3>
  <p>
    Wrap <code>&lt;div class="card"&gt;</code> in <code>&lt;div class="card-animation-wrapper"&gt;</code> in order to add 3D perspective to animation. Then add class <code>card--shake</code> to animate card on error.
  </p>
  <%= highlight_html do %>
<div class="card-animation-wrapper">
  <div class="card">
    <div class="card-content">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <a href="#" class="btn btn--small shake-card-trigger">Shake me!</a>
    </div>
  </div>
</div>
  <% end %>
  <%= highlight_html do %>
<div class="card-animation-wrapper">
  <div class="card card--alert">
    <div class="card-content">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <a href="#" class="btn btn--small shake-card-trigger">Shake me!</a>
    </div>
  </div>
</div>
  <% end %>
</section>
