<section>
  <h2>Dropdown</h2>
  <p>Basic dropdown. Respect HTML structure i.e. <code>.dropdown</code> must have 2 children <code>.dropdown__trigger</code> and <code>.dropdown__content</code>.</p>

  <%= highlight_html do %>
<div class="dropdown">
  <div class="dropdown__trigger">
    <button class="btn">
      Navigate
      <span class="icon icon--x-small">
        <%= icon_arrow_down %>
      </span>
    </button>
  </div>
  <div class="dropdown__content dropdown__content--hidden">
    <ul>
      <li><a href="#section-1">Section 1</a></li>
      <li><a href="#section-2" class="current">Section 2</a></li>
      <li><a href="#section-3">Section 3</a></li>
    </ul>
  </div>
</div>
  <% end %>

  <h3>Right alignement</h3>
  <p>
    <code>.dropdown_content</code> is left aligned by default, in order to have a right alignment uses <code>.dropdown__content--on-right</code> class.
  </p>
  <%= highlight_html do %>
<div class="dropdown">
  <div class="dropdown__trigger">
    <button class="btn">
      Navigate
      <span class="icon icon--x-small">
        <%= icon_arrow_down %>
      </span>
    </button>
  </div>
  <div class="dropdown__content dropdown__content--hidden dropdown__content--on-right">
    <ul>
      <li><a href="#section-1">Section 1</a></li>
      <li><a href="#section-2" class="current">Section 2</a></li>
      <li><a href="#section-3">Section 3</a></li>
    </ul>
  </div>
</div>
  <% end %>

  <h3>Dropdown: behaviors</h3>
  <p>3 available behaviors throught <code>data-behavior</code> attribute.</p>
  <ul>
    <li><code>populate-input</code></li>
    <li><code>submit-form</code></li>
    <li><code>replace-trigger-label</code></li>
  </ul>
  <%= highlight_html do %>
<form class="dropdown-form-example" action="/style-guide">
  <div class="dropdown">
    <div class="dropdown__trigger">
      <button class="btn">
        <span class="btn__label">Sort by last action</span>
        <span class="icon icon--x-small">
          <%= icon_arrow_down %>
        </span>
      </button>
    </div>
    <div class="dropdown__content dropdown__content--hidden">
      <ul>
        <li>
          <a href="#" class="current"
             data-behavior="populate-input, replace-trigger-label"
             data-input-selector=".dropdown-input"
             data-input-value="last_action"
             data-form-selector=".dropdown-form-example"
             data-replace-with="Sort by last action"
             data-replace-selector=".btn__label">
            Last action
          </a>
        </li>
        <li>
          <a href="#"
             data-behavior="populate-input, replace-trigger-label"
             data-input-selector=".dropdown-input"
             data-input-value="email"
             data-form-selector=".dropdown-form-example"
             data-replace-with="Sort by email"
             data-replace-selector=".btn__label">
            Email
          </a>
        </li>
      </ul>
    </div>
  </div>
  <input type="hidden" class="dropdown-input" name="search[sort_by]" />
</form>
  <% end %>

</section>
