<section>
  <h2>Form</h2>
  <p>
     When combining several form elements, use the <code>field</code>
     class as a container, to keep the spacing consistent.
  </p>

  <h3>Basic form example</h3>
  <%= highlight_html do %>
<div class="field">
  <div class="control">
    <label for="username">Username</label>
    <input type="text" placeholder="Text input placeholder" name="username" id="username" />
  </div>
</div>
<div class="field">
  <div class="control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <div class="help">This is a help text</div>
  </div>
</div>
<div class="field">
  <div class="control">
    <input type="checkbox" id="rememberme">
    <label class="checkbox" for="rememberme">Remember me</label>
  </div>
</div>
<div class="field">
  <input type="submit" value="Log in" class="btn btn--primary" />
  <a href="#" class="btn btn--plain">Cancel</a>
</div>
  <% end %>


  <h3>Merged control</h3>
  <%= highlight_html do %>
<div class="field">
  <div class="control control--merged">
    <input type="text" placeholder="One input" name="username" />
    <button class="btn btn--primary">Validate</button>
  </div>
</div>
<div class="field">
  <div class="control control--merged">
    <input type="text" placeholder="First input" />
    <input type="text" placeholder="Second input" />
    <button class="btn btn--destructive">Remove</button>
  </div>
</div>
<div class="field">
  <div class="control control--merged">
    <input type="text" placeholder="One input" name="username" />
    <button class="btn">Add</button>
    <button class="btn">Remove</button>
  </div>
</div>
  <% end %>



  <h3>Inline form (left alignment)</h3>
  <%= highlight_html do %>
<div class="field field--inline">
  <div class="control">
    <label for="username">Username</label>
    <input type="text" placeholder="Text input placeholder" name="username" id="username" />
  </div>
  <div class="control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="control">
    <input type="submit" value="Log in" class="btn btn--primary" />
  </div>
</div>
  <% end %>


  <h3>Inline form (expanded)</h3>
  <%= highlight_html do %>
<div class="field field--inline field--inline--expanded">
  <div class="control">
    <label for="username">Username</label>
    <input type="text" placeholder="Text input placeholder" name="username" id="username" />
  </div>
  <div class="control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="control">
    <input type="submit" value="Log in" class="btn btn--primary" />
  </div>
</div>
  <% end %>

  <h3>Inline form (center alignment)</h3>
  <%= highlight_html do %>
<div class="field field--inline field--inline--centered">
  <div class="control">
    <label for="username">Username</label>
    <input type="text" placeholder="Text input placeholder" name="username" id="username" />
  </div>
  <div class="control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="control">
    <input type="submit" value="Log in" class="btn btn--primary" />
  </div>
</div>
  <% end %>

  <h3>Inline form (right alignment)</h3>
  <%= highlight_html do %>
<div class="field field--inline field--inline--right">
  <div class="control">
    <label for="username">Username</label>
    <input type="text" placeholder="Text input placeholder" name="username" id="username" />
  </div>
  <div class="control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="control">
    <input type="submit" value="Log in" class="btn btn--primary" />
  </div>
</div>
  <% end %>


  <h3>Help message variants</h3>
  <%= highlight_html do %>
<div class="field">
  <label for="password-a">Password</label>
  <span class="help">
    <span class="icon icon--x-small"><%= icon_information %></span>
    Choose your password, at least 8 characters.
  </span>
  <input type="password" name="password" id="password-a" />
</div>
<div class="field">
  <label for="password-a">Password</label>
  <input type="password" name="password" id="password-a" />
  <div class="help">
    <span class="icon icon--x-small"><%= icon_information %></span>
    Choose your password, at least 8 characters.
  </div>
</div>
<div class="field">
  <label for="password-b">Password</label>
  <input type="password" name="password" id="password-b" />
  <div class="help help--success">
    <span class="icon icon--x-small"><%= icon_information %></span>
    Yeah ! Your password has at least 8 characters.
  </div>
</div>
<div class="field">
  <label for="password-c">Password</label>
  <div class="field_with_errors">
    <input type="password" name="password" id="password-c" />
  </div>
  <div class="help help--error">
    <span class="icon icon--x-small"><%= icon_alert %></span>
    Password must have at least 8 characters.
  </div>
</div>
  <% end %>

</section>
