<div class="sg-intro">
  <h1>Agent compact</h1>
  <p>
    Agent compact are displayed in agent show view.
  </p>
</div>

<section>
  <h2>With background gradient</h2>
  <%= highlight_html('bg-light-grey-300') do %>
<div class="agent-compact">
  <a href="#" class="agent-compact__id">
    <div class="agent-compact__id__visual background-color-gradient__brown">
      <span class="agent-compact__id__visual__ribbon">public</span>
    </div>
    <div class="agent-compact__id__data">
      <h5>
        <span>My awesome first agent</span>
        <span class="icon icon--x-small icon--yellow">
          <%= icon_favorite %>
        </span>
      </h5>
      <h6>username/agentname</h6>
    </div>
  </a>
  <div class="agent-compact__actions">
    <a href="#" class="btn btn--outline btn--small">Delete</a>
  </div>
</div>
  <% end %>
</section>

<section>
  <h2>With background image</h2>
  <%= highlight_html('bg-light-grey-300') do %>
<div class="agent-compact">
  <a href="#" class="agent-compact__id">
    <div class="agent-compact__id__visual agent-compact__id__visual--image"
         style="background-image: url(<%= image_path('style-guide/wall-e.jpg') %>);">
      <span class="agent-compact__id__visual__ribbon">public</span>
    </div>
    <div class="agent-compact__id__data">
      <h5>
        <span>My awesome first agent</span>
        <span class="icon icon--x-small icon--yellow">
          <%= icon_favorite %>
        </span>
      </h5>
      <h6>username/agentname</h6>
    </div>
  </a>
  <div class="agent-compact__actions">
    <a href="#" class="btn btn--outline btn--small">Delete</a>
  </div>
</div>
  <% end %>
</section>

<section>
  <h2>Without actions</h2>
  <%= highlight_html('bg-light-grey-300') do %>
<div class="agent-compact agent-compact--without-actions">
  <a href="#" class="agent-compact__id">
    <div class="agent-compact__id__visual background-color-gradient__brown"></div>
    <div class="agent-compact__id__data">
      <h5>
        <span>My awesome first agent</span>
        <span class="icon icon--x-small icon--yellow">
          <%= icon_favorite %>
        </span>
      </h5>
      <h6>username/agentname</h6>
    </div>
  </a>
</div>
  <% end %>
</section>

<section>
  <h2>Grid</h2>
  <%= highlight_html('bg-light-grey-300') do %>
<div class="agents-compact-grid">

  <div class="agent-compact agent-compact--without-actions">
    <a href="#" class="agent-compact__id">
      <div class="agent-compact__id__visual background-color-gradient__black"></div>
      <div class="agent-compact__id__data">
        <h5><span>Black</span></h5>
        <h6>username/black</h6>
      </div>
    </a>
  </div>

  <div class="agent-compact">
    <a href="#" class="agent-compact__id">
      <div class="agent-compact__id__visual background-color-gradient__brown"></div>
      <div class="agent-compact__id__data">
        <h5>
          <span>Brown</span>
          <span class="icon icon--x-small icon--yellow">
            <%= icon_favorite %>
          </span>
        </h5>
        <h6>username/brown</h6>
      </div>
    </a>
    <div class="agent-compact__actions">
      <a href="#" class="btn btn--outline btn--small">Delete</a>
    </div>
  </div>

  <div class="agent-compact">
    <a href="#" class="agent-compact__id">
      <div class="agent-compact__id__visual background-color-gradient__red"></div>
      <div class="agent-compact__id__data">
        <h5><span>Red</span></h5>
        <h6>username/red</h6>
      </div>
    </a>
    <div class="agent-compact__actions">
      <a href="#" class="btn btn--outline btn--small">Delete</a>
    </div>
  </div>

  <div class="agent-compact">
    <a href="#" class="agent-compact__id">
      <div class="agent-compact__id__visual background-color-gradient__pink"></div>
      <div class="agent-compact__id__data">
        <h5>
          <span>Pink</span>
          <span class="icon icon--x-small icon--yellow">
            <%= icon_favorite %>
          </span>
        </h5>
        <h6>username/pink</h6>
      </div>
    </a>
    <div class="agent-compact__actions">
      <a href="#" class="btn btn--outline btn--small">Delete</a>
    </div>
  </div>

  <div class="agent-compact">
    <a href="#" class="agent-compact__id">
      <div class="agent-compact__id__visual background-color-gradient__purple"></div>
      <div class="agent-compact__id__data">
        <h5><span>Purple</span></h5>
        <h6>username/purple</h6>
      </div>
    </a>
    <div class="agent-compact__actions">
      <a href="#" class="btn btn--outline btn--small">Delete</a>
    </div>
  </div>

  <div class="agent-compact agent-compact--without-actions">
    <a href="#" class="agent-compact__id">
      <div class="agent-compact__id__visual background-color-gradient__indigo"></div>
      <div class="agent-compact__id__data">
        <h5><span>Indigo</span></h5>
        <h6>username/indigo</h6>
      </div>
    </a>
  </div>

  <div class="agent-compact">
    <a href="#" class="agent-compact__id">
      <div class="agent-compact__id__visual background-color-gradient__blue"></div>
      <div class="agent-compact__id__data">
        <h5><span>Blue</span></h5>
        <h6>username/blue</h6>
      </div>
    </a>
    <div class="agent-compact__actions">
      <a href="#" class="btn btn--outline btn--small">Delete</a>
    </div>
  </div>

  <div class="agent-compact">
    <a href="#" class="agent-compact__id">
      <div class="agent-compact__id__visual background-color-gradient__cyan"></div>
      <div class="agent-compact__id__data">
        <h5><span>Cyan</span></h5>
        <h6>username/cyan</h6>
      </div>
    </a>
    <div class="agent-compact__actions">
      <a href="#" class="btn btn--outline btn--small">Delete</a>
    </div>
  </div>

  <div class="agent-compact">
    <a href="#" class="agent-compact__id">
      <div class="agent-compact__id__visual background-color-gradient__green"></div>
      <div class="agent-compact__id__data">
        <h5><span>Green</span></h5>
        <h6>username/green</h6>
      </div>
    </a>
    <div class="agent-compact__actions">
      <a href="#" class="btn btn--outline btn--small">Delete</a>
    </div>
  </div>

  <div class="agent-compact agent-compact--new">
    <a href="#">
      <span class="icon"><%= icon_add %></span>
      Add new dependency
    </a>
  </div>

</div>
  <% end %>
</section>
