<div class="sg-intro">
  <h1>Buttons</h1>
  <p>
    Buttons make common actions immediately visible and easy to perform with one click or tap.
  </p>
</div>

<section>
  <h2>Default</h2>
  <p>
     The <code>.btn</code> class can be used on:
  </p>
  <ul>
    <li><code>&lt;a&gt;</code> anchors links</li>
    <li><code>&lt;button&gt;</code> form buttons</li>
    <li><code>&lt;input type="submit"&gt;</code> submit inputs</li>
    <li><code>&lt;input type="reset"&gt;</code> reset inputs</li>
  </ul>

  <%= highlight_html do %>
<a href="#" class="btn">Anchor</a>
<button class="btn">Button</button>
<input type="submit" value="Submit input" class="btn" />
<input type="reset" value="Submit reset" class="btn" />
  <% end %>
</section>

<section>
  <h2>Role variants</h2>
  <%= highlight_html do %>
<button class="btn">Default</button>
<button class="btn btn--primary">Primary</button>
<button class="btn btn--destructive">Destructive</button>
<button class="btn btn--plain">Plain</button>
  <% end %>
</section>

<section>
  <h2>Outline variants</h2>
  <%= highlight_html do %>
<button class="btn btn--outline">Default</button>
<button class="btn btn--outline btn--primary">Primary</button>
<button class="btn btn--outline btn--destructive">Destructive</button>
<button class="btn btn--outline">
  <span class="icon icon--small"><%= icon_search %></span>
  Default
</button>
<button class="btn btn--outline btn--primary">
  <span class="icon icon--small"><%= icon_search %></span>
  Primary
</button>
<button class="btn btn--outline btn--destructive">
  <span class="icon icon--small"><%= icon_search %></span>
  Destructive
</button>
  <% end %>
</section>

<section>
  <h2>Disable variants</h2>
  <%= highlight_html do %>
<span class="btn btn--disabled" disabled>Default</span>
<span class="btn btn--disabled btn--primary" disabled>Primary</span>
<span class="btn btn--disabled btn--destructive" disabled>Destructive</span>
<span class="btn btn--disabled btn--plain" disabled>Plain</span>
<span class="btn btn--disabled btn--outline" disabled>Default</span>
<span class="btn btn--disabled btn--outline btn--primary" disabled>Primary</span>
<span class="btn btn--disabled btn--outline btn--destructive" disabled>Destructive</span>

<br /><br />

<span class="btn btn--disabled" disabled>
  <span class="icon icon--small"><%= icon_search %></span>
  Default
</span>
<span class="btn btn--disabled btn--primary" disabled>
  <span class="icon icon--small"><%= icon_search %></span>
  Primary
</span>
<span class="btn btn--disabled btn--destructive" disabled>
  <span class="icon icon--small"><%= icon_search %></span>
  Destructive
</span>
<span class="btn btn--disabled btn--outline" disabled>
  <span class="icon icon--small"><%= icon_search %></span>
  Default
</span>
<span class="btn btn--disabled btn--outline btn--primary" disabled>
  <span class="icon icon--small"><%= icon_search %></span>
  Primary
</span>
<span class="btn btn--disabled btn--outline btn--destructive" disabled>
  <span class="icon icon--small"><%= icon_search %></span>
  Destructive
</span>
  <% end %>
</section>

<section>
  <h2>Scale variants</h2>
  <%= highlight_html do %>
<button class="btn btn--small">Small</button>
<button class="btn">Normal</button>
<button class="btn btn--large">Large</button>
  <% end %>
</section>

<section>
  <h2>Full width variant</h2>
  <%= highlight_html do %>
<button class="btn btn--full">Full width</button>
  <% end %>
</section>

<section>
  <h2>With icon</h2>
  <%= highlight_html do %>
<button class="btn btn--small">
  <span class="icon icon--small"><%= icon_check %></span>
  Default small
</button>
<button class="btn btn--small btn--primary">
  <span class="icon icon--small"><%= icon_check %></span>
  Primary small
</button>
<button class="btn btn--small btn--destructive">
  <span class="icon icon--small"><%= icon_check %></span>
  Destructive small
</button>
<br /><br />
<button class="btn">
  <span class="icon"><%= icon_check %></span>
  Default
</button>
<button class="btn btn--primary">
  <span class="icon"><%= icon_check %></span>
  Primary
</button>
<button class="btn btn--destructive">
  <span class="icon"><%= icon_check %></span>
  Destructive
</button>
<br /><br />
<button class="btn btn--large">
  <span class="icon icon--large"><%= icon_check %></span>
  Default large
</button>
<button class="btn btn--large btn--primary">
  <span class="icon icon--large"><%= icon_check %></span>
  Primary large
</button>
<button class="btn btn--large btn--destructive">
  <span class="icon icon--large"><%= icon_check %></span>
  Destructive large
</button>
  <% end %>
</section>


<section>
  <h2>Drag button</h2>
<%= highlight_html do %>
<button class="btn btn--outline btn--drag">
  <span class="icon icon--small">
    <%= icon_drag_handle %>
  </span>
  Move
</button>
<% end %>
</section>


<section>
  <h2>Toggle button</h2>
<%= highlight_html do %>
<button class="btn btn--toggle"></button>
<button class="btn btn--toggle btn--toggle-focus"></button>
<button class="btn btn--toggle btn--toggle-disabled"></button>
<button class="btn btn--toggle btn--toggle-on"></button>
<button class="btn btn--toggle btn--toggle-on btn--toggle-focus"></button>
<button class="btn btn--toggle btn--toggle-on btn--toggle-disabled"></button>
<button class="btn btn--toggle"><span>9999</span></button>
<button class="btn btn--toggle btn--toggle-on"><span>129</span></button>
<button class="btn btn--toggle btn--toggle-on"><span>37</span></button>
<button class="btn btn--toggle btn--toggle-on"><span>0</span></button>
<% end %>
</section>

<section>
  <h2>Checkbox button</h2>
<%= highlight_html do %>
<button class="btn btn--checkbox"></button>
<button class="btn btn--checkbox btn--checkbox-focus"></button>
<button class="btn btn--checkbox btn--checkbox-hover"></button>&nbsp;
<button class="btn btn--checkbox btn--checkbox-on"></button>
<button class="btn btn--checkbox btn--checkbox-on btn--checkbox-focus"></button>
<button class="btn btn--checkbox btn--checkbox-on btn--checkbox-hover"></button>
<button class="btn btn--checkbox btn btn--checkbox-disabled"></button>
<% end %>
</section>
