<div class="sg-intro">
  <h1>Buttons</h1>
  <p>
    Buttons make common actions immediately visible and easy to perform with one click or tap.
  </p>
</div>

<section>
  <h2>Default</h2>
  <p>
     The <code>.btn</code> class can be used on:
  </p>
  <ul>
    <li><code>&lt;a&gt;</code> anchors links</li>
    <li><code>&lt;button&gt;</code> form buttons</li>
    <li><code>&lt;input type="submit"&gt;</code> submit inputs</li>
    <li><code>&lt;input type="reset"&gt;</code> reset inputs</li>
  </ul>

  <%= highlight_html do %>
<a href="#" class="btn">Anchor</a>
<button class="btn">Button</button>
<input type="submit" value="Submit input" class="btn" />
<input type="reset" value="Submit reset" class="btn" />
  <% end %>
</section>

<section>
  <h2>Role variants</h2>
  <%= highlight_html do %>
<button class="btn">Default</button>
<button class="btn btn--primary">Primary</button>
<button class="btn btn--destructive">Destructive</button>
<button class="btn btn--plain">Plain</button>
  <% end %>
</section>

<section>
  <h2>Outline variants</h2>
  <%= highlight_html do %>
<button class="btn btn--outline">Default</button>
<button class="btn btn--outline btn--primary">Primary</button>
<button class="btn btn--outline btn--destructive">Destructive</button>
  <% end %>
</section>

<section>
  <h2>Disable variants</h2>
  <%= highlight_html do %>
<span class="btn btn--disabled" disabled>Default</span>
<span class="btn btn--disabled btn--primary" disabled>Primary</span>
<span class="btn btn--disabled btn--destructive" disabled>Destructive</span>
<span class="btn btn--disabled btn--plain" disabled>Plain</span>
<span class="btn btn--disabled btn--outline" disabled>Default</span>
<span class="btn btn--disabled btn--outline btn--primary" disabled>Primary</span>
<span class="btn btn--disabled btn--outline btn--destructive" disabled>Destructive</span>
  <% end %>
</section>

<section>
  <h2>Scale variants</h2>
  <%= highlight_html do %>
<button class="btn btn--small">Small</button>
<button class="btn">Normal</button>
<button class="btn btn--large">Large</button>
  <% end %>
</section>

<section>
  <h2>Full width variant</h2>
  <%= highlight_html do %>
<button class="btn btn--full">Full width</button>
  <% end %>
</section>

<section>
  <h2>With icon</h2>
  <%= highlight_html do %>
<button class="btn btn--small">
  <span class="icon icon--small"><%= icon_check %></span>
  Default small
</button>
<button class="btn btn--small btn--primary">
  <span class="icon icon--small"><%= icon_check %></span>
  Primary small
</button>
<button class="btn btn--small btn--destructive">
  <span class="icon icon--small"><%= icon_check %></span>
  Destructive small
</button>
<br /><br />
<button class="btn">
  <span class="icon"><%= icon_check %></span>
  Default
</button>
<button class="btn btn--primary">
  <span class="icon"><%= icon_check %></span>
  Primary
</button>
<button class="btn btn--destructive">
  <span class="icon"><%= icon_check %></span>
  Destructive
</button>
<br /><br />
<button class="btn btn--large">
  <span class="icon icon--large"><%= icon_check %></span>
  Default large
</button>
<button class="btn btn--large btn--primary">
  <span class="icon icon--large"><%= icon_check %></span>
  Primary large
</button>
<button class="btn btn--large btn--destructive">
  <span class="icon icon--large"><%= icon_check %></span>
  Destructive large
</button>
  <% end %>
</section>



<section>
  <h2>Drag buttons</h2>
  <%= highlight_html do %>
  <button class="btn btn--outline btn--drag">
    <span class="icon icon--small">
      <%= icon_drag_handle %>
    </span>
    Move
  </button>
  <% end %>
</section>

<section>
  <h2>Buttons group</h2>
  <p>
    The <code>.btn--primary</code> class mark the selected button.
  </p>
  <table>
    <thead>
    <tr>
      <th><code>data-action</code> value</th>
      <th>Behavior description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>data-input-selector</code></td>
      <td>
        A CSS selector to select the linked field.
      </td>
    </tr>
    <tr>
      <td><code>data-input-value</code></td>
      <td>
        The actual value to write in the linked field.
      </td>
    </tr>
    </tbody>
  </table>
  <%= highlight_html do %>
<div class="btn-group">
  <button class="btn"
          data-input-selector="input[name='object[option_field]']"
          data-input-value="option_a">Option A</button>
  <button class="btn btn--primary"
          data-input-selector="input[name='object[option_field]']"
          data-input-value="option_b">Option B</button>
</div>
<div class="btn-group">
  <button class="btn">Option A</button>
  <button class="btn">Option B</button>
  <button class="btn">Option C</button>
</div>
  <% end %>
</section>
