<div class="sg-intro">
  <h1>Card list</h1>
  <p>
    Used to displayed actionable list items.
  </p>
</div>


<section>
  <h2>List</h2>
  <%= highlight_html do %>
<ul class="card-list">
  <li>
    <a href="#">
      <span class="card-list__item__name">Lorem ipsum</span>
      <span class="card-list__item__desc">Dolor sit amet, consectetur adipisicing elit.</span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="card-list__item__name">Id praesentium error expedita hic accusamus consectetur</span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="card-list__item__name">Dolores maiores</span>
      <span class="card-list__item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quibusdam, fugit. Velit voluptate, ducimus iste illo explicabo atque nulla illum qui natus quaerat quod, vitae error odit eveniet hic eius?</span>
    </a>
  </li>
</ul>
  <% end %>
</section>


<section>
  <h2>List + Stats</h2>
  <%= highlight_html do %>
<ul class="card-list">
  <li>
    <a href="#">
      <span class="card-list__item__name">Lorem ipsum</span>
      <span class="card-list__item__desc">Dolor sit amet, consectetur adipisicing elit.</span>
      <span class="card-list__item__stats">xxx items</span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="card-list__item__name">Id praesentium error expedita hic accusamus consectetur</span>
      <span class="card-list__item__stats">xxx items</span>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="card-list__item__name">Dolores maiores</span>
      <span class="card-list__item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quibusdam, fugit. Velit voluptate, ducimus iste illo explicabo atque nulla illum qui natus quaerat quod, vitae error odit eveniet hic eius?</span>
      <span class="card-list__item__stats">xxx items</span>
    </a>
  </li>
</ul>
  <% end %>
</section>



<section>
  <h2>List + RTL</h2>
  <%= highlight_html do %>
<ul class="card-list">
  <li>
    <a href="#">
      <span class="card-list__item__name" dir="rtl">لكل شخص حق إنشاء النقابات مع آخرين والانضمام إليها من أجل حماية مصالحه.</span>
      <span class="card-list__item__desc" dir="rtl">لكل شخص، بوصفه عضوا في المجتمع، حق في الضمان الاجتماعي، ومن حقه أن توفر له، من خلال المجهود القومي والتعاون الدولي، وبما يتفق مع هيكل كل دولة ومواردها، الحقوق الاقتصادية والاجتماعية والثقافية التي لا غنى عنها لكرامته ولتنامي شخصيته في حرية</span>
      <span class="card-list__item__stats">xxx items</span>
    </a>
  </li>
</ul>
  <% end %>
</section>


<section>
  <h2>List + Actions</h2>
  <%= highlight_html do %>
<ul class="card-list">
  <li>
    <a href="#">
      <span class="card-list__item__name">Lorem ipsum</span>
      <span class="card-list__item__desc">Dolor sit amet, consectetur adipisicing elit.</span>
    </a>
    <div class="card-list__item__actions"><button class="btn btn--small">Action</button></div>
  </li>
  <li>
    <a href="#">
      <span class="card-list__item__name">Id praesentium error expedita hic accusamus consectetur</span>
    </a>
    <div class="card-list__item__actions"><button class="btn btn--small">Action</button></div>
  </li>
  <li>
    <a href="#">
      <span class="card-list__item__name">Dolores maiores</span>
      <span class="card-list__item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quibusdam, fugit. Velit voluptate, ducimus iste illo explicabo atque nulla illum qui natus quaerat quod, vitae error odit eveniet hic eius?</span>
    </a>
    <div class="card-list__item__actions"><button class="btn btn--small">Action</button></div>
  </li>
</ul>
  <% end %>
</section>

<section>
  <h2>List + Drag handler</h2>
  <%= highlight_html do %>
<ul class="card-list">
  <li>
    <div class="card-list__item__draggable"></div>
    <a href="#">
      <span class="card-list__item__name">Lorem ipsum</span>
      <span class="card-list__item__desc">Dolor sit amet, consectetur adipisicing elit.</span>
    </a>
  </li>
  <li>
    <div class="card-list__item__draggable"></div>
    <a href="#">
      <span class="card-list__item__name">Id praesentium error expedita hic accusamus consectetur</span>
    </a>
  </li>
  <li>
    <div class="card-list__item__draggable"></div>
    <a href="#">
      <span class="card-list__item__name">Dolores maiores</span>
      <span class="card-list__item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quibusdam, fugit. Velit voluptate, ducimus iste illo explicabo atque nulla illum qui natus quaerat quod, vitae error odit eveniet hic eius?</span>
    </a>
  </li>
</ul>
  <% end %>
</section>

<section>
  <h2>List + All</h2>
  <%= highlight_html do %>
<ul class="card-list">
  <li>
    <div class="card-list__item__draggable"></div>
    <a href="#">
      <span class="card-list__item__name">Lorem ipsum</span>
      <span class="card-list__item__desc">Dolor sit amet, consectetur adipisicing elit.</span>
      <div class="card-list__item__stats">xxx items</div>
    </a>
    <div class="card-list__item__actions"><button class="btn btn--small">Action</button></div>
  </li>
  <li>
    <div class="card-list__item__draggable"></div>
    <a href="#" >
      <span class="card-list__item__name">Id praesentium error expedita hic accusamus consectetur</span>
      <div class="card-list__item__stats">xxx items</div>
    </a>
    <div class="card-list__item__actions"><button class="btn btn--small">Action</button></div>
  </li>
  <li>
    <div class="card-list__item__draggable"></div>
    <a href="#" >
      <span class="card-list__item__name">Dolores maiores</span>
      <span class="card-list__item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quibusdam, fugit. Velit voluptate, ducimus iste illo explicabo atque nulla illum qui natus quaerat quod, vitae error odit eveniet hic eius?</span>
      <div class="card-list__item__stats">xxx items</div>
    </a>
    <div class="card-list__item__actions"><button class="btn btn--small">Action</button></div>
  </li>
</ul>
  <% end %>
</section>


<section>
  <h2>Empty State</h2>
  <%= highlight_html do %>
<ul class="card-list card-list--empty"
    data-empty-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit magna aliqua.">
</ul>
  <% end %>
</section>


<section>
  <h2>Sortable lists</h2>
  <p>
    if <code>ul</code> attributes <code>id</code> and <code>data-behavior="sortable"</code> are set, <code>li</code> items become automatically sortable inside the list. To enable Ajax request at the end of Drag&Drop in order to save items positions, use data-attributes described below.
  </p>
  <table>
    <thead>
    <tr>
      <th>Data attributes</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>ul data-update-positions-path</code></td>
      <td>
        The URL used by Ajax <code>POST</code> request.
      </td>
    </tr>
    <tr>
      <td><code>ul data-key</code></td>
      <td>
        The JSON key to use is the payload when posting to <code>data-update-positions-path</code>.
      </td>
    </tr>
    <tr>
      <td><code>li data-id</code></td>
      <td>
        The value to send in an array indexed by <code>data-key</code> in the <code>POST</code> payload .
      </td>
    </tr>
    </tbody>
  </table>
  <p>
    In order to activate Drag&Drop between lists, add the same value on the <code>ul</code> attribute <code>data-group</code>. The empty states of the lists are managed automatically.
  </p>
  <p>
    Note: JS library <a href="http://rubaxa.github.io/Sortable/">Sortable</a> is used in order to setup Drag&Drop functionality.
  </p>

  <%= highlight_html do %>
<h5>First list</h5>
<ul id="sortable-list-example-1" class="card-list"
    data-empty-content="First list is empty" data-behavior="sortable" data-group="demo">
  <li>
    <div class="card-list__item__draggable"></div>
    <a href="#">
      <span class="card-list__item__name">Lorem ipsum</span>
      <span class="card-list__item__desc">Dolor sit amet, consectetur adipisicing elit.</span>
    </a>
  </li>
</ul>
<h5>Second list</h5>
<ul id="sortable-list-example-2" class="card-list"
    data-empty-content="Second list is empty" data-behavior="sortable" data-group="demo">
  <li>
    <div class="card-list__item__draggable"></div>
    <a href="#">
      <span class="card-list__item__name">Id praesentium error</span>
      <span class="card-list__item__desc">Expedita hic accusamus consectetur</span>
    </a>
  </li>
</ul>
  <% end %>
</section>


<section>
  <h2>Add/Remove item</h2>
  <%= highlight_html do %>
<div style="height: 13em;">
  <ul id="add-remove-item-demo"
      class="card-list card-list--empty"
      data-empty-content="Empty list">
  </ul>
</div>
<script>
  function addItem(){
    html  = "<li class='hidden'>";
    html += "  <a href='#'>";
    html += "    <span class='card-list__item__name'>" + Math.random().toString(36).substring(7) + "</span>";
    html += "    <span class='card-list__item__desc'>Dolor sit amet, consectetur adipisicing elit.</span>";
    html += "  </a>";
    html += "</li>";
    $('#add-remove-item-demo').prepend(html);
    window.setTimeout(function(){
      $('#add-remove-item-demo li').first().removeClass('hidden');
    }, 30);
    updateEmptyState()
  }

  function removeItem(){
    $('#add-remove-item-demo li').last().addClass('deleted');
    window.setTimeout(function(){
      $('#add-remove-item-demo li').last().remove();
      updateEmptyState()
    }, 200);
  }

  function updateEmptyState(){
    if ($('#add-remove-item-demo li').length == 0){
      $('#add-remove-item-demo').addClass("card-list--empty");
    }
    else{
      $('#add-remove-item-demo').removeClass("card-list--empty");
    }
  }

  function addRemoveItemDemo(){
    addItem();
    window.setTimeout(addItem, 1000);
    window.setTimeout(addItem, 2000);
    window.setTimeout(removeItem, 3000);
    window.setTimeout(removeItem, 4000);
    window.setTimeout(removeItem, 5000);
  }

  addRemoveItemDemo();
  window.setInterval(addRemoveItemDemo, 6000);
</script>
  <% end %>
</section>

<section>
  <h2>Highlighted List</h2>
  <%= highlight_html do %>
<ul class="card-list">
  <li class="highlight">
    <div class="card-list__item__draggable"></div>
    <a href="#">
      <span class="card-list__item__name">Lorem ipsum</span>
      <span class="card-list__item__desc">Dolor sit amet, consectetur adipisicing elit.</span>
      <div class="card-list__item__stats">xxx items</div>
    </a>
  </li>
  <li>
    <div class="card-list__item__draggable"></div>
    <a href="#" >
      <span class="card-list__item__name">Id praesentium error expedita hic accusamus consectetur</span>
      <div class="card-list__item__stats">xxx items</div>
    </a>
  </li>
</ul>
  <% end %>
</section>
