<div class="sg-intro">
  <h1>Chatbot statements</h1>
</div>


<section>
  <h2>Statements</h2>
  <%= highlight_html do %>
<div class="chatbot__statement chatbot__statement--bot">
  Statement from Bot (on left)
</div>
<div class="chatbot__statement chatbot__statement--user">
  Statement from User (on right)
</div>
  <% end %>
</section>


<section>
  <h2>Avatar</h2>
  <%= highlight_html do %>
<div class="chatbot__statement chatbot__statement--bot">
  <div class="chatbot__avatar">
    <img src="<%= image_path('default_avatar.png') %>">
  </div>
  Statement from Bot (on left)
</div>
<div class="chatbot__statement chatbot__statement--user">
  <div class="chatbot__avatar">
    <img src="<%= image_path('default_avatar.png') %>">
  </div>
  Statement from User (on right)
</div>
  <% end %>
</section>


<section>
  <h2>Widget text</h2>
  <%= highlight_html do %>
<div class="chatbot__statement chatbot__statement--bot">
  <div class="chatbot__avatar">
    <img src="<%= image_path('default_avatar.png') %>">
  </div>
  <div class="chatbot__widget chatbot__widget--text">
    Doctor, I need your help. I'm addicted to checking my Twitter !
  </div>
</div>
<div class="chatbot__statement chatbot__statement--user">
  <div class="chatbot__avatar">
    <img src="<%= image_path('default_avatar.png') %>">
  </div>
  <div class="chatbot__widget chatbot__widget--text">
    I'm so sorry, I don't follow.
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Image</h2>

  <h3>Only image</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <img src="<%= image_path('default_avatar.png') %>">
      </div>
      <div class="chatbot__widget chatbot__widget--image">
        <img src="<%= image_path('style-guide/kitten.jpg') %>">
      </div>
    </div>
  </div>
</div>
  <% end %>

  <h3>Image + Title</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <img src="<%= image_path('default_avatar.png') %>">
      </div>
      <div class="chatbot__widget chatbot__widget--image">
        <img src="<%= image_path('style-guide/kitten.jpg') %>">
        <div class="chatbot__widget--image__info">
          <div class="chatbot__widget--image__info__title">
            Miaou !
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>

  <h3>Image + Title + Subtitle</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <img src="<%= image_path('default_avatar.png') %>">
      </div>
      <div class="chatbot__widget chatbot__widget--image">
        <img src="<%= image_path('style-guide/kitten.jpg') %>">
        <div class="chatbot__widget--image__info">
          <div class="chatbot__widget--image__info__title">
            Miaou !
          </div>
          <div class="chatbot__widget--image__info__subtitle">
            Portrait of a little kitten. So cute 😻
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Button</h2>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--user">
      <div class="chatbot__avatar">
        <img src="<%= image_path('default_avatar.png') %>">
      </div>
      <div class="chatbot__widget chatbot__widget--text">
        Are you ready ?
      </div>
    </div>

    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <img src="<%= image_path('default_avatar.png') %>">
      </div>
      <form data-remote="true" method="post">
        <button class="chatbot__widget chatbot__widget--button">Let'go</button>
      </form>
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Animation</h2>
  <p>
    Remove CSS class <code>chatbot__avatar--hidden</code> and <code>chatbot__widget--hidden</code>
    in order to make avatar and widget visible via an animation.
  </p>
  <%= highlight_html do %>
<div id="text_animation_demo">
  <div class="chatbot__statement chatbot__statement--bot">
    <div class="chatbot__avatar chatbot__avatar--hidden">
      <img src="<%= image_path('default_avatar.png') %>">
    </div>
    <div class="chatbot__widget chatbot__widget--text chatbot__widget--hidden">
      Can a kangaroo jump higher than a house ? Of course ! Houses can't jump.
    </div>
  </div>
</div>
  <% end %>
  <script>
    function addItem() {
      avatar = $('#text_animation_demo .chatbot__avatar').last()
      widget = $('#text_animation_demo .chatbot__widget').last()
      avatar.removeClass('chatbot__avatar--hidden')
      widget.removeClass('chatbot__widget--hidden')
    }

    function removeItem() {
      avatar = $('#text_animation_demo .chatbot__avatar').last()
      widget = $('#text_animation_demo .chatbot__widget').last()
      avatar.addClass('chatbot__avatar--hidden')
      widget.addClass('chatbot__widget--hidden')
    }

    function addRemoveItemDemo() {
      addItem();
      window.setTimeout(removeItem, 2500);
    }
    window.setInterval(addRemoveItemDemo, 5000);
  </script>
</section>


<section>
  <h2>Waiting</h2>
  <p>
    Used when user wait for bot response.
  </p>
  <%= highlight_html do %>
<div class="chatbot__statement chatbot__statement--bot">
  <div class="chatbot__avatar">
    <img src="<%= image_path('default_avatar.png') %>">
  </div>
  <div class="chatbot__widget chatbot__widget--text">
    Hello
  </div>
</div>
<div class="chatbot__statement chatbot__statement--user">
  <div class="chatbot__avatar">
    <img src="<%= image_path('default_avatar.png') %>">
  </div>
  <div class="chatbot__widget chatbot__widget--text">
    I wondered why the frisbee was getting bigger. Then it hit me.
  </div>
</div>
<div class="chatbot__statement chatbot__statement--bot">
  <div class="chatbot__statement__waiting">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 10">
      <path d="M4.784 7.608a2.392 2.392 0 0 1-4.784 0 2.392 2.392 0 1 1 4.784 0z" class="point-a"/>
      <path d="M12.392 7.608a2.392 2.392 0 0 1-4.784 0 2.392 2.392 0 1 1 4.784 0z" class="point-b"/>
      <path d="M20 7.608a2.392 2.392 0 0 1-4.784 0 2.392 2.392 0 1 1 4.784 0z" class="point-c"/>
    </svg>
  </div>
</div>
  <% end %>
</section>
