<div class="sg-intro">
  <h1>Chatbot statements</h1>
</div>


<section>
  <h2>Statements</h2>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      Statement from Bot (on left)
    </div>
    <div class="chatbot__statement chatbot__statement--user">
      Statement from User (on right)
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Avatar</h2>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      Statement from Bot (on left)
    </div>
    <div class="chatbot__statement chatbot__statement--user">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_avatar.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:01</div>
      </div>
      Statement from User (on right)
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Widget text</h2>
  <h3>Text only</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--text">
        Doctor, I need your help. I'm addicted to checking my Twitter!
      </div>
    </div>
    <div class="chatbot__statement chatbot__statement--user">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_avatar.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:01</div>
      </div>
      <div class="chatbot__widget chatbot__widget--text">
        I'm so sorry, I don't follow.
      </div>
    </div>
  </div>
</div>
  <% end %>
  <h3>Text with HTML</h3>
  <p>
    Only <code>strong</code>, <code>em</code>, <code>a</code>, <code>p</code>, <code>ul</code>, <code>li</code>, <code>code</code> and <code>pre</code> tag are allowed.
  </p>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--text">
        <p>
          Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit. <em>Doloremque laboriosam</em>, at omnis vero <a href="http://rubyonrails.org/" target="_blank">necessitatibus error</a> eligendi nobis vel est dicta?
        </p>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          <li>Eaque dolorum reprehenderit ducimus.</li>
          <li>Consequuntur fugit <code>placeat distinctio</code> est, quae, explicabo amet.</li>
          <li>Corporis voluptatibus pariatur nobis maxime dolorum officiis, enim consequuntur ad.</li>
        </ul>
        <p>Aperiam quis voluptates incidunt odit inventore, officiis culpa eos!</p>
      </div>
    </div>

    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:02</div>
      </div>
      <div class="chatbot__widget chatbot__widget--text">
        <p>
          Display some code:
        </p>
        <pre>WHITELIST = {
  elements: %w[
    strong em a p ul li code pre
  ]
}</pre>
        <p>
          Han, this is so cool.
        </p>
      </div>
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Image</h2>

  <h3>Only image</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--image">
        <img src="<%= image_path('style-guide/kitten.jpg') %>">
      </div>
    </div>
  </div>
</div>
  <% end %>

  <h3>Image + Title</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--image">
        <img src="<%= image_path('style-guide/kitten.jpg') %>">
        <div class="chatbot__widget--image__info">
          <h2>Meow!</h2>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>

  <h3>Image + Title + Subtitle</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--image">
        <img src="<%= image_path('style-guide/kitten.jpg') %>">
        <div class="chatbot__widget--image__info">
          <h2>Meow!</h2>
          <p>Portrait of a little kitten. So cute 😻</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Video</h2>
  <h3>Only video</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--video">
        <div class="chatbot__widget--video__wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/f79-58hLLXs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>

  <h3>Video + Title</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--video">
        <div class="chatbot__widget--video__wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/f79-58hLLXs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="chatbot__widget--video__info">
          <h2>The best Funny Playing Cats</h2>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>

  <h3>Video + Title + Subtitle</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--video">
        <div class="chatbot__widget--video__wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/f79-58hLLXs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="chatbot__widget--video__info">
          <h2>The best Funny Playing Cats</h2>
          <p>Here we love kittens. The kittens are too cute. Do you agree?</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Button</h2>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <form class="chatbot__widget chatbot__widget--button">
        <button>I'm a button</button>
      </form>
    </div>
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:01</div>
      </div>
      <form class="chatbot__widget chatbot__widget--button">
        <button disabled="disabled">I'm a disabled button</button>
      </form>
    </div>
  </div>
</div>
  <% end %>
</section>

<section>
  <h2>Button group</h2>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">

    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--button-group">
        <form>
          <button>Button A</button>
        </form>
        <form>
          <button>Button B</button>
        </form>
        <form>
          <button>Button C</button>
        </form>
        <form>
          <button>Button D</button>
        </form>
      </div>
    </div>

    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:01</div>
      </div>
      <div class="chatbot__widget chatbot__widget--button-group">
        <form>
          <button disabled>Button A</button>
        </form>
        <form>
          <button disabled selected>Button B</button>
        </form>
        <form>
          <button disabled>Button C</button>
        </form>
        <form>
          <button disabled>Button D</button>
        </form>
      </div>
    </div>

  </div>
</div>
  <% end %>
</section>


<section>
  <h2>List</h2>
  <h3>Horizontal list</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--list chatbot__widget--list--horizontal">
        <div id="horizontal-list">
          <div class="chatbot__widget chatbot__widget--text">
            <p><strong>Hello</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt repudiandae quidem, deleniti blanditiis accusantium ipsam omnis dignissimos natus earum ad, ea. Eius fugiat dolorum rerum vel, hic laborum voluptate, repellat?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt repudiandae quidem, deleniti blanditiis accusantium ipsam omnis dignissimos natus earum ad, ea. Eius fugiat dolorum rerum vel, hic laborum voluptate, repellat?</p>
          </div>

          <div class="chatbot__widget chatbot__widget--image">
            <img src="<%= image_path('style-guide/kitten.jpg') %>">
            <div class="chatbot__widget--image__info">
              <div class="chatbot__widget--image__info__title">
                Miaou !
              </div>
            </div>
          </div>

          <div class="chatbot__widget chatbot__widget--button-group">
            <form>
              <button>Button A</button>
            </form>
            <form>
              <button>Button B</button>
            </form>
            <form>
              <button>Button C</button>
            </form>
            <form>
              <button>Button D</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>

  <h3>Vertical list</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--list chatbot__widget--list--vertical">
        <div class="chatbot__widget chatbot__widget--text">
          Hello
        </div>
        <div class="chatbot__widget chatbot__widget--image">
          <img src="<%= image_path('style-guide/kitten.jpg') %>">
        </div>
        <div class="chatbot__widget chatbot__widget--button-group">
          <form>
            <button>👍 Like!</button>
          </form>
          <form>
            <button>👎 Don't like!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Animation</h2>
  <p>
    Remove CSS class <code>chatbot__avatar--hidden</code> and <code>chatbot__widget--hidden</code>
    in order to make avatar and widget visible via an animation.
  </p>
  <%= highlight_html do %>
<div class="chatbot" id="text_animation_demo">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--text">
        Can a kangaroo jump higher than a house ? Of course ! Houses can't jump.
      </div>
    </div>
  </div>
</div>
  <% end %>
  <script>
    function addItem() {
      avatar = $('#text_animation_demo .chatbot__avatar').last()
      widget = $('#text_animation_demo .chatbot__widget').last()
      avatar.removeClass('chatbot__avatar--hidden')
      widget.removeClass('chatbot__widget--hidden')
    }

    function removeItem() {
      avatar = $('#text_animation_demo .chatbot__avatar').last()
      widget = $('#text_animation_demo .chatbot__widget').last()
      avatar.addClass('chatbot__avatar--hidden')
      widget.addClass('chatbot__widget--hidden')
    }

    function addRemoveItemDemo() {
      addItem();
      window.setTimeout(removeItem, 1500);
    }
    addRemoveItemDemo();
    window.setInterval(addRemoveItemDemo, 3000);
  </script>
</section>


<section>
  <h2>Waiting</h2>
  <p>
    Used when user wait for bot response.
  </p>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--text">
        Hello
      </div>
    </div>
    <div class="chatbot__statement chatbot__statement--user">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_avatar.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:01</div>
      </div>
      <div class="chatbot__widget chatbot__widget--text">
        I wondered why the frisbee was getting bigger. Then it hit me.
      </div>
    </div>
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__statement__waiting">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 10">
          <path d="M4.784 7.608a2.392 2.392 0 0 1-4.784 0 2.392 2.392 0 1 1 4.784 0z" class="point-a"/>
          <path d="M12.392 7.608a2.392 2.392 0 0 1-4.784 0 2.392 2.392 0 1 1 4.784 0z" class="point-b"/>
          <path d="M20 7.608a2.392 2.392 0 0 1-4.784 0 2.392 2.392 0 1 1 4.784 0z" class="point-c"/>
        </svg>
      </div>
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Notification</h2>
  <p>
    Used to display a global message in the conversation.
  </p>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--user">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_avatar.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--text">
        Are you there ?
      </div>
    </div>
    <div class="chatbot__statement chatbot__statement--moderator">
      <div class="chatbot__widget chatbot__widget--notification">
        <span class="icon icon--white">
          <%= icon_alert %>
        </span>
        Bot currently not available.
      </div>
    </div>
  </div>
</div>
  <% end %>
</section>
