<style>
  .console{
    height: 30em;
    max-width: 30em;
    box-shadow: 0 0 0  5px rgba(0, 0, 0, .05),
                0 0 0 10px rgba(0, 0, 0, .05),
                0 0 0 15px rgba(0, 0, 0, .05);
  }
</style>

<div class="sg-intro">
  <h1>Console</h1>
  <p>Agent test UI.</p>
</div>

<section>
  <h2>Structure</h2>
  <%= highlight_html do %>
<div class="console">
  <div class="console__header">

    <div class="console__header__visual background-color-gradient__brown">
    </div>

    <div class="console__header__content">
      <div class="console__header__content__title">
        <strong>
          My awesome first agent <em>- <%= t('views.console.title') %></em>
        </strong>
        <small>
          <span class="badge badge--small badge--success">GET</span>
          <code>/api/v1/interpret.json</code>
        </small>
      </div>
    </div>

    <div class="console__header__actions">
      <a href="#" class="btn btn--small btn--plain">
        <span class="icon icon--small">
          <%= icon_refresh %>
        </span>
      </a>
      <a href="#" class=" btn btn--small btn--plain">
        <span class="icon icon--small">
          <%= icon_fullscreen %>
        </span>
      </a>
    </div>

  </div>

  <form>
    <div class="field">
      <div class="control">
        <div class="dropdown">
          <div class="dropdown__trigger">
            <button class="btn btn--outline btn--small">
              fr
              <span class="icon icon--x-small">
                <%= icon_arrow_down %>
              </span>
            </button>
          </div>
          <div class="dropdown__content dropdown__content--hidden">
            <ul>
              <li><a href="#" class="current">fr</a></li>
              <li><a href="#">en</a></li>
              <li><a href="#">None</a></li>
            </ul>
          </div>
        </div>
        <div class="dropdown">
          <div class="dropdown__trigger">
            <button class="btn btn--outline btn--small">
              Verbose OFF
              <span class="icon icon--x-small">
                <%= icon_arrow_down %>
              </span>
            </button>
          </div>
          <div class="dropdown__content dropdown__content--hidden">
            <ul>
              <li><a href="#" class="current">Verbose OFF</a></li>
              <li><a href="#">Verbose ON</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control control--merged">
        <input type="text" placeholder="Say something..." name="sentence"
               value="Racontes moi une blague" />
        <button class="btn btn--primary">
          <span class="icon icon--small">
            <%= icon_check %>
          </span>
        </button>
      </div>
    </div>
  </form>

  <div class="console__tabs">
    <div class="tabs tabs--small tabs--on-center">
      <ul>
        <li>
          <a href="#" class="current" data-action="console-switch-to-explain">Explain</a>
        </li>
        <li>
          <a href="#" data-action="console-switch-to-json">JSON</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="console__output">
    <div class="c-explain" id="console-explain">
      <p>
        <span class="badge badge--success">200</span>
        <%= t('views.console.intent_found', count: 1) %>
      </p>
      <ul class="c-intents">
        <li class="c-intent">
          <div class="c-intent__header">
            <a href="#">Interpretation</a>
            <span class="c-intent__header__slug">
              user/agent
            </span>
            <span class="c-intent__header__score">
              <span class="badge badge--grey badge--small badge--outline">
                0.99
              </span>
            </span>
          </div>
          <ul>
            <li>
              <div class="c-intent__label">Solution</div>
              <pre><code class='language-javascript'>{
  "type": "query",
  "joke": {
    "query": "Comment ramasse-t-on la papaye ?",
    "response": "Avec une foufourche"
  }
}</code></pre>
            </li>
          </ul>
        </li>
      </ul>

      <div class="c-explain__footer">
        <a href="#">Go to API endpoint</a>
        <a href="#">Download package</a>
      </div>
    </div>
    <div id="console-json" style="display:none;">
      <pre><code class='language-javascript'>{
  "interpretations": [
    {
      "id": "18650ef2-89fd-4bd6-92a5-a4a7a969d3c1",
      "slug": "jmvallet/the-best-agent-ever/interpretations/give-me-a-joke",
      "name": "give-me-a-joke",
      "score": 0.87,
      "solution": {
        "type": "query",
        "joke": {
          "query": "Comment ramasse-t-on la papaye ?",
          "response": "Avec une foufourche"
        }
      }
    }
  ]
}</code></pre>
    </div>
  </div>

</div>
  <% end %>
</section>
