<div class="sg-intro">
  <h1>Dropdown</h1>
  <p>
    Dropdown are used to display a list of actions or selectable options.
  </p>
</div>

<section>
  <h2>Default</h2>
  <p>
    Basic dropdown. Respect HTML structure i.e. <code>.dropdown</code> must have 2 children <code>.dropdown__trigger</code> and <code>.dropdown__content</code>.
  </p>

  <%= highlight_html do %>
<div class="dropdown">
  <div class="dropdown__trigger">
    <button class="btn">
      Navigate
      <span class="icon icon--x-small">
        <%= icon_arrow_down %>
      </span>
    </button>
  </div>
  <div class="dropdown__content dropdown__content--hidden">
    <ul>
      <li><a href="#">Option 1</a></li>
      <li><a href="#" class="current">Option 2</a></li>
      <li class="separator"><a href="#">Option 3</a></li>
      <li><a href="#">Option 4</a></li>
      <li><a href="#">Option 5</a></li>
      <li class="separator"><a class="destructive" href="#section-3">Delete</a></li>
    </ul>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Complex choices</h2>
  <p>
    Use <code>.dropdown__content__item-title</code> & <code>.dropdown__content__item-description</code> in order to add some explanations when choices are complex.
  </p>
  <%= highlight_html do %>
<div class="dropdown">
  <div class="dropdown__trigger">
    <button class="btn">
      CSS
      <span class="icon icon--x-small">
        <%= icon_arrow_down %>
      </span>
    </button>
  </div>
  <div class="dropdown__content dropdown__content--hidden">
    <ul>
      <li>
        <a href="#">
          <div class="dropdown__content__item-title">
            HTML
          </div>
          <div class="dropdown__content__item-description">
            Standard markup language for creating web pages and web applications.
          </div>
        </a>
        <a href="#" class="current">
          <div class="dropdown__content__item-title">
            CSS
          </div>
          <div class="dropdown__content__item-description">
            Style sheet language used for describing the presentation of a document written in a markup language like HTML.
          </div>
        </a>
        <a href="#">
          <div class="dropdown__content__item-title">
            JavaScript
          </div>
          <div class="dropdown__content__item-description">
            High-level, interpreted programming language that conforms to the ECMAScript specification.
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
  <% end %>

</section>

<section>
  <h2>Right alignement</h2>
  <p>
    <code>.dropdown_content</code> is left aligned by default, in order to have a right alignment uses <code>.dropdown__content--on-right</code> class.
  </p>
  <%= highlight_html do %>
<div class="dropdown">
  <div class="dropdown__trigger">
    <button class="btn">
      Navigate
      <span class="icon icon--x-small">
        <%= icon_arrow_down %>
      </span>
    </button>
  </div>
  <div class="dropdown__content dropdown__content--hidden dropdown__content--on-right">
    <ul>
      <li><a href="#">Section 1</a></li>
      <li><a href="#" class="current">Section 2</a></li>
      <li><a href="#">Section 3</a></li>
    </ul>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>JS Behaviors</h2>
  <p>3 available behaviors through <code>data-behavior</code> attribute.</p>

  <table>
    <thead>
      <tr>
        <th><code>data-behavior</code> value</th>
        <th>Behavior description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code>populate-input</code>
        </td>
        <td>
          <p>Populate one input found via <code>data-input-selector</code> attribute value with <code>data-input-value</code> attribute value.</p>
        </td>
      </tr>
      <tr>
        <td>
          <code>replace-trigger-label</code>
        </td>
        <td>
          <p>
            Replace trigger label found via <code>data-replace-selector</code> attribute value with <code>data-replace-with</code> attribute value.</p>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <code>submit-form</code>
        </td>
        <td>
          <p>
            Submit a form found via <code>data-form-selector</code> attribute value.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <code>trigger-event</code>
        </td>
        <td>
          <p>
            Fire on <code>body</code> the JS event defined by <code>data-trigger-event</code> attribute value.
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    You can also play with drowpdown via JavaScript events. The event <code>dropdown:click</code> allow to update a dropdown specifying a <code>dropdown_selector</code> to identify the dropdown and a <code>on</code> used to identify the link on which the click is made.
  </p>
  <p>
    The event <code>dropdown:click</code> will take care of <code>populate-input</code>, <code>replace-trigger-label</code> and <code>trigger-event</code> behaviors.
  </p>
  <pre>
    $('body').trigger('dropdown:click', { selector: '#my-dropdown', on: 'email' })
  </pre>

  <%= highlight_html do %>
<form class="dropdown-form-example" action="/style-guide">
  <div class="dropdown" id="my-dropdown">
    <div class="dropdown__trigger">
      <button class="btn">
        <span class="btn__label">Sort by last action</span>
        <span class="icon icon--x-small">
          <%= icon_arrow_down %>
        </span>
      </button>
    </div>
    <div class="dropdown__content dropdown__content--hidden">
      <ul>
        <li>
          <a href="#" class="current"
             data-behavior="populate-input, replace-trigger-label"
             data-input-selector=".dropdown-input"
             data-input-value="last_action"
             data-form-selector=".dropdown-form-example"
             data-replace-with="Sort by last action"
             data-replace-selector=".btn__label">
            Last action
          </a>
        </li>
        <li>
          <a href="#"
             data-behavior="populate-input, replace-trigger-label"
             data-input-selector=".dropdown-input"
             data-input-value="email"
             data-form-selector=".dropdown-form-example"
             data-replace-with="Sort by email"
             data-replace-selector=".btn__label">
            Email
          </a>
        </li>
      </ul>
    </div>
  </div>
  <input type="hidden" class="dropdown-input" name="search[sort_by]" />
</form>
  <% end %>
</section>
