<div class="sg-intro">
  <h1>Form</h1>
</div>

<section>
  <p>
     When combining several form elements, use the <code>field</code>
     class as a container, to keep the spacing consistent.
  </p>
  <h2>Basic form</h2>
  <%= highlight_html do %>
<div class="field">
  <div class="control">
    <label for="username">Username</label> <span class="badge badge--small badge--outline">REQUIRED</span>
    <input type="text" placeholder="Text input placeholder" name="username" id="username" />
  </div>
</div>
<div class="field">
  <div class="control">
    <label for="password">Password</label> <span class="badge badge--small badge--outline">REQUIRED</span>
    <input type="password" name="password" id="password" />
    <div class="help">This is a help text</div>
  </div>
</div>
<div class="field">
  <div class="control">
    <input type="checkbox" id="rememberme">
    <label class="checkbox" for="rememberme">Remember me</label>
  </div>
</div>
<div class="field">
  <input type="submit" value="Log in" class="btn btn--primary" />
  <button type="button" class="btn btn--plain">Cancel</button>
</div>
  <% end %>
</section>


<section>
  <h2>Help variants</h2>
  <%= highlight_html do %>
<div class="field">
  <label for="password-a">Password</label>
  <span class="help">
    <span class="icon icon--x-small"><%= icon_information %></span>
    Choose your password, at least 8 characters.
  </span>
  <input type="password" name="password" id="password-a" />
</div>
<div class="field">
  <label for="password-a">Password</label>
  <input type="password" name="password" id="password-a" />
  <div class="help">
    <span class="icon icon--x-small"><%= icon_information %></span>
    Choose your password, at least 8 characters.
  </div>
</div>
<div class="field">
  <label for="password-b">Password</label>
  <input type="password" name="password" id="password-b" />
  <div class="help help--success">
    <span class="icon icon--x-small"><%= icon_information %></span>
    Yeah ! Your password has at least 8 characters.
  </div>
</div>
<div class="field">
  <label for="password-c">Password</label>
  <div class="field_with_errors">
    <input type="password" name="password" id="password-c" />
  </div>
  <div class="help help--error">
    <span class="icon icon--x-small"><%= icon_alert %></span>
    Password must have at least 8 characters.
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Merged control</h2>
  <%= highlight_html do %>
<div class="field">
  <div class="control control--merged">
    <input type="text" placeholder="One input" name="username" />
    <button class="btn btn--primary">Validate</button>
  </div>
</div>
<div class="field">
  <div class="control control--merged">
    <input type="text" placeholder="First input" />
    <input type="text" placeholder="Second input" />
    <button class="btn btn--destructive">Remove</button>
  </div>
</div>
<div class="field">
  <div class="control control--merged">
    <input type="text" placeholder="One input" name="username" />
    <button class="btn">Add</button>
    <button class="btn">Remove</button>
  </div>
</div>
<div class="field">
  <div class="control control--merged">
    <span class="addon">This in an addon</span>
    <input type="text" placeholder="One input" name="username" />
    <button class="btn">Validate</button>
  </div>
</div>
<div class="field">
  <div class="control control--merged">
    <span class="addon">This in an addon at beginning</span>
    <input type="text" placeholder="One input" name="username" />
    <span class="addon">This in an addon at end</span>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Inline form</h2>
  <h3>Default</h3>
  <%= highlight_html do %>
<div class="field field--inline">
  <div class="control">
    <label for="username">Username</label>
    <input type="text" placeholder="Text input placeholder" name="username" id="username" />
  </div>
  <div class="control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="control">
    <input type="submit" value="Log in" class="btn btn--primary" />
  </div>
</div>
  <% end %>

  <h3>Expanded</h3>
  <%= highlight_html do %>
<div class="field field--inline field--inline--expanded">
  <div class="control">
    <label for="username">Username</label>
    <input type="text" placeholder="Text input placeholder" name="username" id="username" />
  </div>
  <div class="control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="control">
    <input type="submit" value="Log in" class="btn btn--primary" />
  </div>
</div>
  <% end %>

  <h3>Center alignment</h3>
  <%= highlight_html do %>
<div class="field field--inline field--inline--centered">
  <div class="control">
    <label for="username">Username</label>
    <input type="text" placeholder="Text input placeholder" name="username" id="username" />
  </div>
  <div class="control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="control">
    <input type="submit" value="Log in" class="btn btn--primary" />
  </div>
</div>
  <% end %>

  <h3>Right alignment</h3>
  <%= highlight_html do %>
<div class="field field--inline field--inline--right">
  <div class="control">
    <label for="username">Username</label>
    <input type="text" placeholder="Text input placeholder" name="username" id="username" />
  </div>
  <div class="control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="control">
    <input type="submit" value="Log in" class="btn btn--primary" />
  </div>
</div>
  <% end %>
</section>



<section>
  <h2>File upload</h2>
  <%= highlight_html do %>
<div class="field field--upload">
  <label for="file_input">
    <div>
      <p>
        Drag file here or click to choose a file
      </p>
      <div class="help">
        <span class="icon icon--x-small"><%= icon_information %></span>
        The maximum file size allowed is 2Mo.
      </div>
    </div>
  </label>
  <input type="file" id="file_input">
</div>
  <% end %>
</section>


<section>
  <h2>Selectize</h2>
  <%= highlight_html do %>
<div class="field">
  <div class="control">
    <label>Simple</label>
    <input type="text" class="input-selectize" />
  </div>
</div>

<div class="field">
  <div class="control">
    <label>Multiple</label>
    <input type="text" class="input-selectize-multiple" />
  </div>
</div>

<div class="field">
  <label>Single & Merged control</label>
  <div class="control control--merged">
    <span class="addon">This in an addon</span>
    <div class="merged-control-container">
      <input type="text" class="input-selectize" />
    </div>
    <button class="btn btn--primary">Validate</button>
  </div>
</div>
  <% end %>
</section>



<script>
  $('.input-selectize').selectize({
    maxItems: 1,
    persist: false,
    valueField: 'email',
    labelField: 'email',
    placeholder: "Search",
    searchField: ['email'],
    create: false,
    render: {
      option: function(item, escape){
        return "<div>" + escape(item.email) + "</div>";
      }
    },
    load: function(query, callback){
      return callback([
        { email: "jean-marie.vallet@pertimm.com" },
        { email: "olivier.despesse@pertimm.com" }
      ]);
    }
  });
  $('.input-selectize-multiple').selectize({
    persist: false,
    valueField: 'email',
    labelField: 'email',
    placeholder: "Search",
    searchField: ['email'],
    create: false,
    render: {
      option: function(item, escape){
        return "<div>" + escape(item.email) + "</div>";
      }
    },
    load: function(query, callback){
      return callback([
        { email: "jean-marie.vallet@pertimm.com" },
        { email: "olivier.despesse@pertimm.com" }
      ]);
    }
  });
</script>



<section>
  <h2>Color picker</h2>
  <h3>Basic</h3>
  <%= highlight_html do %>
<div class="field">
  <div class="control">
    <label for="color">Choose a color</label>
    <ul class="color-picker" data-input-selector="#color_value">
      <li><button type="button" class="background-color__black"       data-input-value="black"      ></button></li>
      <li><button type="button" class="background-color__red current" data-input-value="red"        ></button></li>
      <li><button type="button" class="background-color__pink"        data-input-value="pink"       ></button></li>
      <li><button type="button" class="background-color__purple"      data-input-value="purple"     ></button></li>
      <li><button type="button" class="background-color__deep-purple" data-input-value="deep-purple"></button></li>
      <li><button type="button" class="background-color__indigo"      data-input-value="indigo"     ></button></li>
      <li><button type="button" class="background-color__blue"        data-input-value="blue"       ></button></li>
      <li><button type="button" class="background-color__light-blue"  data-input-value="light-blue" ></button></li>
      <li><button type="button" class="background-color__cyan"        data-input-value="cyan"       ></button></li>
      <li><button type="button" class="background-color__teal"        data-input-value="teal"       ></button></li>
      <li><button type="button" class="background-color__green"       data-input-value="green"      ></button></li>
      <li><button type="button" class="background-color__light-green" data-input-value="light-green"></button></li>
      <li><button type="button" class="background-color__lime"        data-input-value="lime"       ></button></li>
      <li><button type="button" class="background-color__yellow"      data-input-value="yellow"     ></button></li>
      <li><button type="button" class="background-color__amber"       data-input-value="amber"      ></button></li>
      <li><button type="button" class="background-color__orange"      data-input-value="orange"     ></button></li>
      <li><button type="button" class="background-color__deep-orange" data-input-value="deep-orange"></button></li>
      <li><button type="button" class="background-color__brown"       data-input-value="brown"      ></button></li>
    </ul>
    <input type="hidden" id="color_value" />
  </div>
</div>
  <% end %>

  <h3>Color picker with preview</h3>
  <%= highlight_html do %>
<div class="field">
  <div class="control">
    <label for="color">Choose a background color gradient</label>
    <div class="color-picker-preview background-color-gradient__red">
      <div>
        <ul class="color-picker" data-input-selector="#color_value">
          <li><button type="button" class="background-color__black"       data-input-value="black"      ></button></li>
          <li><button type="button" class="background-color__red current" data-input-value="red"        ></button></li>
          <li><button type="button" class="background-color__pink"        data-input-value="pink"       ></button></li>
          <li><button type="button" class="background-color__purple"      data-input-value="purple"     ></button></li>
          <li><button type="button" class="background-color__deep-purple" data-input-value="deep-purple"></button></li>
          <li><button type="button" class="background-color__indigo"      data-input-value="indigo"     ></button></li>
          <li><button type="button" class="background-color__blue"        data-input-value="blue"       ></button></li>
          <li><button type="button" class="background-color__light-blue"  data-input-value="light-blue" ></button></li>
          <li><button type="button" class="background-color__cyan"        data-input-value="cyan"       ></button></li>
          <li><button type="button" class="background-color__teal"        data-input-value="teal"       ></button></li>
          <li><button type="button" class="background-color__green"       data-input-value="green"      ></button></li>
          <li><button type="button" class="background-color__light-green" data-input-value="light-green"></button></li>
          <li><button type="button" class="background-color__lime"        data-input-value="lime"       ></button></li>
          <li><button type="button" class="background-color__yellow"      data-input-value="yellow"     ></button></li>
          <li><button type="button" class="background-color__amber"       data-input-value="amber"      ></button></li>
          <li><button type="button" class="background-color__orange"      data-input-value="orange"     ></button></li>
          <li><button type="button" class="background-color__deep-orange" data-input-value="deep-orange"></button></li>
          <li><button type="button" class="background-color__brown"       data-input-value="brown"      ></button></li>
        </ul>
      </div>
    </div>
    <input type="hidden" id="color_value" />
  </div>
</div>
  <% end %>


</section>
