<h1>Style guide</h1>
<h2 class="tagline">Used to build viky.ai user interface</h2>
<%= render 'typography' %>
<%= render 'icon' %>
<%= render 'logo' %>
<%= render 'badge' %>
<%= render 'button' %>
<%= render 'dropdown' %>
<%= render 'form' %>
<%= render 'table' %>
<%= render 'card' %>
<%= render 'blankslate' %>
<%= render 'agent' %>
<%= render 'agent_box' %>
<%= render 'modal' %>
<%= render 'tabs' %>
<%= render 'nav' %>
