<div class="sg-intro">
  <h1>Intents list</h1>
  <p>
    Displayed in agent main page.
  </p>
</div>

<section>
  <%= highlight_html do %>
<ul class="intents-list">
  <li>
    <a href="#">
      <span class="intents-list__item__name">travel-from-to</span>
      <span class="intents-list__item__desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium neque, voluptatum explicabo nemo perspiciatis ipsum sequi quibusdam veniam culpa vero labore.
      </span>
    </a>
    <div class="intents-list__item__stats">
      378 interpretations
    </div>
    <div class="intents-list__item__actions">
      <div class="dropdown">
        <div class="dropdown__trigger">
          <button class="btn btn--small">
            <span class="icon icon--x-small">
              <%= icon_dots %>
            </span>
          </button>
        </div>
        <div class="dropdown__content dropdown__content--hidden dropdown__content--on-right">
          <ul>
            <li>
              <a href="#">
                <span class="icon icon--x-small">
                  <%= icon_settings %>
                </span>
                Configure
              </a>
            </li>
            <li class="separator">
              <a href="#" class="destructive">
                <span class="icon icon--x-small">
                  <%= icon_delete %>
                </span>Delete
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li>
    <a href="#">
      <span class="intents-list__item__name">buy-something</span>
    </a>
    <div class="intents-list__item__stats">
      23 interpretations
    </div>
    <div class="intents-list__item__actions">
      <div class="dropdown">
        <div class="dropdown__trigger">
          <button class="btn btn--small">
            <span class="icon icon--x-small">
              <%= icon_dots %>
            </span>
          </button>
        </div>
        <div class="dropdown__content dropdown__content--hidden dropdown__content--on-right">
          <ul>
            <li>
              <a href="#">
                <span class="icon icon--x-small">
                  <%= icon_settings %>
                </span>
                Configure
              </a>
            </li>
            <li class="separator">
              <a href="#" class="destructive">
                <span class="icon icon--x-small">
                  <%= icon_delete %>
                </span>Delete
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li>
    <a href="#">
      <span class="intents-list__item__name">date</span>
      <span class="intents-list__item__desc">
        Error qui eaque nam. Odio cumque praesentium, alias quia recusandae molestias.
      </span>
    </a>
    <div class="intents-list__item__stats">
      56 interpretations
    </div>
    <div class="intents-list__item__actions">
      <div class="dropdown">
        <div class="dropdown__trigger">
          <button class="btn btn--small">
            <span class="icon icon--x-small">
              <%= icon_dots %>
            </span>
          </button>
        </div>
        <div class="dropdown__content dropdown__content--hidden dropdown__content--on-right">
          <ul>
            <li>
              <a href="#">
                <span class="icon icon--x-small">
                  <%= icon_settings %>
                </span>
                Configure
              </a>
            </li>
            <li class="separator">
              <a href="#" class="destructive">
                <span class="icon icon--x-small">
                  <%= icon_delete %>
                </span>Delete
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
  <% end %>
</section>
