<div class="sg-intro">
  <h1>Intents list</h1>
  <p>
    Displayed in agent main page.
  </p>
</div>

<section>
  <h2>Default list state</h2>
  <%= highlight_html do %>
<ul class="intents-list">
  <li>
    <a href="#">
      <span class="intents-list__item__name">travel-from-to</span>
      <span class="intents-list__item__desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium neque, voluptatum explicabo nemo perspiciatis ipsum sequi quibusdam veniam culpa vero labore.
      </span>
    </a>
    <div class="intents-list__item__stats">
      378 interpretations
    </div>
    <div class="intents-list__item__actions">
      <div class="dropdown">
        <div class="dropdown__trigger">
          <button class="btn btn--small">
            <span class="icon icon--x-small">
              <%= icon_dots %>
            </span>
          </button>
        </div>
        <div class="dropdown__content dropdown__content--hidden dropdown__content--on-right">
          <ul>
            <li>
              <a href="#">
                <span class="icon icon--x-small">
                  <%= icon_settings %>
                </span>
                Configure
              </a>
            </li>
            <li class="separator">
              <a href="#" class="destructive">
                <span class="icon icon--x-small">
                  <%= icon_delete %>
                </span>Delete
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li>
    <a href="#">
      <span class="intents-list__item__name">buy-something</span>
    </a>
    <div class="intents-list__item__stats">
      23 interpretations
    </div>
    <div class="intents-list__item__actions">
      <div class="dropdown">
        <div class="dropdown__trigger">
          <button class="btn btn--small">
            <span class="icon icon--x-small">
              <%= icon_dots %>
            </span>
          </button>
        </div>
        <div class="dropdown__content dropdown__content--hidden dropdown__content--on-right">
          <ul>
            <li>
              <a href="#">
                <span class="icon icon--x-small">
                  <%= icon_settings %>
                </span>
                Configure
              </a>
            </li>
            <li class="separator">
              <a href="#" class="destructive">
                <span class="icon icon--x-small">
                  <%= icon_delete %>
                </span>Delete
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li>
    <a href="#">
      <span class="intents-list__item__name">date</span>
      <span class="intents-list__item__desc">
        Error qui eaque nam. Odio cumque praesentium, alias quia recusandae molestias.
      </span>
    </a>
    <div class="intents-list__item__stats">
      56 interpretations
    </div>
    <div class="intents-list__item__actions">
      <div class="dropdown">
        <div class="dropdown__trigger">
          <button class="btn btn--small">
            <span class="icon icon--x-small">
              <%= icon_dots %>
            </span>
          </button>
        </div>
        <div class="dropdown__content dropdown__content--hidden dropdown__content--on-right">
          <ul>
            <li>
              <a href="#">
                <span class="icon icon--x-small">
                  <%= icon_settings %>
                </span>
                Configure
              </a>
            </li>
            <li class="separator">
              <a href="#" class="destructive">
                <span class="icon icon--x-small">
                  <%= icon_delete %>
                </span>Delete
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
  <% end %>
</section>


<section>
  <h2>Reorganize list state</h2>
  <p>
    Link to intent is disabled via CSS class <code>.disabled</code>. HTML <code>div</code> with CSS class<code>.intents-list__item__stats</code> and <code>.intents-list__item__actions</code> are hidden. HTML <code>div</code> with CSS class <code>.intents-list__item__draggable</code> are displayed in order to show the draggable handle.
  </p>
  <p>
    JS library <a href="http://rubaxa.github.io/Sortable/">Sortable</a> is used in order to setup Drag&Drop functionality.
  </p>
  <%= highlight_html do %>
<ul class="intents-list" id="sortable-list">
  <li>
    <a href="#" class="disabled">
      <span class="intents-list__item__name">travel-from-to</span>
      <span class="intents-list__item__desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium neque, voluptatum explicabo nemo perspiciatis ipsum sequi quibusdam veniam culpa vero labore.
      </span>
    </a>
    <div class="intents-list__item__draggable">
      <a href="#" class="btn btn--outline btn--small btn--drag">
        <span class="icon icon--x-small">
          <%= icon_drag_handle %>
        </span>
        Move
      </a>
    </div>
  </li>
  <li>
    <a href="#" class="disabled">
      <span class="intents-list__item__name">buy-something</span>
    </a>
    <div class="intents-list__item__draggable">
      <a href="#" class="btn btn--outline btn--small btn--drag">
        <span class="icon icon--x-small">
          <%= icon_drag_handle %>
        </span>
        Move
      </a>
    </div>
  </li>
  <li>
    <a href="#" class="disabled">
      <span class="intents-list__item__name">date</span>
      <span class="intents-list__item__desc">
        Error qui eaque nam. Odio cumque praesentium, alias quia recusandae molestias.
      </span>
    </a>
    <div class="intents-list__item__draggable">
      <a href="#" class="btn btn--outline btn--small btn--drag">
        <span class="icon icon--x-small">
          <%= icon_drag_handle %>
        </span>
        Move
      </a>
    </div>
  </li>
</ul>
<script>
  Sortable.create($('#sortable-list')[0], {
    handle: '.btn--drag',
    animation: 100
  });
</script>
  <% end %>
</section>
