<div class="sg-intro">
  <h1>Interpretation list</h1>
  <p>
    Displayed in intent main page.
  </p>
</div>

<section>
  <h2>Default list state</h2>
  <%= highlight_html do %>
<ul class="interpretations-list">
  <li>
    <a href="#" class="interpretations-list__show">Hello citizen</a>
  </li>
  <li>
    <a href="#" class="interpretations-list__show">Good morning</a>
  </li>
  <li>
    <a href="#" class="interpretations-list__show">How can I help you ?</a>
  </li>
</ul>
  <% end %>
</section>

<section>
  <h2>Update list state</h2>
  <p>
    Click on an item will switch to update state.
  </p>
  <%= highlight_html do %>
<ul class="interpretations-list">
  <li>
    <form action="#" class="interpretations-list__edit">
      <div class="field">
        <div class="control control--merged">
          <input value="Hello citizen" type="text"/>
          <button class="btn">
            Update
          </button>
          <a href="#" class="btn">
            Cancel
          </a>
          <button class="btn btn--destructive">
            <span class='icon icon--small'><%= icon_delete %></span>
          </button>
        </div>
      </div>
    </form>
  </li>
  <li>
    <form action="#" class="interpretations-list__edit">
      <div class="field">
        <div class="control control--merged">
          <input value="Good morning" type="text"/>
          <button class="btn">
            Update
          </button>
          <a href="#" class="btn">
            Cancel
          </a>
          <button class="btn btn--destructive">
            <span class='icon icon--small'><%= icon_delete %></span>
          </button>
        </div>
      </div>
    </form>
  </li>
  <li>
    <form action="#" class="interpretations-list__edit">
      <div class="field">
        <div class="control control--merged">
          <input value="How can I help you ?" type="text"/>
          <button class="btn">
            Update
          </button>
          <a href="#" class="btn">
            Cancel
          </a>
          <button class="btn btn--destructive">
            <span class='icon icon--small'><%= icon_delete %></span>
          </button>
        </div>
      </div>
    </form>
  </li>
</ul>
  <% end %>
</section>
