<div class="sg-intro">
  <h1>Interpretation list</h1>
  <p>
    Displayed in intent main page.
  </p>
</div>

<section>
  <h2>Edit list</h2>
  <p>
    JS library <a href="http://rubaxa.github.io/Sortable/">Sortable</a> is used in order to setup Drag&Drop functionality.
  </p>
  <%= highlight_html do %>
<ul id="sortable-list_example-1" class="interpretations-list">
  <li>
    <div class="interpretations-list__draggable"></div>
    <a href="#" class="interpretations-list__show">Hello citizen Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi delectus eius eos magni nemo odit officia quae rem! Animi, illum obcaecati. Alias aspernatur blanditiis ea hic illum molestias natus tenetur?</a>
  </li>
  <li>
    <div class="interpretations-list__draggable"></div>
    <a href="#" class="interpretations-list__show">Good morning <span class="badge">Auto solution</span></a>
  </li>
  <li>
    <div class="interpretations-list__draggable"></div>
    <a href="#" class="interpretations-list__show">How can I help you ?</a>
  </li>
</ul>
<script>
  Sortable.create($('#sortable-list_example-1')[0], {
      handle: '.interpretations-list__draggable',
      animation: 100
  });
</script>
  <% end %>
</section>


<section>
  <h2>Edit list RTL</h2>
  <%= highlight_html do %>
<ul id="sortable-list_example-2" class="interpretations-list">
  <li>
    <div class="interpretations-list__draggable"></div>
    <a href="#" class="interpretations-list__show" dir="rtl">سالو</a>
  </li>
  <li>
    <div class="interpretations-list__draggable"></div>
    <a href="#" class="interpretations-list__show" dir="rtl">مرسي <span class="badge">Auto solution</span></a>
  </li>
  <li>
    <div class="interpretations-list__draggable"></div>
    <a href="#" class="interpretations-list__show" dir="rtl">أبلكاسيون ويب</a>
  </li>
</ul>
<script>
  Sortable.create($('#sortable-list_example-2')[0], {
      handle: '.interpretations-list__draggable',
      animation: 100
  });
</script>
  <% end %>
</section>

<section>
  <h2>Show list</h2>
  <p>
    Used when user can only show agent. Link to detailed interpretation is present only if interpretation has alias or has a custom solution.
  </p>
  <%= highlight_html do %>
<ul class="interpretations-list">
  <li>
    <a href="#" class="interpretations-list__show">Hello citizen</a>
  </li>
  <li>
    <span class="interpretations-list__show">Good morning <span class="badge">Auto solution</span></span>
  </li>
  <li>
    <a href="#" class="interpretations-list__show">How can I help you ?</a>
  </li>
</ul>
  <% end %>
</section>


<section>
  <h2>Show detailed list</h2>
  <%= highlight_html do %>
<ul class="interpretations-list">
  <li>
    <div class="interpretations-list__show interpretations-list__show-detailed">
      <div class="interpretations-list__show-detailed__resume">
        Hello citizen
        <a href="#" class="close">
          <span class="icon">
            <%= icon_close %>
          </span>
        </a>
      </div>
      <div class="interpretations-list__show-detailed__solution">
        <span class="solution-label">Solution</span>
        <textarea id="solution-show-detailed">{
"who": "greeting.who"
}</textarea>
      </div>
    </div>
  </li>
  <li>
    <span class="interpretations-list__show">Good morning <span class="badge">Auto solution</span></span>
  </li>
  <li>
    <a href="#" class="interpretations-list__show">How can I help you ?</a>
  </li>
</ul>
<script>
  App.CodeEditor.buildJavaScriptEditor($("#solution-show-detailed")[0], true);
</script>
  <% end %>
</section>


<section>
  <h2>Update list state</h2>
  <p>
    Click on an item will switch to update state.
  </p>
  <p>
    JS library <a href="http://rubaxa.github.io/Sortable/">Sortable</a> is used in order to setup Drag&Drop functionality.
  </p>
  <%= highlight_html do %>
<ul id="sortable-list_example-3" class="interpretations-list">
  <li>
    <div class="interpretations-list__draggable"></div>
    <form action="#" class="interpretations-list__edit">
      <div class="field">
        <input value="Hello citizen" type="text"/>
      </div>
      <div class="field">
        <div class="control">
          <span class="solution-label">Solution</span>
          <textarea rows="3">{
"who": "greeting.who"
}</textarea>
        </div>
      </div>
      <div class="field field--submit">
        <div class="control">
          <button class="btn btn--primary">Update</button>
        </div>
      </div>
    </form>
  </li>
  <li>
    <div class="interpretations-list__draggable"></div>
    <a href="#" class="interpretations-list__show">Good morning <span class="badge">Auto solution</span></a>
  </li>
  <li>
    <div class="interpretations-list__draggable"></div>
    <a href="#" class="interpretations-list__show">How can I help you ?</a>
  </li>
</ul>
<script>
  Sortable.create($('#sortable-list_example-3')[0], {
    handle: '.interpretations-list__draggable',
    animation: 100
  });
</script>
  <% end %>
</section>
