<div class="sg-intro">
  <h1>Modal</h1>
  <p>
    Modals are used to display confirmation before destroy action, display forms or selection options to user without losing UI state.
  </p>
</div>

<section>
  <h2>Behaviors</h2>
  <p>
    Modal behaviors are drived by <code>data-action</code> attributes on HTML element.
  </p>
  <table>
    <thead>
      <tr>
        <th><code>data-action</code> value</th>
        <th>Behavior description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>open-remote-modal</code></td>
        <td>
          Open modal from AJAX request.
          <ul>
            <li>Build base modal HTML markup.</li>
            <li>Make AJAX request.</li>
            <li>
              AJAX responseText is injected in modal content
              (on status <code>403</code> App.Message.alert is called)
            </li>
            <li>Display modal, setup <code>ESC</code> key listener.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><code>update-remote-modal</code></td>
        <td>
          Replace opened modal from AJAX request.
          <ul>
            <li>Make AJAX request.</li>
            <li>
              AJAX responseText is injected in modal content
              (on status <code>403</code> App.Message.alert is called)
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><code>close-modal</code></td>
        <td>
          Close modal, remove <code>ESC</code> key listener.
        </td>
      </tr>
      <tr>
        <td><code>set-loading-modal</code></td>
        <td>
          Replace opened modal with loading content.
        </td>
      </tr>
      <tr>
        <td><code>open-modal</code></td>
        <td>
          Open modal with content from HTML element selected via <code>data-modal-selector</code> attribute.
        </td>
      </tr>
    </tbody>
  </table>

</section>

<section>
  <h2>HTML Markup</h2>
  <%= highlight_html do %>
<p>
  <a href="#" class="btn btn--primary"
     data-action="open-modal"
     data-modal-selector="#modal">Open modal baby!</a>
</p>
<div class="modal" style="display: none;" id="modal">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">
    <h5 class="modal__main__title">
       Laborum beatae ratione
      <button class="modal__main__title__close" data-action='close-modal'><%= icon_close %></button>
    </h5>
    <div class="modal__main__content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        <button class="btn btn--primary" data-action='close-modal'>Yes, i'm ok this</button>
        <button class="btn" data-action='close-modal'>No, i disagree</button>
      </p>
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Large content</h2>
  <%= highlight_html do %>
<p>
  <a href="#" class="btn btn--destructive"
     data-action="open-modal"
     data-modal-selector="#large-content-modal">Be careful, there is large content inside this modal</a>
</p>
<div class="modal" style="display: none;" id="large-content-modal">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">
    <h5 class="modal__main__title">
       Laborum beatae ratione
      <button class="modal__main__title__close" data-action='close-modal'><%= icon_close %></button>
    </h5>
    <div class="modal__main__content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        <button class="btn btn--primary" data-action='close-modal'>Yes, i'm ok this</button>
        <button class="btn" data-action='close-modal'>No, i disagree</button>
      </p>
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Size variant</h2>
  <%= highlight_html do %>
<p>
  <a href="#" class="btn btn--primary"
     data-action="open-modal"
     data-modal-selector="#modal-large">Open large modal!</a>
</p>
<div class="modal modal--large" style="display: none;" id="modal-large">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">
    <h5 class="modal__main__title">
       Laborum beatae ratione
      <button class="modal__main__title__close" data-action='close-modal'><%= icon_close %></button>
    </h5>
    <div class="modal__main__content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        <button class="btn btn--primary" data-action='close-modal'>Yes, i'm ok this</button>
        <button class="btn" data-action='close-modal'>No, i disagree</button>
      </p>
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Chooser</h2>
  <%= highlight_html do %>
<p>
  <a href="#" class="btn btn--primary"
     data-action="open-modal"
     data-modal-selector="#modal-chooser">Open chooser modal</a>
</p>
<div class="modal" style="display: none;" id="modal-chooser">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">
    <h5 class="modal__main__title">
      Choose one value
      <button class="modal__main__title__close" data-action='close-modal'><%= icon_close %></button>
    </h5>
    <div class="modal__main__chooser">
      <ul>
        <li><a href="#" data-action='close-modal'>Option A</a></li>
        <li><a href="#" data-action='close-modal'>Option B</a></li>
        <li><a href="#" data-action='close-modal'>Option C</a></li>
        <li><a href="#" data-action='close-modal'>Option D</a></li>
        <li><a href="#" data-action='close-modal'>Option E</a></li>
      </ul>
    </div>
  </div>
</div>
  <% end %>

</section>
