<div class="sg-intro">
  <h1>Nav</h1>
  <p>Used to navigate through application or style guide.</p>
</div>

<section>
  <h2>Horizontal navigation</h2>
  <%= highlight_html do %>
<div class="h-nav">
  <div class="h-nav__header">
    <a href="#" class="logo">
      <%= logo_on_dark %>
    </a>
  </div>

  <div class="h-nav__content">
    <ul>
      <li><a href="#">Item A</a></li>
      <li><a href="#" class="current">Item B</a></li>
      <li><a href="#">Item C</a></li>
      <li><a href="#">Item D</a></li>
      <li><a href="#">Item E</a></li>
    </ul>
  </div>

  <div class="h-nav__content">
    <ul>
      <li><a href="#">Username</a></li>
      <li>
        <a href="#">
          Log out
          <span class="icon">
            <%= icon_logout %>
          </span>
        </a>
      </li>
    </ul>
  </div>

</div>
  <% end %>
</section>

<section>
  <h2>Vertical navigation</h2>
  <%= highlight_html do %>
<div class="v-nav">
  <div class="v-nav__header">
    <a href="#" class="logo">
      <%= logo_on_dark %>
    </a>
  </div>
  <div class="v-nav__content">
    <ul>
      <li><a href="#">Item A</a></li>
      <li>
        <a href="#" class="current">Item B</a>
        <ul>
          <li><a href="#">Item B1</a></li>
          <li><a href="#">Item B2</a></li>
          <li><a href="#" class="current">Item B3</a></li>
        </ul>
      </li>
      <li><a href="#">Item C</a></li>
      <li><a href="#">Item D</a></li>
      <li><a href="#">Item E</a></li>
    </ul>
  </div>
</div>
  <% end %>
