<div class="sg-intro">
  <h1>Robot</h1>
  <p>
    Robot mascot is used in blankslate, no result search message.
  </p>
</div>


<section>
  <h2>Usage</h2>
  <%= highlight_html do %>
<img src='<%= asset_path("robot-idle.png") %>'
     srcset='<%= asset_path("robot-idle.png") %> 1x,
             <%= asset_path("robot-idle@2x.png") %> 2x'
     style='width: 80px'/>
<img src='<%= asset_path("robot-confused.png") %>'
     srcset='<%= asset_path("robot-confused.png") %> 1x,
             <%= asset_path("robot-confused@2x.png") %> 2x'
     style='width: 80px'/>
<img src='<%= asset_path("robot-happy.png") %>'
     srcset='<%= asset_path("robot-happy.png") %> 1x,
             <%= asset_path("robot-happy@2x.png") %> 2x'
     style='width: 80px'/>
<img src='<%= asset_path("robot-no-watching.png") %>'
     srcset='<%= asset_path("robot-no-watching.png") %> 1x,
             <%= asset_path("robot-no-watching@2x.png") %> 2x'
     style='width: 80px'/>
  <% end %>
</section>


<section>
  <h2>80px width</h2>
  <%= highlight_html do %>
<%= image_tag "robot-idle.png" %>
<%= image_tag "robot-confused.png" %>
<%= image_tag "robot-happy.png" %>
<%= image_tag "robot-no-watching.png" %>
  <% end %>
</section>

<section>
  <h2>160px width (retina version)</h2>
  <%= highlight_html do %>
<%= image_tag "robot-idle@2x.png" %>
<%= image_tag "robot-confused@2x.png" %>
<%= image_tag "robot-happy@2x.png" %>
<%= image_tag "robot-no-watching@2x.png" %>
  <% end %>
</section>
