<div class="sg-intro">
  <h1>Tabs</h1>
</div>

<section>
  <h2>Default</h2>
  <%= highlight_html do %>
<div class="tabs">
  <ul>
    <li><a href="#">First item</a></li>
    <li><a href="#" class="current">Second item</a></li>
    <li><a href="#">Third item</a></li>
  </ul>
</div>
  <% end %>
</section>

<section>
  <h2>Alignment</h2>
  <p>
    To align the tabs list on center, use the <code>.tabs--on-center</code> modifier on <code>.tabs</code> container.
  </p>
  <%= highlight_html do %>
<div class="tabs tabs--on-center">
  <ul>
    <li><a href="#">First item</a></li>
    <li><a href="#" class="current">Second item</a></li>
    <li><a href="#">Third item</a></li>
  </ul>
</div>
  <% end %>
  <p>
    To align the tabs list on right, use the <code>.tabs--on-right</code> modifier on <code>.tabs</code> container.
  </p>
  <%= highlight_html do %>
<div class="tabs tabs--on-right">
  <ul>
    <li><a href="#">First item</a></li>
    <li><a href="#" class="current">Second item</a></li>
    <li><a href="#">Third item</a></li>
  </ul>
</div>
  <% end %>
</section>

<section>
  <h2>Size</h2>
  <p>
    To change size of the tabs list, use the <code>.tabs--small</code> or <code>.tabs--large</code> modifier on <code>.tabs</code> container.
  </p>
  <%= highlight_html do %>
<div class="tabs tabs--small">
  <ul>
    <li><a href="#">First item</a></li>
    <li><a href="#" class="current">Second item</a></li>
    <li><a href="#">Third item</a></li>
  </ul>
</div>
<div class="tabs">
  <ul>
    <li><a href="#">First item</a></li>
    <li><a href="#" class="current">Second item</a></li>
    <li><a href="#">Third item</a></li>
  </ul>
</div>
<div class="tabs tabs--large">
  <ul>
    <li><a href="#">First item</a></li>
    <li><a href="#" class="current">Second item</a></li>
    <li><a href="#">Third item</a></li>
  </ul>
</div>
  <% end %>
</section>

<section>
  <h2>Tabs & badges</h2>
  <%= highlight_html do %>
<div class="tabs">
  <ul>
    <li><a href="#">First item <span class="badge">1</span></a></li>
    <li><a href="#" class="current">Second item <span class="badge badge--primary">12</span></a></li>
    <li><a href="#">Third item <span class="badge">789</span></a></li>
  </ul>
</div>
  <% end %>
</section>
