<header class="header">
  <div class="header__breadcrumb">
    Backend / User Management
  </div>
  <div class="header__search">
    <%= render "search" %>
  </div>
  <div class="header__tools">
    <a href="#" class="btn btn--primary">Invite new user</a>
  </div>
</header>

<div class="card">
  <div class="card-content">
    <h2>
      <%= page_entries_info @users %>
    </h2>
    <% @users.each do |user| %>
      <h3>
        <%= user.email %>
        <% unless user.confirmed? %>
          <span class="badge">
            <%= t('views.backend.users.index.status.not-confirmed') %>
          </span>
        <% end %>
        <% if user.locked_at? %>
          <span class="badge">
            <%= t('views.backend.users.index.status.locked') %>
          </span>
        <% end %>
      </h3>

      <% if user.confirmed? %>
        <p>
          <%= t('views.backend.users.index.last_login') %>
          <% if user.current_sign_in_at.nil? %>
            Never
          <% else %>
            <%= l(user.current_sign_in_at, format: :short) %>
          <% end %>
          <br />
          <%= t('views.backend.users.index.login_count') %>
          <%= user.sign_in_count %>
        </p>
      <% else %>
        <p>
          <%= t('views.backend.users.index.last_confirmation') %>
          <%= l(user.confirmation_sent_at, format: :short) %>
        </p>
      <% end %>

      <% if user.locked_at? %>
        <p>
          <%= t('views.backend.users.index.locked_at') %>
          <%= l(user.locked_at, format: :short) %>
        </p>
      <% end %>
    <% end %>


    <%= paginate @users %>
  </div>
</div>

