<header class="header header--backend-users">
  <div class="header__breadcrumb">
    <%= t('views.backend.breadcrumb.base') %> /
    <strong><%= t('views.backend.breadcrumb.user_management') %></strong>
  </div>
  <div class="header__search">
    <%= render "search" %>
  </div>
  <div class="header__tools">
    <% if Feature.email_configured? %>
      <a href="<%= new_user_invitation_path %>" class="btn btn--primary">
        <span class="icon icon--small"><%= icon_add_circle %></span> New invitation
      </a>
    <% end %>
  </div>
</header>
<style>
  table td{
    vertical-align: top;
  }
</style>

<% if @users.exists? %>
  <div class="card">
    <div class="card-content">
      <p>
        <%= page_entries_info @users %>
      </p>
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Agents</th>
            <th>Status</th>
            <th>Last log in</th>
            <th class="number">Log in count</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <div class="user">
                  <div class="user__avatar">
                    <img src="<%= user.image_url(:square) %>" />
                  </div>
                  <div class="user__info">
                    <%= user.name_or_username %>
                    <% if user.admin? %>
                      <span class="badge badge--primary"><%= t('views.backend.users.index.admin_badge') %></span>
                    <% end %>
                    <small><%= user.email %></small>
                  </div>
                </div>
              </td>
              <td>
                <span class="merged-badges">
                  <span class="badge">Owner</span>
                  <span class="badge badge--primary">
                    <%= user.memberships.where(rights: 'all').count %>
                  </span>
                </span>
                <br />
                <span class="merged-badges">
                  <span class="badge">Collaborator</span>
                  <span class="badge badge--grey">
                    <%= user.memberships.where.not(rights: 'all').count %>
                  </span>
                </span>
              </td>
              <td>
                <% if Feature.email_configured? %>
                  <% if user.confirmed? %>
                    <span class="badge badge--success">
                      <%= t('views.backend.users.index.status.confirmed') %>
                    </span>
                  <% else %>
                    <span class="badge badge--warning">
                      <%= t('views.backend.users.index.status.not-confirmed') %>
                    </span>
                    <% unless user.confirmation_sent_at.nil? %>
                      <p>
                        <small>
                          <%= t('views.backend.users.index.last_confirmation') %>
                          <%= l(user.confirmation_sent_at, format: :long) %>.
                        </small>
                      </p>
                    <% end %>
                  <% end %>

                  <% if user.locked_at? %>
                    <span class="badge badge--danger">
                      <%= t('views.backend.users.index.status.locked') %>
                    </span>
                    <p>
                      <small>
                        <%= t('views.backend.users.index.locked_since') %>
                        <%= l(user.locked_at, format: :long) %>.
                      </small>
                    </p>
                  <% end %>

                  <% unless user.invitation_status == :not_invited %>
                    <% if user.invitation_status == :valid %>
                      <p>
                        <small title="<%= t('views.backend.users.index.invitation_send_on', date: l(user.created_at, format: :long)) %> <% unless user.invited_by.nil? %><%= t('views.backend.users.index.invited_by', email: user.invited_by.email) %><% end %>">
                          <%= t('views.backend.users.index.invitation_expires_in') %>
                          <%= distance_of_time_in_words(
                                user.invitation_sent_at, user.invitation_sent_at + User.invite_for,
                                scope: 'views.datetime.distance_in_words.short'
                              ) %>
                        </small>
                      </p>
                    <% else %>
                      <% if user.invitation_status == :expired %>
                        <span class="badge badge--danger">
                          <%= t('views.backend.users.index.status.invitation-expired') %>
                        </span>
                      <% end %>
                    <% end %>
                  <% end %>
                <% else %>
                  <span class="badge badge--warning">
                    <%= t('views.backend.users.index.status.not-confirmed') %>
                  </span>
                <% end %>
              </td>

              <td>
                <% if !Feature.email_configured? || user.confirmed? %>
                  <% unless user.current_sign_in_at.nil? %>
                    <%= l(user.current_sign_in_at, format: :long) %>
                  <% end %>
                <% end %>
              </td>

              <td class="number">
                <% if !Feature.email_configured? || user.confirmed? %>
                  <%= user.sign_in_count %>
                <% end %>
              </td>
              <td class="actions">
                <% unless !Feature.email_configured? || user.confirmed? %>
                  <a href="<%= reinvite_backend_user_path(user) %>"
                     class="btn btn--primary btn--small btn--outline">
                    <%= t('views.backend.users.index.reinvite.btn') %>
                  </a>
                <% end %>
                <% if user.can_be_destroyed? %>
                  <a href="<%= confirm_destroy_backend_user_path(user) %>"
                     class="btn btn--small btn--outline btn--destructive"
                     data-action="open-remote-modal">
                    <%= t('views.backend.users.index.delete.btn') %>
                  </a>
                <% end %>
                <% if current_user.email != user.email && (!Feature.email_configured? || user.confirmed?) %>
                  <%= link_to t('views.backend.users.index.switch.btn'), impersonate_backend_user_path(user.id), method: :post, class: "btn btn--primary btn--small btn--outline" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
<% else %>
  <br />
  <div class="blankslate">
    <div class="blankslate__illustration">
      <img src='<%= asset_path("robot-confused.png") %>'
           srcset='<%= asset_path("robot-confused.png") %> 1x,
                   <%= asset_path("robot-confused@2x.png") %> 2x' />
    </div>
    <div class="blankslate__content">
      <h2><%= t('views.backend.users.index.not_found') %></h2>
      <a href="<%= backend_users_path %>" class="btn btn--primary">
        <span class='icon icon--small'><%= icon_loading %></span>
        <%= t('views.backend.users.index.reset_search') %>
      </a>
    </div>
  </div>
<% end %>

