<header class="header header--backend-users">
  <div class="header__breadcrumb">
    <%= t('views.backend.breadcrumb.base') %> /
    <strong><%= t('views.backend.breadcrumb.user_management') %></strong>
  </div>
  <div class="header__search">
    <%= render "search" %>
  </div>
  <div class="header__tools">
    <% if Feature.email_configured? %>
      <a href="<%= new_user_invitation_path %>" class="btn btn--primary">
        <span class="icon icon--small"><%= icon_add_circle %></span> New invitation
      </a>
    <% end %>
  </div>
</header>

<% if @users.exists? %>
  <div class="backend-users">
    <% @users.each do |user| %>
    <div>

      <div class="user">
        <div class="user__avatar">
          <img src="<%= user.image_url(:square) %>" />
        </div>
        <div class="user__info">
          <%= user.name_or_username %>
          <% if user.admin? %>
            <span class="badge badge--primary"><%= t('views.backend.users.index.admin_badge') %></span>
          <% end %>
          <small><%= user.email %></small>
        </div>
      </div>

      <% if Feature.email_configured? %>
        <% unless user.confirmed? %>
          <div class="user-status">
            <span class="badge badge--warning">
              <%= t('views.backend.users.index.status.not-confirmed') %>
            </span>
            <% unless user.confirmation_sent_at.nil? %>
              <p>
                <%= t('views.backend.users.index.last_confirmation') %>
                <%= l(user.confirmation_sent_at, format: :long) %>.
              </p>
            <% end %>
          </div>
        <% end %>

        <% if user.locked_at? %>
          <div class="user-status">
            <span class="badge badge--danger">
              <%= t('views.backend.users.index.status.locked') %>
            </span>
            <p>
              <%= t('views.backend.users.index.locked_since') %>
              <%= l(user.locked_at, format: :long) %>.
            </p>
          </div>
        <% end %>

        <% unless user.invitation_status == :not_invited %>
          <div class="user-status">
            <% if user.invitation_status == :valid %>
              <p>
                <span title="<%= t('views.backend.users.index.invitation_send_on', date: l(user.created_at, format: :long)) %> <% unless user.invited_by.nil? %><%= t('views.backend.users.index.invited_by', email: user.invited_by.email) %><% end %>">
                  <%= t('views.backend.users.index.invitation_expires_in') %>
                  <%= distance_of_time_in_words(
                        user.invitation_sent_at, user.invitation_sent_at + User.invite_for,
                        scope: 'views.datetime.distance_in_words.short'
                      ) %>
                </span>
              </p>
            <% else %>
              <% if user.invitation_status == :expired %>
                <span class="badge badge--danger">
                  <%= t('views.backend.users.index.status.invitation-expired') %>
                </span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <div class="user-info">
        <% counter = user.memberships.select(:rights).group(:rights).count %>
        <p>
          <small>Owner of</small>
          <em><%= pluralize(counter['all'].to_i, 'agent') %></em>
        </p>
        <p>
          <small>Collaborator on</small>
          <em><%= pluralize(counter['edit'].to_i + counter['show'].to_i, 'agent') %></em>
        </p>

        <% if !Feature.email_configured? || user.confirmed? %>
          <p>
            <small>Created at</small>
            <em><%= l(user.created_at, format: :long) %></em>
          </p>
          <% unless user.current_sign_in_at.nil? %>
            <p>
              <small>
                Last login
                <span class="badge badge--outline" title="<%= pluralize(user.sign_in_count, "login") %>">
                  <%= user.sign_in_count %>
                </span>
              </small>
              <em><%= l(user.current_sign_in_at, format: :long) %></em>
            </p>
          <% end %>
        <% end %>
      </div>

      <% if Feature.quota_enabled? %>
        <div class="user-feature">
          <div>Quota feature</div>
          <div>
            <%= form_with(url: toggle_quota_enabled_backend_user_path(user)) do |f| %>
              <button
                class="btn btn--toggle btn--toggle-<% if user.quota_enabled %>on<% else %>off<% end %>"
                id="js-toogle-quota-<%= user.id %>"></button>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if Feature.chatbot_enabled? %>
        <div class="user-feature">
          <div>Chatbot feature</div>
          <div>
            <%= form_with(url: toggle_chatbot_enabled_backend_user_path(user)) do |f| %>
              <button
                class="btn btn--toggle btn--toggle-<% if user.chatbot_enabled %>on<% else %>off<% end %>"
                id="js-toogle-chatbot-<%= user.id %>"></button>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="user-actions">
        <% if current_user.email != user.email && (!Feature.email_configured? || user.confirmed?) %>
          <%= link_to t('views.backend.users.index.switch.btn'), impersonate_backend_user_path(user.id), method: :post, class: "btn btn--primary btn--small btn--outline" %>
        <% end %>
        <% unless !Feature.email_configured? || user.confirmed? %>
          <a href="<%= reinvite_backend_user_path(user) %>"
             class="btn btn--primary btn--small btn--outline">
            <%= t('views.backend.users.index.reinvite.btn') %>
          </a>
        <% end %>
        <% if user.can_be_destroyed? %>
          <a href="<%= confirm_destroy_backend_user_path(user) %>"
             class="btn btn--small btn--outline btn--destructive"
             data-action="open-remote-modal">
            <%= t('views.backend.users.index.delete.btn') %>
          </a>
        <% end %>
      </div>

    </div>
    <% end %>
  </div>
  <%= paginate @users %>
<% else %>
  <br />
  <div class="blankslate">
    <div class="blankslate__illustration">
      <img src='<%= asset_path("robot-confused.png") %>'
           srcset='<%= asset_path("robot-confused.png") %> 1x,
                   <%= asset_path("robot-confused@2x.png") %> 2x' />
    </div>
    <div class="blankslate__content">
      <h2><%= t('views.backend.users.index.not_found') %></h2>
      <a href="<%= backend_users_path %>" class="btn btn--primary">
        <span class='icon icon--small'><%= icon_loading %></span>
        <%= t('views.backend.users.index.reset_search') %>
      </a>
    </div>
  </div>
<% end %>
