<%= form_for(
      @search,
      as: :search,
      url: backend_users_path,
      method: :get
    ) do |f| %>

  <div class="field">
    <%= f.label :sort_by %><br />
    <%= f.select :sort_by, [[ 'Last action', 'last_action' ], ['Email', 'email']] %>
  </div>

  <div class="field">
    <%= f.radio_button("status", "")  %>
    <label for="search_status_">All</label><br />

    <%= f.radio_button("status", "not-confirmed") %>
    <label for="search_status_not-confirmed">Not confirmed</label><br />

    <%= f.radio_button("status", "locked")  %>
    <label for="search_status_locked">Locked</label>
  </div>

  <div class="field">
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </div>
  <%= f.button "Search", class: 'btn btn--primary', data: { disable_with: t('loading') } %>
<% end %>

<h2><%= pluralize(@users.count, "user") %></h2>

<% @users.each do |user| %>
  <div class="card">
    <div class="card-content">
      <h3>
        <%= user.email %>
        <% unless user.confirmed? %><span class="badge">not confirmed</span><% end %>
        <% if user.locked_at? %><span class="badge">locked</span><% end %>
      </h3>

      <% if user.confirmed? %>
        <p>
          Last login: <%= l(user.current_sign_in_at, format: :short) %><br />
          Log in count: <%= user.sign_in_count %>
        </p>
      <% else %>
        <p>
          Last confirmation sent at: <%= l(user.confirmation_sent_at, format: :short) %>
        </p>
      <% end %>

      <% if user.locked_at? %>
        <p>
          Locked at: <%= l(user.locked_at, format: :short) %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<%= paginate @users %>
