<header class="header">
  <div class="header__breadcrumb">
    <%= t('views.backend.breadcrumb.base') %> /
    <strong><%= t('views.backend.breadcrumb.user_management') %></strong>
  </div>
  <div class="header__search">
    <%= render "search" %>
  </div>
  <div class="header__tools">
    <a href="<%= new_user_invitation_path %>" class="btn btn--primary">
      <span class="icon icon--small"><%= icon_add_circle %></span> New invitation
    </a>
  </div>
</header>

<div class="card">
  <div class="card-content">
    <p>
      <%= page_entries_info @users %>
    </p>
    <% unless @users.count == 0 %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Status</th>
          <th>Last log in</th>
          <th class="number">Log in count</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <% istatus = user.invitation_status %>
          <tr>
            <td>
              <%= user.email %>
            </td>

            <td>
              <% if user.confirmed? %>
                <span class="badge badge--success">
                  <%= t('views.backend.users.index.status.confirmed') %>
                </span>
              <% else %>
                <span class="badge badge--warning">
                  <%= t('views.backend.users.index.status.not-confirmed') %>
                </span>
                <% if istatus[:status] == :expired %>
                  <span class="badge badge--danger">
                    <%= t('views.backend.users.index.status.invitation-expired') %>
                  </span>
                <% end %>
                <% unless user.confirmation_sent_at.nil? %>
                  <p>
                    <small>
                      <%= t('views.backend.users.index.last_confirmation') %>
                      <%= l(user.confirmation_sent_at, format: :short) %>.
                    </small>
                  </p>
                <% end %>
              <% end %>

              <% if user.locked_at? %>
                <span class="badge badge--danger">
                  <%= t('views.backend.users.index.status.locked') %>
                </span>
                <p>
                  <small>
                    <%= t('views.backend.users.index.locked_since') %>
                    <%= l(user.locked_at, format: :short) %>.
                  </small>
                </p>
              <% end %>

              <% unless user.invited_by.nil? %>
                <p>
                  <small>
                    <%= t('views.backend.users.index.last_invitation') %>
                    <%= l(user.created_at, format: :short) %><br />
                    <%= t('views.backend.users.index.invited_by') %>
                    <%= user.invited_by.email %>.
                  </small>
                </p>
                <% if istatus[:status] == :expired %>
                  <a href="<%= reinvite_backend_user_path(user) %>" class="btn btn--primary btn--small btn--outline">
                    <span class="icon icon--small"><%= icon_loading %></span> Resend invitation
                  </a>
                <% elsif (istatus[:status] == :valid && User.invite_for != 0) %>
                  <small>
                    <%= t('views.backend.users.index.expiration') %>
                    <%= distance_of_time_in_words(
                      user.invitation_sent_at, user.invitation_sent_at + User.invite_for,
                      scope: 'views.datetime.distance_in_words.short') %>
                  </small>
                <% end %>
              <% end %>
            </td>

            <td>
              <% if user.confirmed? %>
                <% unless user.current_sign_in_at.nil? %>
                  <%= l(user.current_sign_in_at, format: :short) %>
                <% end %>
              <% end %>
            </td>

            <td class="number">
              <% if user.confirmed? %>
                <%= user.sign_in_count %>
              <% end %>
            </td>
            <td class="actions">
              <a href="#" class="btn btn--small btn--outline btn--destructive">
                <%= t('views.backend.users.index.delete.btn') %>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <%= paginate @users %>

  </div>
</div>

