<% entities_list = entity.entities_list %>
<% agent = entity.entities_list.agent %>
<% owner = entity.entities_list.agent.owner %>

<li id="entity-<%= entity.id %>"
    data-id="<%= entity.id %>">
  <% link = current_user.can?(:edit, agent) ?
                edit_user_agent_entities_list_entity_path(owner, agent, entities_list, entity) :
                show_detailed_user_agent_entities_list_entity_path(owner, agent, entities_list, entity) %>
  <% if current_user.can? :edit, agent %>
    <div class="card-list__item__draggable"></div>
  <% end %>
  <a href="<%= link %>" data-remote="true" >
    <span class="card-list__item__name"><%= truncate(entity.terms.collect{|t| t['term']}.join(', '), length: 60) %></span>
  </a>
  <div class="card-list__item__stats">
    <%= t('views.entities.show.terms', count: entity.terms.count)%>
  </div>
</li>
