<%= form_with(model: [agent.owner, agent, entities_list, entity], id: 'entities-form',
              class: 'entity-form',
              data: {
                  elistname: entities_list.listname
              }) do |f| %>

  <div class="field entity-form__terms">
    <div class="control">
      <%= f.label :terms, for: 'terms__new_entity' %>
      <span class="label--with-option">
        <%= f.check_box :case_sensitive, id: "case_sensitive__#{entity.id}" %>
        <%= f.label :case_sensitive, for: "case_sensitive_label__#{entity.id}" %>
        <%= f.check_box :accent_sensitive, id: "accent_sensitive__#{entity.id}" %>
        <%= f.label :accent_sensitive, for: "accent_sensitive_label__#{entity.id}" %>
      </span>
      <%= text_area_tag('entity[terms]', entity.terms_to_s, id: "terms__new_entity", maxlength: '5000', spellcheck: 'false', autofocus: true, placeholder: t('views.entities.new.placeholder')) %>
    </div>
    <%= display_errors(entity, :terms) %>
  </div>

  <div class="field entity-form__solution">
    <div class="control">
      <%= f.label :solution, for: 'solution__new_entity' %>
      <span class="label--with-option">
        <%= f.check_box :auto_solution_enabled, id: 'auto_solution_enabled__new_entity' %>
        <%= f.label :auto_solution_enabled, for: 'auto_solution_enabled__new_entity' %>
      </span>
      <%= f.text_area :solution, id: "solution__new_entity", maxlength: '2000', spellcheck: 'false' %>
    </div>
    <%= display_errors(entity, :solution) %>
    <%= display_errors(entity, :auto_solution_enabled) %>
  </div>

  <div class="field field--submit">
    <div class="control">
      <%= f.button t('views.entities.new.btn'), class: 'btn btn--primary',
                   data: {
                       disable_with: "<span class='icon icon--small icon--spin'>#{icon_loading}</span> #{t('loading')}".html_safe
                   } %>
    </div>
  </div>
<% end %>
