<div class="modal modal--large" style="display: none;">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">
    <h5 class="modal__main__title">
      <%= t('views.entities_lists.show.import.select_import.title') %>
      <button class="modal__main__title__close" data-action='close-modal'>
        <%= icon_close %>
      </button>
    </h5>
    <div class="modal__main__content">

      <%= form_with model: @entities_import,
                    scope: :import,
                    url: create_import_user_agent_entities_list_entities_path(@agent.owner, @agent, @entities_list),
                    data: { type: 'json' },
                    id: 'import-entities-form',
                    class: 'js-import-entities-form' do |import_form| %>


        <p class="field__title">
          <%= t('views.entities_lists.show.import.select_import.file_label') %>
        </p>

        <%= import_form.hidden_field :file, value: @entities_import.cached_file_data %>
        <div class="field field--upload">
          <%= import_form.file_field :file, id: :import_file, accept: 'text/csv', multiple: false %>
          <label for="import_file">
            <div>
              <p>
                <%= t('file_upload_label') %>
              </p>
              <div class="help">
                <span class="icon icon--x-small"><%= icon_information %></span>
                <%# TODO: remove max size? %>
                <%= t('views.entities_lists.show.import.select_import.max_file_size') %>
              </div>
              <%= display_errors(@entities_import, :file) %>
            </div>
          </label>
        </div>

        <div class="field">
          <p class="field__title"><%= t('views.entities_lists.show.import.select_import.mode.label') %></p>
          <% EntitiesImport.modes.each_key do |mode| %>
            <%= import_form.radio_button :mode, mode %>
            <label class="radio">
              <%= t("views.entities_lists.show.import.select_import.mode.#{mode}") %>
            </label>
            &nbsp;
         <% end %>
        </div>

        <div class="actions">
          <%= import_form.button t('views.entities_lists.show.import.select_import.submit'),
                                 class: "btn btn--primary"%>
          <button id="close-import" class="btn btn--plain" data-action='close-modal'><%= t('cancel') %></button>
        </div>
      <% end %>

      <div id="wait-message" style="display:none">
        <p>
          <span class="icon icon--spin">
            <%= icon_loading %>
          </span>
          <%= t('views.entities_lists.show.import.select_import.wait_message') %>
        </p>
      </div>

      <div id="success-message" style="display:none">
        <p>
          <span class="icon icon--green icon--large">
            <%= icon_check %>
          </span>
          <%= t('views.entities_lists.show.import.select_import.success_message') %>
        </p>
      </div>

    </div>
  </div>
</div>
