<%= render '/agents/header', agent: @agent %>

<div class="header">
  <div class="header__breadcrumb">
    <%= link_to t('views.agents.breadcrumb.entities_lists'), user_agent_entities_lists_path(@agent.owner, @agent) %> /
    <strong>
      <%= @entities_list.listname %>
    </strong>
    <% if @entities_list.is_public? %>
      <span class="badge badge--success badge--small">
        <%= t('activerecord.attributes.entities_list.visibility_is_public').upcase %>
      </span>
    <% end %>
    <% if @entities_list.is_private? %>
      <span class="badge badge--warning badge--small">
        <%= t('activerecord.attributes.entities_list.visibility_is_private').upcase %>
      </span>
    <% end %>
  </div>
  <div class="header__tools">
    <% if current_user.can?(:edit, @agent) %>
      <a href="<%= select_import_user_agent_entities_list_path(@agent.owner, @agent, @entities_list) %>"
         data-action="open-remote-modal" class="btn btn--small">
        <span class="icon icon--x-small">
          <%= icon_upload %>
        </span>
        <%= t('views.entities_lists.show.import.btn') %>
      </a>
    <% end %>
    <a href="<%= user_agent_entities_list_path(@agent.owner, @agent, @entities_list, format: 'csv') %>"
       class="btn btn--small">
      <span class="icon icon--x-small">
        <%= icon_download %>
      </span>
      <%= t('views.entities_lists.show.export_btn') %>
    </a>
  </div>
</div>

<%= render 'entities/index' %>

<% content_for :right_aside do %>
  <%= render '/console/base' %>
<% end %>
