<div class="agent-compact__id">
  <% if agent.image.nil? %>
    <% css_class = "background-color-gradient__#{agent.color}" %>
  <% else %>
    <% css_class = "agent-compact__id__visual--image" %>
    <% css_style = "background-image: url(#{agent.image_url(:background)});" %>
  <% end %>

  <% if display_agent_link %>
    <a href="<%= user_agent_path(agent.owner.username, agent.agentname) %>"
       class="agent-compact__id__visual <%= css_class %>"
       style="<%= css_style %>">
  <% else %>
    <div class="agent-compact__id__visual <%= css_class %>"
         style="<%= css_style %>">
  <% end %>

    <% if agent.is_public? %>
      <span class="agent-compact__id__visual__ribbon">
        <%= t('activerecord.attributes.agent.visibility_is_public') %>
      </span>
    <% end %>

  <% if display_agent_link %>
    </a>
  <% else %>
    </div>
  <% end %>
  <div class="agent-compact__id__data">
    <h5>
      <%= agent.name %>
      <% if agent.fans.exists?(current_user.id) %>
        <span class="icon icon--x-small icon--yellow">
          <%= icon_favorite %>
        </span>
      <% end %>
    </h5>
    <h6><%= agent.slug %></h6>
  </div>
</div>
<div class="agent-compact__actions">
  <% if agent_has_unsuitable_list_pattern?(agent) %>
    <span class='icon icon--small icon--red' title="<%= t('views.play.warning.bad_list_pattern') %>">
      <%= icon_alert %>
    </span>
  <% end %>
