<div class="card-animation-wrapper">
  <div class="card <% unless resource.errors.empty? %>card--shake<% end %>">
    <div class="card-content">

      <h2><%= t 'views.invitations.edit.title' %></h2>
      <h3 class="tagline"><%= t('views.invitations.edit.tagline') %></h3>

      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :invitation_token %>
        <div style="display:none;"><%= f.text_field :email %></div>

        <% if f.object.class.require_password_on_accepting %>
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <span class="help">
                <span class="icon icon--x-small"><%= icon_information %></span>
                <%= t('views.auth.at_least_x_char', min: @minimum_password_length) %>
              </span>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %>
            <%= display_errors(resource, :password) %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.button t('devise.invitations.edit.submit_button'), class: 'btn btn--full btn--large btn--primary',
              data: {
                disable_with: "<span class='icon icon--spin'>#{icon_loading}</span> #{t('loading')}".html_safe
              } %>
        </div>
      <% end %>

    </div>
  </div>
</div>
