<div class="modal modal--play modal--fixed-on-top" style="display: none;">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">
    <h5 class="modal__main__title">
      <%= t('views.play.chooser.title') %>
      <button class="modal__main__title__close" data-action='close-modal'>
        <%= icon_close %>
      </button>
    </h5>

    <%= form_with(
        url: search_play_selection_path,
        method: :get,
        scope: 'search',
        class: "js-play-modal-search-form play-modal-search-form"
      ) do |f| %>

      <div class="field">
        <div class="control control--merged">
          <%= f.text_field :query, placeholder: t('views.play.chooser.search.placeholder'), accesskey: "s" %>
          <%= f.button "<span class='icon icon--small'>#{icon_search}</span>".html_safe,
                class: "btn btn--primary", id: 'search-button',
                data: {
                  disable_with: "<span class='icon icon--small icon--spin'>#{icon_loading}</span>".html_safe
                } %>
        </div>
      </div>

      <input type="hidden" name="search[selected]" value="<%= @search.selected %>"
             id="js-play-search-selected" />
      <input type="hidden" name="search[filter_owner]" value="<%= @search.filter_owner %>"
             id="js-play-search-filter-owner" />

      <div class="field field--inline">

        <div class="control">
          <div class="btn-group">
            <button class="btn btn--small btn--primary" type="button"
                    data-behavior="populate-input,submit-form"
                    data-input-selector="#js-play-search-selected"
                    data-form-selector=".js-play-modal-search-form"
                    data-input-value="all">
              <%= t('views.play.chooser.search.selected.all') %>
            </button>
            <button class="btn btn--small" type="button"
                    data-behavior="populate-input,submit-form"
                    data-input-selector="#js-play-search-selected"
                    data-form-selector=".js-play-modal-search-form"
                    data-input-value="true">
              <%= t('views.play.chooser.search.selected.true') %>
            </button>
            <button class="btn btn--small" type="button"
                    data-behavior="populate-input,submit-form"
                    data-input-selector="#js-play-search-selected"
                    data-form-selector=".js-play-modal-search-form"
                    data-input-value="false">
              <%= t('views.play.chooser.search.selected.false') %>
            </button>
          </div>
        </div>

        <div class="control">
          <div class="btn-group">
            <button class="btn btn--small btn--primary" type="button"
                    data-behavior="populate-input,submit-form"
                    data-input-selector="#js-play-search-filter-owner"
                    data-form-selector=".js-play-modal-search-form"
                    data-input-value="all">
              <%= t('views.play.chooser.search.filter_owner.all') %>
            </button>
            <button class="btn btn--small" type="button"
                    data-behavior="populate-input,submit-form"
                    data-input-selector="#js-play-search-filter-owner"
                    data-form-selector=".js-play-modal-search-form"
                    data-input-value="owned">
              <%= t('views.play.chooser.search.filter_owner.owned') %>
            </button>
            <button class="btn btn--small" type="button"
                    data-behavior="populate-input,submit-form"
                    data-input-selector="#js-play-search-filter-owner"
                    data-form-selector=".js-play-modal-search-form"
                    data-input-value="favorites">
              <%= t('views.play.chooser.search.filter_owner.favorites') %>
            </button>
          </div>
        </div>

      </div>

      <input type="hidden" name="search[selected_ids][]" />
      <div id="play-chooser-search-selected-agents">
        <% @selected_agent_ids.each do |id| %>
          <input type="hidden" name="search[selected_ids][]" value="<%= id %>" id="search__input__<%= id %>" />
        <% end %>
      </div>
    <% end %>

    <div class="modal__main__chooser">
      <%= render partial: "list", locals: {
            agents: @agents,
            selected_agent_ids: @selected_agent_ids
          } %>
    </div>

    <%= form_with(url: play_selection_path, method: :patch, class: "play__modal-footer") do |form| %>
      <div class="play__modal-footer__controls">
        <button class="btn btn--primary" type="submit">
          <%= t('views.play.chooser.btn_submit') %>
        </button>
        <button data-action='close-modal' class="btn btn--plain">
          <%= t('cancel') %>
        </button>
        <input type="hidden" name="selection[agent_ids][]" />
        <div id="play-chooser-selected-agents">
          <% @selected_agent_ids.each do |id| %>
            <input type="hidden" name="selection[agent_ids][]" value="<%= id %>" id="input__<%= id %>" />
          <% end %>
        </div>
      </div>
      <div class="play__modal-footer__state"
           data-i18n-status-one="<%= t('views.play.chooser.status_one') %>"
           data-i18n-status-more="<%= t('views.play.chooser.status_more') %>"
           data-i18n-status-max='<%= t('views.play.chooser.status_more') %> <span class="icon icon--small icon--amber"><%= icon_alert %></span> <%= t('views.play.chooser.status_max') %>'>
      </div>
    <% end %>

  </div>
</div>
