<% if agents.empty? %>
  <div class="modal__main__chooser__no-search-result">
    <img src='<%= asset_path("robot-confused.png") %>'
         srcset='<%= asset_path("robot-confused.png") %> 1x,
                 <%= asset_path("robot-confused@2x.png") %> 2x' /><br />
    <%= t('views.play.chooser.search.not_found') %>
  </div>
<% else %>
  <ul class="agent-compact-list">
    <% agents.each do |agent| %>
      <li>
        <div class="agent-compact agent-compact--play-chooser"
             data-action="play-select-agent"
             data-id="<%= agent.id %>">
          <% cache [agent, current_user, false] do %>
            <%= render partial: "/play/shared/agent_compact", locals: { agent: agent, display_agent_link: false } %>
          <% end %>
          <div class="agent-compact__actions">
            <% if selected_agent_ids.include? agent.id %>
              <button class="btn btn--checkbox btn--checkbox-on"></button>
            <% else %>
              <button class="btn btn--checkbox btn--checkbox-off"></button>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
