<div class="card card--indicator">
  <% tests_count = AgentRegressionCheck.count %>
  <div class="card-main">
    <strong><%= number_with_delimiter(tests_count) %></strong>
    <%= t("views.backend.dashboard.indicators.tests", count: tests_count) %>
  </div>
  <div class="card-detail">
    <% failure_test_count = AgentRegressionCheck.where(state: [:failure, :error]).count %>
    <% running_test_count = AgentRegressionCheck.running.count %>
    <% success_test_count = AgentRegressionCheck.success.count %>
    <span class="ts-status ts-status--success"></span>
    <%= number_with_delimiter(success_test_count) %>
    <% unless failure_test_count.zero? %>
      &nbsp; <span class="ts-status ts-status--failure"></span>
      <%= number_with_delimiter(failure_test_count) %>
    <% end %>
    <% unless running_test_count.zero? %>
      &nbsp; <span class="ts-status ts-status--running"></span>
      <%= number_with_delimiter(running_test_count) %>
    <% end %>
  </div>
</div>
