<h2>
  <%= t("views.backend.dashboard.top_expressions_users") %>
</h2>

<table>
  <tbody>
    <% @top_expressions_users.each do |data| %>
      <% user = User.find(data['owner_id']) %>
      <tr>
        <td>
          <div class="user">
            <div class="user__avatar">
              <img src="<%= user.image_url(:square) %>" />
            </div>
            <div class="user__info">
              <%= user.name_or_username %>
              <% if user.admin? %>
                <span class="badge badge--primary"><%= t('views.backend.users.index.admin_badge') %></span>
              <% end %>
              <small><%= user.email %></small>
            </div>
          </div>
        </td>
        <td><%= data['total'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="top-pagination">
  <%= paginate @top_expressions_users, window: 1, param_name: :expressions_page %>
  <p class="pagination-info"><%= page_entries_info @top_expressions_users %></p>
</div>