<div class="card-animation-wrapper">

  <div class="card <% unless resource.errors.empty? %>card--shake<% end %>">
    <div class="card-content">

      <h2>Resend confirmation instructions</h2>
      <h3 class="tagline">Did not receive a confirmation email?</h3>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          <%= display_errors(resource, :email) %>
        </div>

        <div class="actions">
          <%= f.button "Resend confirmation instructions", class: "btn btn--full btn--large btn--primary",
              data: { disable_with: "<span class='icon icon--spin'>#{icon_loading}</span> Loading".html_safe } %>
        </div>
      <% end %>

    </div>
  </div>

</div>

<%= render "devise/shared/links" %>
