<div class="modal modal--fixed-on-top" style="display: none;">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">
    <h5 class="modal__main__title">
      <%= t('views.dependencies.new.title') %>
      <button class="modal__main__title__close" data-action='close-modal'>
        <%= icon_close %>
      </button>
    </h5>
    <%= render "form_filter" %>
    <div class="modal__main__chooser">
      <% if @available_successors.empty? && !@search.empty? %>
        <div class="modal__main__chooser__no-search-result">
          <%= image_tag "robot-confused@2x.png" %><br />
          <%= t('views.dependencies.new.not_found') %>
        </div>
      <% else %>
        <ul class="agent-compact-list">
          <% @available_successors.each do |agent| %>
            <% cache [agent, current_user] do %>
              <%= render 'successor', agent: agent %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
