<li>
  <div class="agent-compact agent-compact--without-actions">
    <% if from == 'entities_lists' %>
      <% link = move_to_agent_user_agent_entities_list_path(@agent.owner, @agent, id: current_id, user: agent_to_select.owner, agent: agent_to_select) %>
    <% elsif from == 'interpretations' %>
      <% link = move_to_agent_user_agent_interpretation_path(@agent.owner, @agent, id: current_id, user: agent_to_select.owner, agent: agent_to_select) %>
    <% else %>
      <% link = user_agent_dependencies_path(@agent.owner, @agent.agentname, { id: agent_to_select.id }) %>
    <% end %>
    <a href="<%= link %>"
       class="agent-compact__id"
       data-remote="true"
       data-method="post"
       data-action="set-loading-modal"
       rel="nofollow">

      <% cache [agent_to_select, current_user] do %>
        <% if agent_to_select.image.nil? %>
          <% css_class = "background-color-gradient__#{agent_to_select.color}" %>
        <% else %>
          <% css_class = "agent-compact__id__visual--image" %>
          <% css_style = "background-image: url(#{agent_to_select.image_url(:background)});" %>
        <% end %>
        <div class="agent-compact__id__visual <%= css_class %>" style="<%= css_style %>">
          <% if agent_to_select.is_public? %>
          <span class="agent-compact__id__visual__ribbon">
            <%= t('activerecord.attributes.agent.visibility_is_public') %>
          </span>
          <% end %>
        </div>
        <div class="agent-compact__id__data">
          <h5>
            <span><%= agent_to_select.name %></span>
            <% if agent_to_select.fans.exists?(current_user.id) %>
              <span class="icon icon--x-small icon--yellow">
                <%= icon_favorite %>
              </span>
            <% end %>
          </h5>
          <h6><%= agent_to_select.slug %></h6>
        </div>
      <% end %>

    </a>
  </div>
</li>
