<%= form_for(
      @search,
      as: :search,
      url: agents_selection_user_agent_path(@agent.owner, @agent.agentname, current_id: current_id, from: from),
      method: :get,
      html: { class: 'agents_selection_search' },
      data: { action: 'update-remote-modal' } ) do |f| %>
  <div class="field field--inline">
    <div class="control control--merged">
      <%= f.text_field :query, placeholder: t('views.agents.index.search.placeholder'), accesskey: "s" %>
      <%= f.button "<span class='icon icon--small'>#{icon_search}</span>".html_safe,
            class: "btn btn--primary", id: '#search',
            data: {
              disable_with: "<span class='icon icon--small icon--spin'>#{icon_loading}</span>".html_safe
            } %>
    </div>
    <div class="control">
      <div class="btn-group">
        <%= f.hidden_field :filter_owner %>
        <% active_css = @search.filter_owner == 'all' ? 'btn--primary' : '' %>
        <%= f.button t('views.agents.index.filter_owner.all'),
              class: "btn #{active_css}",
              data: {
                behavior: 'populate-input',
                input_selector: "input[name='search[filter_owner]']",
                input_value: 'all',
                action: 'update-remote-modal'
              } %>
        <% active_css = @search.filter_owner == 'favorites' ? 'btn--primary' : '' %>
        <%= f.button t('views.agents.index.filter_owner.favorites'),
              class: "btn #{active_css}",
              data: {
                behavior: 'populate-input',
                input_selector: "input[name='search[filter_owner]']",
                input_value: 'favorites',
                action: 'update-remote-modal'
              } %>
      </div>
    </div>
  </div>
<% end %>
