<aside class="chatbots-list <% if @bot.nil? %>chatbots-list--for-index<% end %>">
  <div class="header__search">
    <%= render "search" %>
  </div>
  <ul>
    <% @bots.each do |bot| %>
      <li>
        <a href="<%= chatbot_path(bot, recognition_locale: @current_recognition_locale, page: params[:page], search: @search.to_hash) %>"
           <% if !@bot.nil? && @bot.id == bot.id %>class="current"<% end %>>

          <span>
            <% css_class = "" %>
            <% if bot.agent.image.nil? %>
              <% css_class = "background-color-gradient__#{bot.agent.color}" %>
            <% end %>
            <span class="bot-avatar <%= css_class %>">
              <% unless bot.agent.image.nil? %>
                <img src="<%= bot.agent.image_url(:avatar) %>" />
              <% end %>
            </span>
          </span>

          <span>
            <span class="bot-name">
              <%= bot.name %>
              <% if bot.wip_enabled? %>
                <span class="badge badge--small badge--primary">
                  <%= t('views.bots.index.wip_badge') %>
                </span>
              <% end %>
            </span>
            <span class="bot-agent">
              <span class="bot-agent__name"><%= bot.agent.name %></span>
              <span class="bot-agent__slug"><%= bot.agent.slug %></span>
            </span>
          </span>

        </a>
      </li>
    <% end %>
  </ul>
  <nav class="pagination">
    <div class="previous">
      <%= link_to_previous_page @bots, t('paginate.previous'), remote: true, params: {controller: 'chatbots', action: 'search'}, class: 'btn btn--small btn--dark' %>
    </div>
    <div class="next">
      <%= link_to_next_page @bots, t('paginate.next'), remote: true, params: {controller: 'chatbots', action: 'search'}, class: 'btn btn--small btn--dark' %>
    </div>
    <div class="context">
      <%= page_entries_info @bots %>
    </div>
  </nav>

</aside>
