<%= form_for(
        @search,
        url: chatbots_path,
        as: :search,
        method: :get,
        html: {
            class: "chatbots_search"
        }) do |f| %>
  <div class="field">
    <div class="control control--merged">
      <%= f.text_field :query, placeholder: t('views.chatbots.index.search.placeholder'), accesskey: "s" %>
      <%= f.button "<span class='icon icon--small'>#{icon_search}</span>".html_safe, class: "btn btn--primary", id: '#search',
          data: {
              disable_with: "<span class='icon icon--small icon--spin'>#{icon_loading}</span>".html_safe
          } %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <div class="btn-group"
           data-behavior="submit-form"
           data-form-selector=".chatbots_search">
        <%= f.hidden_field :filter_wip %>
        <% active_css = !@search.filter_wip ? 'btn--primary' : '' %>
        <%= f.button t('views.chatbots.index.filter_wip'), class: "btn #{active_css}",
            data: {
                input_selector: "input[name='search[filter_wip]']",
                input_value: !@search.filter_wip,
            } %>
      </div>
    </div>
  </div>
<% end %>
