<% content_for :left_aside do %>
  <%= render 'nav' %>
<% end %>

<div class="chatbot"
  data-session-id="<%= @chat_session.id %>"
  data-recognition-locale="<%= @current_recognition_locale %>">
  <div class="chatbot__header">

    <a href="<%= chatbots_path %>" class="btn btn--small btn--primary">
      <span class="icon icon--small">
        <%= icon_arrow_back %>
      </span>
    </a>
    <span>
      <%= @bot.name %>
      <% if @bot.wip_enabled? %>
        <span class="badge badge--small badge--danger">
          <%= t('views.bots.index.wip_badge') %>
        </span>
      <% end %>
    </span>

    <a href="<%= reset_chatbot_path(@bot, recognition_locale: @current_recognition_locale) %>"
       class="btn btn--small btn--primary">
      <span class="icon icon--small">
        <%= icon_loading %>
      </span>
    </a>

  </div>
  <div class="chatbot__discussion">
    <% @chat_session.chat_statements.each do |statement| %>
      <%= render partial: "/chat_statements/widget", locals: { statement: statement } %>
    <% end %>
  </div>
  <div class="chatbot__input">
    <%= form_with url: chatbot_chat_statements_path(@bot), class: 'bot-form' do |f| %>
      <div class="field field--inline">
        <div class="control chatbot-reset-button-container">
          <a href="<%= reset_chatbot_path(@bot, recognition_locale: @current_recognition_locale) %>"
             class="btn">
            <span class="icon icon--small">
              <%= icon_loading %>
            </span>
          </a>
        </div>

        <div class="control control--merged">
          <button type="button" class="btn btn--recognition"
             data-action="recognition-toggle"
             style="display:none;">
            <span class='icon'>
              <%= icon_mic %>
            </span>
          </button>
          <div class="dropdown" style="display:none;">
            <div class="dropdown__trigger">
              <button class="btn" type="button">
                <span class="icon icon--x-small">
                  <%= icon_arrow_down %>
                </span>
              </button>
            </div>
            <div class="dropdown__content dropdown__content--hidden">
              <ul>
                <% @available_recognition_locale.each do |key, data| %>
                  <li>
                    <a href="?recognition_locale=<%= key %>"
                      <% if key.to_s == @current_recognition_locale %>class="current"<% end %>>
                      <span class="badge">
                        <code><%= key %></code>
                      </span>
                      <%= data[:language] %> <small>(<%= data[:country] %>)</small>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>

          <%= text_field_tag 'statement[content]', "", { autocomplete: "off" } %>
          <%= f.button "<span class='icon'>#{icon_check}</span>".html_safe,
                class: "btn btn--primary",
                data: {
                  disable_with: "<span class='icon icon--spin'>#{icon_loading}</span>".html_safe
                } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
