<div id="blankslate-start-or-remove" <% if !(@intent.interpretations_with_local(@current_locale).empty? && @intent.locales.size > 1) %>style="display:none;"<% end %>>

  <div class="card">
    <div class="card-content">

      <div class="blankslate">
        <div class="blankslate__illustration">
          <img src='<%= image_path "robot-idle.png" %>'
               srcset='<%= image_path "robot-idle.png" %> 1x,
                       <%= image_path "robot-idle@2x.png" %> 2x' />
        </div>
        <div class="blankslate__content">
          <% if @current_locale == '*' %>
            <% language = t('views.interpretations.locales.no_locale') %>
          <% else %>
            <% language = @current_locale %>
          <% end %>
          <% if current_user.can? :edit, @agent %>
            <%= t('views.interpretations.blankslate.message_edit_html', language: language) %>
          <% else %>
            <%= t('views.interpretations.blankslate.message_show_html', language: language) %>
          <% end %>
          <% if current_user.can? :edit, @agent %>
            <%= link_to(
              t('views.interpretations.blankslate.btn', language: language),
              user_agent_intent_remove_locale_path(@agent.owner, @agent, @intent, locale_to_remove: @current_locale),
              method: :delete,
              remote: true,
              class: 'btn btn--destructive'
            ) %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>
