<div id="blankslate-start"
     <% unless intent.interpretations_with_local(@current_locale).empty? %>style="display:none;"<% end %>>

  <div class="card">
    <div class="card-content">
      <div class="blankslate">
        <div class="blankslate__illustration">
          <img src='<%= image_path "robot-idle.png" %>'
               srcset='<%= image_path "robot-idle.png" %> 1x,
                       <%= image_path "robot-idle@2x.png" %> 2x' />
        </div>
        <div class="blankslate__content">
          <% if current_locale == Locales::ANY %>
            <% language = t('views.interpretations.locales.no_locale') %>
          <% else %>
            <% language = current_locale %>
          <% end %>
          <p>
            <%= t('views.interpretations.blankslate.no_expression', language: language) %>
            <% if current_user.can? :edit, agent %>
              <br /><%= t('views.interpretations.blankslate.start') %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
