<%= form_with(model: [interpretation.intent.agent.owner, interpretation.intent.agent, interpretation.intent, interpretation], class: 'interpretations-list__edit') do |f| %>
    <div class="field">
      <div class="control control--merged">
        <%= f.text_field :expression %>
        <%= f.button t('views.interpretations.index.update_btn').html_safe, class: 'btn' %>
        <%= link_to t('views.interpretations.index.cancel_btn'), user_agent_intent_interpretation_path(
            interpretation.intent.agent.owner,
            interpretation.intent.agent,
            interpretation.intent,
            interpretation), remote: true,
            class: 'btn' %>
        <%= f.button "<span class='icon icon--small'>#{icon_delete}</span>".html_safe, formmethod: 'DELETE', class: 'btn btn--destructive' %>
      </div>
      <%= display_errors(interpretation, :expression) %>
    </div>
<% end %>
