<div class="interpretations-list__draggable"></div>

<%= form_with(model: [interpretation.intent.agent.owner, interpretation.intent.agent, interpretation.intent, interpretation], class: 'interpretations-list__edit') do |f| %>
  <div class="field">
    <div class="control control--merged">
      <%= f.text_field :expression %>

      <%= f.button t('views.interpretations.index.update_btn').html_safe, class: 'btn',
            data: { disable_with: "<span class='icon icon--small icon--spin'>#{icon_loading}</span>" } %>

      <%= link_to t('views.interpretations.index.cancel_btn'),
            user_agent_intent_interpretation_path(
              interpretation.intent.agent.owner,
              interpretation.intent.agent,
              interpretation.intent,
              interpretation
            ),
            remote: true,
            class: 'btn',
            data: { disable_with: "<span class='icon icon--small icon--spin'>#{icon_loading}</span>" } %>

      <%= link_to "<span class='icon icon--small'>#{icon_delete}</span>".html_safe,
            user_agent_intent_interpretation_path(
              interpretation.intent.agent.owner,
              interpretation.intent.agent,
              interpretation.intent,
              interpretation
            ),
            method: :delete,
            remote: true,
            class: 'btn btn--destructive',
            title: t('views.interpretations.index.delete_btn'),
            data: { disable_with: "<span class='icon icon--small icon--spin'>#{icon_loading}</span>" } %>
    </div>
    <%= display_errors(interpretation, :expression) %>
    </div>
    <div class="field">
      <div class="field field--inline">
        <div class="control">
          <%= f.check_box :keep_order, id: "keep_order__#{interpretation.id}" %>
          <%= f.label :keep_order, for: "keep_order__#{interpretation.id}" %>
        </div>
        <div class="control">
          <%= f.check_box :glued, id: "glued__#{interpretation.id}" %>
          <%= f.label :glued, for: "glued__#{interpretation.id}" %>
        </div>
      </div>
      <div class="control">
        <%= f.label :solution, for: "solution__#{interpretation.id}" %>
        <%= f.text_area :solution, id: "solution__#{interpretation.id}", rows: '3', maxlength: '2000', spellcheck: 'false' %>
      </div>
      <%= display_errors(interpretation, :keep_order) %>
      <%= display_errors(interpretation, :glued) %>
      <%= display_errors(interpretation, :solution) %>
    </div>
<% end %>
