<div class="card-list__item__draggable"></div>

<%= form_with(model: [interpretation.intent.agent.owner, interpretation.intent.agent, interpretation.intent, interpretation], class: 'interpretations-form') do |f| %>

  <% interpretation.interpretation_aliases.select { |ialias| ialias._destroy }.each do |ialias| %>
    <input type="hidden" name="interpretation[interpretation_aliases_attributes][][id]" value="<%= ialias.id %>" />
    <input type="hidden" name="interpretation[interpretation_aliases_attributes][][position_start]"                value="" />
    <input type="hidden" name="interpretation[interpretation_aliases_attributes][][position_end]"                  value="" />
    <input type="hidden" name="interpretation[interpretation_aliases_attributes][][interpretation_aliasable_id]"   value="" />
    <input type="hidden" name="interpretation[interpretation_aliases_attributes][][interpretation_aliasable_type]" value="" />
    <input type="hidden" name="interpretation[interpretation_aliases_attributes][][aliasname]"                     value="" />
    <input type="hidden" name="interpretation[interpretation_aliases_attributes][][nature]"                        value="" />
    <input type="hidden" name="interpretation[interpretation_aliases_attributes][][_destroy]"                      value="1" />
  <% end %>

  <div class="field interpretations-form__interpretation">
    <div class="control trix-control">
      <div class="trix-control__option <% if rtl?(interpretation.locale) %>trix-control__option--rtl<% end %>">
        <%= f.check_box :keep_order, id: "keep_order__#{interpretation.id}" %>
        <%= f.label :keep_order, for: "keep_order__#{interpretation.id}" %>
        &nbsp;
        <%= f.check_box :glued, id: "glued__#{interpretation.id}" %>
        <%= f.label :glued, for: "glued__#{interpretation.id}" %>
        &nbsp;
        <%= f.check_box :auto_solution_enabled, id: "auto_solution_enabled__#{interpretation.id}" %>
        <%= f.label :auto_solution_enabled, for: "auto_solution_enabled__#{interpretation.id}" %>
      </div>
      <textarea name="interpretation[expression]" style="display:none;"
        id="<%= "expression-#{interpretation.id}" %>"><%= display_expression_for_trix(interpretation) %></textarea>
      <trix-editor <% if rtl?(interpretation.locale) %>dir="rtl"<% end %>
        input="<%= "expression-#{interpretation.id}" %>"
        placeholder="<%= t('views.interpretations.new.placeholder') %>"></trix-editor>
    </div>
    <%= display_errors(interpretation, :expression) %>
    <%= display_errors(interpretation, :locale) %>
    <%= display_errors(interpretation, :keep_order) %>
    <%= display_errors(interpretation, :glued) %>
  </div>

  <div class="aliases <% if rtl?(interpretation.locale) %>aliases--rtl<% end %> interpretations-form__summary" style="display: none;"></div>

  <div class="field field--for-solution interpretations-form__solution"
      <% if interpretation.auto_solution_enabled %>style="display:none;"<% end %>>
    <div class="control">
      <span class="solution-label">
        <%= t('views.interpretations.solution_label') %>
      </span>
      <%= f.text_area :solution, id: "solution__#{interpretation.id}", maxlength: '2000', spellcheck: 'false' %>
    </div>
    <%= display_errors(interpretation, :solution) %>
  </div>

  <div class="field field--submit">
    <div class="control">
      <%= f.button t('views.interpretations.index.update_btn').html_safe, class: 'btn btn--primary',
            data: { disable_with: "<span class='icon icon--small icon--spin'>#{icon_loading}</span> #{t('loading')}" } %>
      <%= link_to t('views.interpretations.index.cancel_btn'),
            user_agent_intent_interpretation_path(
              interpretation.intent.agent.owner,
              interpretation.intent.agent,
              interpretation.intent,
              interpretation
            ),
            remote: true,
            class: 'btn btn--plain',
            data: { disable_with: "<span class='icon icon--small icon--spin'>#{icon_loading}</span>" } %>
    </div>
  </div>
  <div class="field interpretations-form__delete">
    <div class="control">
      <%= link_to t('views.interpretations.index.delete_btn'),
                  user_agent_intent_interpretation_path(
                      interpretation.intent.agent.owner,
                      interpretation.intent.agent,
                      interpretation.intent,
                      interpretation
                  ),
                  method: :delete,
                  remote: true,
                  class: 'btn btn--small btn--outline btn--destructive',
                  data: { disable_with: "<span class='icon icon--small icon--spin'>#{icon_loading}</span>" } %>
    </div>
  </div>
<% end %>
