<%= form_with model: [agent.owner, agent, intent, interpretation], id: 'interpretations-form' do |f| %>

  <%= f.hidden_field :locale, value: @current_locale %>

  <div class="field">
    <div class="control trix-control">
      <textarea name="interpretation[expression]" style="display:none;"
        id="<%= "expression-#{interpretation.id}" %>"><%= display_expression_for_trix(interpretation) %></textarea>
      <trix-editor
        input="expression"
        placeholder="<%= t('views.interpretations.new.placeholder') %>"></trix-editor>
      <div class="trix-control__option">
        <%= f.check_box :keep_order, id: "keep_order__new_interpretation" %>
        <%= f.label :keep_order, for: "keep_order__new_interpretation" %>
        &nbsp;
        <%= f.check_box :glued, id: "glued__new_interpretation" %>
        <%= f.label :glued, for: "glued__new_interpretation" %>
      </div>
    </div>
    <%= display_errors(interpretation, :expression) %>
    <%= display_errors(interpretation, :locale) %>
    <%= display_errors(interpretation, :keep_order) %>
    <%= display_errors(interpretation, :glued) %>
  </div>

  <div class="aliases" style="display:none;"></div>

  <div id='expression_options' class="field">
    <div class="control">
      <%= f.label :solution, for: "solution__new_interpretation" %>
      <%= f.text_area :solution, id: "solution__new_interpretation", rows: '3', maxlength: '2000', spellcheck: 'false' %>
    </div>
    <%= display_errors(interpretation, :solution) %>
  </div>

  <%= f.button t('views.interpretations.new.btn'), class: 'btn btn--primary',
        data: {
           disable_with: "<span class='icon icon--small icon--spin'>#{icon_loading}</span>".html_safe
        } %>
<% end %>
