<%= form_with model: [agent.owner, agent, intent, interpretation], id: 'interpretations-form' do |f| %>
  <div class="field">
    <div class="control control--merged">
      <%= f.hidden_field :locale, value: @current_locale %>
      <%= f.text_field :expression, id: :expression, placeholder: t('views.interpretations.new.placeholder') %>
      <%= f.button t('views.interpretations.new.btn'), class: 'btn btn--primary',
            data: {
               disable_with: "<span class='icon icon--small icon--spin'>#{icon_loading}</span>".html_safe
            } %>
    </div>
    <%= display_errors(interpretation, :expression) %>
    <%= display_errors(interpretation, :locale) %>
  </div>
<% end %>
