<%= form_with model: [agent.owner, agent, intent, interpretation], id: 'interpretations-form' do |f| %>
    <div class="field">
      <%= f.label :expression %>
      <div class="control control--merged">
        <%= f.text_field :expression, id: :expression%>
        <%= f.hidden_field :locale, value: locale %>
          <%= f.button t('views.interpretations.new.btn'), class: 'btn btn--primary',
                       data: {
                           disable_with: "<span class='icon icon--spin'>#{icon_loading}</span> #{t('loading')}".html_safe
                       }
          %>
      </div>
      <%= display_errors(interpretation, :expression) %>
    </div>
<% end %>
