<div class="interpretation-new-form-container">
  <div class="tabs">
    <ul>
      <% for intent_locale in @intent.locales_by_usage %>
        <% if intent_locale == '*' %>
          <% link_name = t('views.interpretations.locales.no_locale') %>
        <% else %>
          <% link_name = intent_locale %>
        <% end %>
          <li>
          <a href="<%= user_agent_intent_path(@agent.owner, @agent, @intent, locale: intent_locale) %>"
             <% if @current_locale == intent_locale %>class="current"<% end %>>
            <%= link_name %>
            <% count = @intent.interpretations_with_local(intent_locale).count%>
            <span class="badge" data-count="<%= count %>" <% if @current_locale == intent_locale %>id="current-locale-tab-badge"<% end %>>
              <%= count %>
            </span>
          </a>
        </li>
      <% end %>
      <% if current_user.can? :edit, @agent %>
        <% if @intent.locales.count != Interpretation::Locales.count %>
          <li>
            <a href="<%= user_agent_intent_select_new_locale_path(@agent.owner, @agent, @intent) %>"
                data-action="open-remote-modal">
              +
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <% if current_user.can? :edit, @agent %>
    <%= render partial: 'interpretations/form', locals: {
      agent: @agent,
      intent: @intent,
      interpretation: @interpretation,
      current_locale: @current_locale
    } %>
  <% end %>
</div>

<%= render partial: '/interpretations/interpretations_list', locals: {
    agent: @agent,
    intent: @intent,
    current_locale: @current_locale
} %>

<%= render partial: 'interpretations/blankslate_start', locals: {
    agent: @agent,
    intent: @intent,
    current_locale: @current_locale
} %>

<%= render partial: 'interpretations/blankslate_start_or_remove', locals: {
    agent: @agent,
    intent: @intent,
    current_locale: @current_locale
} %>

<div class="popup-overlay" id="popup-add-tag-overlay" style="display:none;"></div>
<div class="highlight" id="highlight" style="display:none;"></div>
<div class="popup" id="popup-add-tag" style="display:none;">
  <% if @agent.intents.where.not(id: @intent.id).count == 0 %>
    <p>
      <%= t('views.interpretations.popup.add-tag.empty_msg') %>
    </p>
  <% else %>
    <div class="popup__search">
      <input type="text" value="" placeholder="<%= t('views.interpretations.popup.add-tag.search_placeholder') %>" />
    </div>
    <ul>
      <% intent_prefix = @agent.owner.username + "/" + @agent.agentname %>
      <% colors = %w(black red pink purple deep-purple indigo blue light-blue cyan teal green light-green lime yellow amber orange deep-orange brown ) %>
      <% @agent.intents.where.not(id: @intent.id).each do |intent| %>
        <li data-search="<%= intent_prefix %>/<%= intent.intentname %>" class="enabled">
          <a href="#"
             data-action="add-tag"
             data-tag="alias-<%= colors[Random.new.rand(0..17)] %>____<%= intent_prefix %>/<%= intent.intentname %>">
            <%= intent_prefix %>/<strong><%= intent.intentname %></strong>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="popup-overlay" id="popup-remove-tag-overlay" style="display:none;"></div>
<div class="popup" id="popup-remove-tag" style="display:none;">
  <ul>
    <li class="enabled">
      <a href="#" data-action="remove-tags">
        <span class="icon icon--small">
          <%= icon_close %>
        </span>
        <%= t('views.interpretations.popup.remove-tags.msg') %>
      </a>
    </li>
  </ul>
</div>
