<div class="card">
  <div class="tabs <% unless current_user.can? :edit, @agent %>tabs--empty<% end %>">
    <ul>
      <% for intent_locale in @intent.ordered_locales %>
        <% if intent_locale == '*' %>
          <% link_name = t('views.interpretations.locales.no_locale') %>
        <% else %>
          <% link_name = intent_locale %>
        <% end %>
        <li data-locale="<%= intent_locale %>"
          <% if @current_locale != intent_locale %>class="js-draggable-locale"<% end %>>
          <a href="<%= user_agent_intent_path(@agent.owner, @agent, @intent, locale: intent_locale) %>"
             <% if @current_locale == intent_locale %>class="current"<% end %>>
            <%= link_name %>
            <% count = @intent.interpretations_with_local(intent_locale).count%>
            <span class="badge" data-count="<%= count %>" <% if @current_locale == intent_locale %>id="current-locale-tab-badge"<% end %>>
              <%= count %>
            </span>
          </a>
        </li>
      <% end %>
      <% if current_user.can? :edit, @agent %>
        <% if @intent.locales.count != Interpretation::LOCALES.count %>
          <li>
            <a href="<%= user_agent_intent_select_new_locale_path(@agent.owner, @agent, @intent) %>"
                data-action="open-remote-modal">
              +
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <% if current_user.can? :edit, @agent %>
    <%= render partial: 'interpretations/form', locals: {
      agent: @agent,
      intent: @intent,
      interpretation: @interpretation,
      current_locale: @current_locale
    } %>
  <% end %>
</div>

<%= render partial: '/interpretations/interpretations_list', locals: {
    agent: @agent,
    intent: @intent,
    current_locale: @current_locale
} %>

<%= render partial: 'interpretations/blankslate_start', locals: {
    agent: @agent,
    intent: @intent,
    current_locale: @current_locale
} %>

<%= render partial: 'interpretations/blankslate_start_or_remove', locals: {
    agent: @agent,
    intent: @intent,
    current_locale: @current_locale
} %>

<% if current_user.can? :edit, @agent %>
  <div class="popup-overlay" id="popup-add-tag-overlay" style="display:none;"></div>
  <div class="popup-highlight" id="highlight" style="display:none;"></div>
  <div class="popup" id="popup-add-tag" style="display:none;">
    <div class="popup__search">
      <input type="text" value="" placeholder="<%= t('views.interpretations.popup.add-tag.search_placeholder') %>" />
    </div>
    <ul>
      <% @agent.reachable_intents.each do |intent| %>
        <li data-search="<%= intent.slug %>" class="enabled">
          <a href="#" data-action="add-tag"
             data-data='<%= intent_to_json(intent) %>'><%= intent.slug %></a>
        </li>
      <% end %>
      <li data-search="digit" class="enabled">
        <a href="#" data-action="add-tag"
           data-data='<%= digit_to_json() %>'>Digit</a>
      </li>
    </ul>
  </div>

  <div class="popup-overlay" id="popup-remove-tag-overlay" style="display:none;"></div>
  <div class="popup" id="popup-remove-tag" style="display:none;">
    <ul>
      <li class="enabled">
        <a href="#" data-action="remove-tags">
          <span class="icon icon--small">
            <%= icon_close %>
          </span>
          <%= t('views.interpretations.popup.remove-tags.msg') %>
        </a>
      </li>
    </ul>
  </div>
<% end %>
