<li id="interpretation-<%= interpretation.id %>"
    data-id="<%= interpretation.id %>"
    data-update-locale-path="<%= update_locale_user_agent_intent_interpretation_path(owner, agent, intent, interpretation) %>">
  <% dir = rtl?(interpretation.locale) ? "rtl" : "ltr" %>
  <% if can_edit %>
    <div class="card-list__item__draggable"></div>
    <% link = edit_user_agent_intent_interpretation_path(owner, agent, intent, interpretation) %>
  <% else %>
    <% if interpretation.is_minimal %>
      <% link = "#" %>
    <% else %>
      <% link = show_detailed_user_agent_intent_interpretation_path(owner, agent, intent, interpretation) %>
    <% end %>
  <% end %>

  <% if link == "#" %>
    <span class="interpretations-list__show">
      <span class="card-list__item__name" dir="<%= dir %>">
        <%= display_expression(interpretation) %>
      </span>
    </span>
  <% else %>
    <a href="<%= link %>"
       class="interpretations-list__show"
       data-remote="true">
      <span class="card-list__item__name" dir="<%= dir %>">
        <%= display_expression(interpretation) %>
     </span>
    </a>
  <% end %>
</li>
