<% intent = interpretation.intent %>
<% agent = interpretation.intent.agent %>
<% owner = interpretation.intent.agent.owner %>

<li id="interpretation-<%= interpretation.id %>"
    data-id="<%= interpretation.id %>"
    data-update-locale-path="<%= update_locale_user_agent_intent_interpretation_path(owner, agent, intent, interpretation) %>">
  <% dir = rtl?(interpretation.locale) ? "rtl" : "ltr" %>
  <% if current_user.can? :edit, interpretation.intent.agent %>
    <div class="interpretations-list__draggable"></div>
    <%= link_to display_expression(interpretation), edit_user_agent_intent_interpretation_path(owner, agent, intent, interpretation), remote: true, class: 'interpretations-list__show', dir: dir %>
  <% else %>
    <% if interpretation.is_minimal %>
      <span class="interpretations-list__show" dir="<%= dir %>">
        <%= display_expression(interpretation) %>
     </span>
    <% else %>
      <%= link_to display_expression(interpretation), show_detailed_user_agent_intent_interpretation_path(owner, agent, intent, interpretation), remote: true, class: 'interpretations-list__show', dir: dir %>
    <% end %>
  <% end %>
</li>
