<div class="tabs">
  <ul>
    <% for possible_locale in  @intent.locales %>
      <li>
        <a href="<%= user_agent_intent_path(@agent.owner, @agent, @intent, locale: possible_locale) %>"
           <% if @locale == possible_locale %>class="current"<% end %>>
          <%= possible_locale %>
          <% count = @intent.interpretations_with_local(possible_locale).count%>
          <span class="badge" data-count="<%= count %>" <% if @locale == possible_locale %>id="current-locale-tab-badge"<% end %>>
            <%= count %>
          </span>
        </a>
      </li>
    <% end %>
    <li>
      <a href="<%= user_agent_intent_select_new_locale_path(@agent.owner, @agent, @intent) %>"
          data-action="open-remote-modal">
        +
      </a>
    </li>
  </ul>
</div>

<%= render partial: '/interpretations/form', locals: {
  agent: @agent,
  intent: @intent,
  interpretation: @interpretation,
  locale: @locale
} %>

<ul id="interpretations-list" class="interpretations-list">
  <%= render partial: '/interpretations/interpretation', collection: @intent.interpretations_with_local(@locale) %>
</ul>
