<div class="card-animation-wrapper">
  <div class="card">
    <div class="card-content">

      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email %>
          <%= display_errors(resource, :email) %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="help help--success">
              <span class="icon icon--x-small"><%= icon_information %></span>
              Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <span class="help">
            <span class="icon icon--x-small"><%= icon_information %></span>
            leave blank if you don't want to change it
          </span>
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <div class="help">
              <span class="icon icon--x-small"><%= icon_information %></span>
              At least <%= @minimum_password_length %> characters
            </div>
          <% end %>
          <%= display_errors(resource, :password) %>
        </div>

        <div class="field">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "off" %>
          <%= display_errors(resource, :current_password) %>
          <div class="help">
            <span class="icon icon--x-small"><%= icon_information %></span>
            We need your current password to confirm your changes
          </div>
        </div>

        <div class="actions">
          <%= f.button "Update", class: 'btn btn--primary btn--large',
              data: { disable_with: "<span class='icon icon--spin'>#{icon_loading}</span> Loading".html_safe } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h3>Cancel my account</h3>
    <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn--destructive btn--large' %></p>
  </div>
</div>
