<div class="card-animation-wrapper">
  <div class="card <% unless resource.errors.empty? %>card--shake<% end %>">
    <div class="card-content">

      <h2><%= t('views.registrations.new.title') %></h2>
      <h3 class="tagline"><%= t('views.registrations.new.tagline') %></h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :username, t('views.registrations.new.username_label') %>
          <span class="help">
            <span class="icon icon--x-small"><%= icon_information %></span>
            <%= t('views.auth.at_least_x_char', min: 3) %>
          </span>
          <%= f.text_field :username %>
          <%= display_errors(resource, :username) %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email %>
          <%= display_errors(resource, :email) %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <span class="help">
              <span class="icon icon--x-small"><%= icon_information %></span>
              <%= t('views.auth.at_least_x_char', min: @minimum_password_length) %>
            </span>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
          <%= display_errors(resource, :password) %>
        </div>

        <div class="field">
          <%= f.button t('views.registrations.new.btn'), class: 'btn btn--primary btn--large btn--full',
              data: {
                disable_with: "<span class='icon icon--spin'>#{icon_loading}</span> #{t('loading')}".html_safe
              } %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
