<nav class="h-nav">

  <div class="h-nav__header">
    <a href="/">
      <span class="logo"><%= logo_on_white %></span>
    </a>
  </div>

  <div class="h-nav__content">
    <ul>
      <li>
        <a href="<%= agents_path %>" <% if ['agents', 'intents', 'entities_lists', 'bots'].include? controller_path %>class="current"<% end %>>
          <%= t('views.nav.agents') %>
        </a>
      </li>
      <li>
        <a href="/play" <% if ['play'].include? controller_path %>class="current"<% end %>>
          <%= t('views.nav.play') %>
        </a>
      </li>
      <% if Feature.chatbot_enabled? && current_user.chatbot_enabled? %>
        <li>
          <a href="<%= chatbots_path %>" <% if ['chatbots'].include? controller_path %>class="current"<% end %>>
            <%= t('views.nav.chatbots') %>
          </a>
        </li>
      <% end %>

      <li class="more">
        <div class="dropdown">
          <a href="#" class="dropdown__trigger">
            <span class="icon">
              <%= icon_dots %>
            </span>
          </a>
          <div class="dropdown__content dropdown__content--hidden">
            <ul>
              <% if current_user.admin %>
                <li>
                  <a href="<%= backend_dashboard_path %>"
                     <% if controller_path.include?('backend/dashboard') %>class="current"<% end %>>
                    <%= t('views.nav.backend.dashboard') %>
                  </a>
                </li>
                <li>
                  <a href="<%= backend_users_path %>"
                    <% if ['backend/users','backend/invitations'].include? controller_path %>
                      class="current"
                    <% end %>>
                    <%= t('views.nav.backend.users') %>
                  </a>
                </li>
                <li class="separator">
                  <a href="/style-guide/icon" data-turbolinks="false" target="_blank">
                    <%= t('views.nav.backend.style_guide') %>
                    <span class="icon icon--x-small"><%= icon_open_in_new %></span>
                  </a>
                </li>
                <li>
                  <a href="/backend/jobs/" data-turbolinks="false" target="_blank">
                    <%= t('views.nav.backend.sidekiq_ui') %>
                    <span class="icon icon--x-small"><%= icon_open_in_new %></span>
                  </a>
                </li>
                <li>
                  <a href="/rails/mailers/" data-turbolinks="false" target="_blank">
                    <%= t('views.nav.backend.mailer_test') %>
                    <span class="icon icon--x-small"><%= icon_open_in_new %></span>
                  </a>
                </li>
                <% kibana_url = Rails.env.development? ? 'http://localhost:5601/kibana/' : '/kibana/'%>
                <li>
                  <a href="<%= kibana_url %>" data-turbolinks="false" target="_blank">
                    <%= t('views.nav.backend.kibana_ui') %>
                    <span class="icon icon--x-small"><%= icon_open_in_new %></span>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="h-nav__content">
    <ul>
      <li>
        <a href="<%= profile_path %>" <% if controller_path.include?('profile') %>class="current"<% end %>>
          <div class="user">
            <div class="user__avatar user__avatar--small">
              <img src="<%= current_user.image_url(:square) %>">
            </div>
            <div class="user__info">
              <% if current_user.name.blank? %>
                <%= current_user.username %>
              <% else %>
                <%= current_user.name %>
              <% end %>
              <% if current_user != true_user %>
                &nbsp;<span class="badge badge--danger"><%= t('views.nav.switched') %></span>
              <% end %>
            </div>
          </div>
        </a>
      </li>
      <% if current_user != true_user %>
        <li>
          <a href="<%= stop_impersonating_profile_path %>" rel="nofollow" data-method="post">
            <div class="user">
              <div class="user__avatar user__avatar--small">
                <img src="<%= true_user.image_url(:square) %>">
              </div>
              <div class="user__info">
                <%= t('views.nav.comeback') %>
              </div>
            </div>
          </a>
        </li>
      <% end %>
      <li>
        <%= link_to "<span class='icon' title='Logout'>#{icon_logout}</span>".html_safe,
              destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </div>

</nav>
