<nav class="h-nav">

  <div class="h-nav__header">
    <a href="/" class="logo">
      <%= logo_on_dark %>
    </a>
  </div>

  <div class="h-nav__content">
    <ul>
      <li>
        <a href="<%= agents_path %>" <% if ['agents', 'intents', 'entities_lists', 'bots'].include? controller_path %>class="current"<% end %>>
          <%= t('views.nav.agents') %>
        </a>
      </li>
      <li>
        <a href="<%= chatbots_path %>" <% if ['chatbots'].include? controller_path %>class="current"<% end %>>
          <%= t('views.nav.chatbots') %>
        </a>
      </li>
      <% if current_user.admin %>
        <li class="secondary">
          <a href="<%= backend_users_path %>" <% if controller_path.include?('backend') %>class="current"<% end %>>
            <%= t('views.nav.backend.users') %>
          </a>
        </li>
        <li class="more" style="display:none;">
          <div class="dropdown">
            <a href="#" class="dropdown__trigger">
              <span class="icon">
                <%= icon_dots %>
              </span>
            </a>
            <div class="dropdown__content dropdown__content--hidden">
              <ul>
                <li>
                  <a href="<%= backend_users_path %>" <% if controller_path.include?('backend') %>class="current"<% end %>>
                    <%= t('views.nav.backend.users') %>
                  </a>
                </li>
                <li>
                  <a href="/style-guide/icon" data-turbolinks="false">
                    <%= t('views.nav.backend.style_guide') %>
                  </a>
                </li>
                <li>
                  <a href="/backend/jobs/" data-turbolinks="false" target="_blank">
                    <%= t('views.nav.backend.sidekiq_ui') %>
                    <span class="icon icon--x-small"><%= icon_open_in_new %></span>
                  </a>
                </li>
                <li>
                  <a href="/rails/mailers/" data-turbolinks="false" target="_blank">
                    <%= t('views.nav.backend.mailer_test') %>
                    <span class="icon icon--x-small"><%= icon_open_in_new %></span>
                  </a>
                </li>
                <li>
                  <a href="<%= doc_url %>" data-turbolinks="false" target="_blank">
                    <%= t('views.nav.doc') %>
                    <span class="icon icon--x-small"><%= icon_open_in_new %></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="secondary">
          <a href="/style-guide/icon" data-turbolinks="false">
            <%= t('views.nav.backend.style_guide') %>
          </a>
        </li>
        <li class="secondary">
          <a href="/backend/jobs/" data-turbolinks="false" target="_blank">
            <%= t('views.nav.backend.sidekiq_ui') %>
            <span class="icon icon--x-small"><%= icon_open_in_new %></span>
          </a>
        </li>
        <li class="secondary">
          <a href="/rails/mailers/" data-turbolinks="false" target="_blank">
            <%= t('views.nav.backend.mailer_test') %>
            <span class="icon icon--x-small"><%= icon_open_in_new %></span>
          </a>
        </li>
      <% end %>
      <li class="secondary">
        <a href="<%= doc_url %>" data-turbolinks="false" target="_blank">
          <%= t('views.nav.doc') %>
          <span class="icon icon--x-small"><%= icon_open_in_new %></span>
        </a>
      </li>
    </ul>
  </div>

  <div class="h-nav__content">
    <ul>
      <li>
        <a href="<%= profile_path %>" <% if controller_path.include?('profile') %>class="current"<% end %>>
          <div class="user">
            <div class="avatar">
              <img src="<%= current_user.image_url(:square) %>">
            </div>
            <span>
              <% if current_user.name.blank? %>
                <%= current_user.username %>
              <% else %>
                <%= current_user.name %>
              <% end %>
              <% if current_user != true_user %>
                <span class="badge badge--danger"><%= t('views.nav.switched') %></span>
              <% end %>
            </span>
          </div>
        </a>
      </li>
      <% if current_user != true_user %>
        <li>
          <a href="<%= stop_impersonating_profile_path %>" rel="nofollow" data-method="post">
            <div class="user">
              <div class="avatar">
                <img src="<%= true_user.image_url(:square) %>">
              </div>
              <span><%= t('views.nav.comeback') %></span>
            </div>
          </a>
        </li>
      <% end %>
      <li>
        <%= link_to "<span class='icon' title='Logout'>#{icon_logout}</span>".html_safe,
              destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </div>

</nav>
