<div class="nav__header">
  <a href="/" class="logo">
    <%= logo_on_dark %>
  </a>
</div>
<div class="nav__content">
  <ul>
    <li>
      <a href="/" <% if controller_path.include?('welcome') %>class="current"<% end %>>
        Home
      </a>
    </li>
    <% if user_signed_in? %>
      <% if current_user.admin %>
        <li>
          <a href="<%= backend_users_path %>">
            Backend
          </a>
          <ul>
            <li>
              <a href="<%= backend_users_path %>" <% if controller_path.include?('backend') %>class="current"<% end %>>
                User management
              </a>
            </li>
            <li>
              <a href="/style-guide" <% if controller_path.include?('style_guide') %>class="current"<% end %>>
                Style guide
              </a>
              <ul class="style-guide" data-turbolinks="false"></ul>
            </li>
            <li>
              <a href="/backend/jobs/" data-turbolinks="false" target="_blank">
                Async jobs <span class="icon icon--x-small"><%= icon_open_in_new %></span>
              </a>
            </li>
            <li>
              <a href="/rails/mailers/" data-turbolinks="false" target="_blank">
                Mailer tests <span class="icon icon--x-small"><%= icon_open_in_new %></span>
              </a>
            </li>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="nav__footer">
  <% if user_signed_in? %>
    <%= link_to current_user.email, edit_profile_path %><br />
    <%= link_to t('logout'), destroy_user_session_path, method: :delete %>
  <% end %>
</div>
