<div class="nav__header">
  <a href="/" class="logo">
    <%= logo_on_dark %>
  </a>
</div>
<div class="nav__content">
  <ul>
    <li>
      <a href="<%= agents_path %>" <% if controller_path.include?('agent') %>class="current"<% end %>>
        <%= t('views.nav.agents') %>
      </a>
    </li>
    <% if current_user.admin %>
      <li>
        <a href="<%= backend_users_path %>">
          <%= t('views.nav.backend.title') %>
        </a>
        <ul>
          <li>
            <a href="<%= backend_users_path %>" <% if controller_path.include?('backend') %>class="current"<% end %>>
              <%= t('views.nav.backend.users') %>
            </a>
          </li>
          <li>
            <a href="/style-guide/icon" data-turbolinks="false">
              <%= t('views.nav.backend.style_guide') %>
            </a>
          </li>
          <li>
            <a href="/backend/jobs/" data-turbolinks="false" target="_blank">
              <%= t('views.nav.backend.sidekiq_ui') %>
              <span class="icon icon--x-small"><%= icon_open_in_new %></span>
            </a>
          </li>
          <li>
            <a href="/rails/mailers/" data-turbolinks="false" target="_blank">
              <%= t('views.nav.backend.mailer_test') %>
              <span class="icon icon--x-small"><%= icon_open_in_new %></span>
            </a>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
<% if user_signed_in? %>
  <div class="nav__footer">
    <a href="<%= profile_path %>" class="user">
      <div class="avatar">
        <img src="<%= current_user.image_url(:square) %>">
      </div>
      <span><%= current_user.username %></span>
    </a>
    <%= link_to "<span class='icon' title='Logout'>#{icon_logout}</span>".html_safe,
          destroy_user_session_path, method: :delete %>
  </div>
<% end %>
