<!DOCTYPE html>
<html>
  <head>
    <title>voqal.ai</title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/favicon' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body style="padding: 3em;">
    <% unless notice.nil? %>
      <div class="card card--notice">
        <div class="card-content">
          <%= notice %>
        </div>
      </div>
    <% end %>
    <% unless alert.nil? %>
      <div class="card card--alert">
        <div class="card-content">
          <%= alert %>
        </div>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
