<!DOCTYPE html>
<html>
  <head>
    <title>
      viky.ai
      <% unless @agent.nil? %>
        - <%= @agent.slug %><% unless @intent.nil? %>/<%= @intent.intentname %><% end %>
      <% end %>
      <% if controller_path == "profiles" %>
        - <%= t('views.profile.breadcrumb') %>
      <% end %>
      <% if controller_path == "backend/users" %>
        - <%= t('views.backend.breadcrumb.user_management') %>
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= render 'layouts/favicon' %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller-name="<%= controller_path %>"
        data-controller-action="<%= action_name %>"
        class="app <% if controller_path.include?('style_guide') %>sg<% end %>">

    <%= render 'layouts/nav' %>

    <div class="app-wrapper">

      <% if content_for?(:left_aside) %>
        <%= yield :left_aside %>
      <% end %>

      <main>
        <%= yield %>

        <% unless notice.nil? %>
          <div class="message message--notice">
            <div class="message__content">
              <% if notice.is_a?(Hash) %>
                <%= t(notice['i18n_key'], notice['locals'].nil? ? {} : notice['locals'].symbolize_keys) %>
              <% else %>
                <%= notice %>
              <% end %>
            </div>
            <div class="message__action">
              <a href="#" data-action="message-close"><span class="icon"><%= icon_close %></span></a>
            </div>
          </div>
        <% end %>

        <% unless alert.nil? %>
          <div class="message message--alert">
            <div class="message__content">
              <% if alert.is_a?(Hash) %>
                <%= t(alert['i18n_key'], alert['locals'].nil? ? {} : alert['locals'].symbolize_keys) %>
              <% else %>
                <%= alert %>
              <% end %>
            </div>
            <div class="message__action">
              <a href="#" data-action="message-close"><span class="icon"><%= icon_close %></span></a>
            </div>
          </div>
        <% end %>
      </main>

      <% if content_for?(:right_aside) %>
        <%= yield :right_aside %>
      <% end %>

    </div>
  </body>
</html>
