<!DOCTYPE html>
<html>
  <head>
    <title>voqal.ai</title>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= render 'layouts/favicon' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'style_guide', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'style_guide', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller-name="<%= controller_path %>"
        data-controller-action="<%= action_name %>"
        class="app <% if controller_path.include?('style_guide') %>sg<% end %>">

    <div class="app-wrapper">
      <nav class="nav">
        <%= render 'layouts/nav' %>
      </nav>

      <main>
        <%= yield %>

        <% unless notice.nil? %>
          <div class="message message--notice">
            <div class="message__content">
              <%= notice %>
            </div>
            <div class="message__action">
              <a href="#" data-action="message-close"><span class="icon"><%= icon_close %></span></a>
            </div>
          </div>
        <% end %>

        <% unless alert.nil? %>
          <div class="message message--alert">
            <div class="message__content">
              <%= alert %>
            </div>
            <div class="message__action">
              <a href="#" data-action="message-close"><span class="icon"><%= icon_close %></span></a>
            </div>
          </div>
        <% end %>

      </main>



    </div>
  </body>
</html>
