<!DOCTYPE html>
<html>
  <head>
    <title>viky.ai</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/favicon' %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'brain' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'brain' %>
  </body>
</html>
