<!DOCTYPE html>
<html>
  <head>
    <title>viky.ai</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= render 'layouts/favicon' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <%= stylesheet_pack_tag 'marketing', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'marketing', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% unless notice.nil? %>
      <div class="notice">
        <%= notice %>
      </div>
    <% end %>

    <% unless alert.nil? %>
      <div class="alert">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
