<div class="card-animation-wrapper">
  <div class="card <% unless alert.nil? %>card--shake<% end %>">
    <div class="card-content">

      <h2><%= t('views.sessions.new.title') %></h2>
      <h3 class="tagline"><%= t('views.sessions.new.tagline') %></h3>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: 'checkbox' %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.button t('views.sessions.new.btn'), class: "btn btn--primary btn--large btn--full",
              data: {
                disable_with: "<span class='icon icon--spin'>#{icon_loading}</span> #{t('loading')}".html_safe
              } %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
