<%= form_for(@profile, as: :profile, url: profile_path, html: { method: :put }) do |f| %>

  <div class="field">
    <div class="control">
      <%= f.label :name %><br />
      <%= f.text_field :name, placeholder: "John Smith" %>
      <%= display_errors(@profile, :name) %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.label :username %>
      &nbsp;<span class="badge badge--small badge--outline"><%= t('required') %></span>
      <br />
      <%= f.text_field :username, placeholder: "jsmith" %>
      <%= display_errors(@profile, :username) %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.label :bio %><br />
      <%= f.text_area :bio, placeholder: "Tell us a little about yourself" %>
      <%= display_errors(@profile, :bio) %>
    </div>
  </div>
  <div class="field">
    <%= f.button t('views.profile.edit.global.submit_btn'), class: "btn btn--primary",
        data: {
          disable_with: "<span class='icon icon--spin'>#{icon_loading}</span> #{t('loading')}".html_safe
        } %>
    <a href="<%= profile_path %>" class="btn btn--plain">Cancel</a>
  </div>

  <% if Feature.privacy_policy_enabled? %>
    <div class="note">
      <div class="note__icon">
        <span class="icon icon--small"><%= icon_information %></span>
      </div>
      <div class="note__content">
        <%= t('views.profile.edit.legal_html',
              privacy_policy_url: ENV['VIKYAPP_PRIVACY_POLICY_URL']
            ) %>
      </div>
    </div>
  <% end %>

<% end %>
