<% if @profile.can_be_destroyed? %>
  <p><%= t('views.profile.edit.destroy.message') %></p>
  <p>
    <a href="<%= confirm_destroy_profile_path %>"
       class="btn btn--destructive"
       data-action="open-remote-modal">
      <%= t('views.profile.edit.destroy.btn') %>
    </a>
  </p>
<% else %>
  <div class="note note--warning">
    <div class="note__icon icon--small">
      <span class="icon icon--small"><%= icon_alert %></span>
    </div>
    <div class="note__content">
      <%= t('views.profile.edit.destroy.not_possible_message') %>
    </div>
  </div>
<% end %>
