<div class="card quota-info">
  <h2>
    <%= t('views.profile.quota.title') %>
    <small title="<%= t('views.profile.quota.help') %>">
      <span class="icon icon--x-small">
        <%= icon_information %>
      </span>
    </small>
  </h2>
  <div class="card-content">
    <p><%= t('views.profile.quota.limit_html', limit: number_with_delimiter(Quota.max_interpret_requests_per_day), time: 'day') %></p>
    <p><%= t('views.profile.quota.limit_html', limit: number_with_delimiter(Quota.max_interpret_requests_per_hour), time: 'hour') %></p>
    <p><%= t('views.profile.quota.limit_html', limit: number_with_delimiter(Quota.max_interpret_requests_per_minute), time: 'minute') %></p>
    <p><%= t('views.profile.quota.limit_html', limit: number_with_delimiter(Quota.max_interpret_requests_per_second), time: 'second') %></p>
  </div>
</div>
