<div class="card profile-details__requests">
  <h2><%= t('views.profile.requests.list.title') %></h2>
  <table>
    <thead>
      <tr>
        <th><%= t('views.profile.requests.list.header.agent') %></th>
        <th><%= t('views.profile.requests.list.header.today') %></th>
        <th><%= t('views.profile.requests.list.header.ten_days') %></th>
        <th><%= t('views.profile.requests.list.header.thirty_days') %></th>
      </tr>
    </thead>
    <tbody>
      <% @agent_requests.each do |requests| %>
      <%# TODO: handle deleted agent %>
      <% agent = Agent.find_by_id(requests['key']) %>
      <% if agent %>
        <tr>
          <td>
            <a href="<%= user_agent_path(agent.owner, agent)%>">
              <strong>
                  <%= agent.name %>
              </strong>
              <small><%= agent.slug %></small>
            </a>
          </td>
          <td><%= requests['today']['doc_count'] %></td>
          <td><%= requests['10_days']['doc_count'] %></td>
          <td><%= requests['30_days']['doc_count'] %></td>
        </tr>
      <% end %> 
      <% end %>
    </tbody>
  </table>
  <div class="table-pagination">
    <%= paginate @agent_requests, window: 1, param_name: :requests_page %>
    <p class="pagination-info"><%= page_entries_info @agent_requests %></p>
  </div>
</div>