<div class="profile">

  <header class="header">
    <div class="header__breadcrumb">
      <%= link_to t('views.profile.breadcrumb'), profile_path %> /
      <strong><%= t('views.profile.edit.breadcrumb') %></strong>
    </div>
  </header>

  <div class="profile-edit-global-avatar">
    <div>
      <h4><%= t('views.profile.edit.global.title') %></h4>
      <div class="card">
        <div class="card-content test-profile-edit-global">
          <%= render 'edit_global' %>
        </div>
      </div>
    </div>
    <div>
      <h4><%= t('views.profile.edit.avatar.title') %></h4>
      <div class="card">
        <div class="card-content test-profile-edit-avatar">
          <%= render 'edit_avatar' %>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-edit-auth-destroy">
    <div>
      <h4><%= t('views.profile.edit.authentication.title') %></h4>
      <div class="card">
        <div class="card-content test-profile-edit-auth">
          <%= render 'edit_auth' %>
        </div>
      </div>
    </div>
    <div>
      <h4><%= t('views.profile.edit.destroy.title') %></h4>
      <div class="card">
        <div class="card-content test-profile-edit-destroy">
          <%= render 'edit_destroy' %>
        </div>
      </div>
    </div>
  </div>

</div>
