<div class="profile">

  <h4><%= t('views.profile.show_user.title') %></h4>
  <div class="card">
    <div class="card-content">
      <%= render 'show_user' %>
    </div>
  </div>

  <h4><%= t('views.profile.show_data_use.title') %></h4>
  <div class="card">
    <div class="card-content card-content--profile">
      <%= render 'show_data_usage' %>
    </div>
  </div>

  <h4><%= t('views.profile.show_api_use.title') %></h4>
  <%= render 'show_api_usage' %>
</div>


