<header class="header">
  <div class="header__breadcrumb">
    <%= t('views.profile.breadcrumb') %>
  </div>
  <div class="header__tools">
    <a href="<%= edit_profile_path %>" class="btn btn--outline">
      <span class="icon icon--small"><%= icon_edit %></span> Edit your profile
    </a>
  </div>
</header>


<div class="grid">
  <div class="grid_sidebar">
    <div class="card">
      <div class="card-content">
        <div class="profile">
          <div class="avatar avatar--large">
            <img src="<%= @profile.image_url(:square) %>">
          </div>
          <h2><%= @profile.name %></h2>
          <h3 class="tagline"><%= @profile.username %></h3>
          <p>
            <%= @profile.bio %>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="grid_main">

    <div class="card">
      <div class="card-content">

        <h2>Agents</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa provident voluptate exercitationem voluptatem magni quae tempore deleniti facilis, dolor quam cumque alias recusandae facere possimus voluptatibus saepe ipsum, ratione iste.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa provident voluptate exercitationem voluptatem magni quae tempore deleniti facilis, dolor quam cumque alias recusandae facere possimus voluptatibus saepe ipsum, ratione iste.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa provident voluptate exercitationem voluptatem magni quae tempore deleniti facilis, dolor quam cumque alias recusandae facere possimus voluptatibus saepe ipsum, ratione iste.
        </p>
      </div>
    </div>
  </div>

</div>
