<header class="header">
  <div class="header__breadcrumb">
    <%= t('views.profile.breadcrumb') %>
  </div>
  <div class="header__tools">
    <a href="<%= edit_profile_path %>" class="btn btn--outline">
      <span class="icon icon--small"><%= icon_edit %></span> Edit your profile
    </a>
  </div>
</header>


<div class="grid">
  <div class="grid_sidebar">
    <div class="card">
      <div class="card-content">
        <div class="profile">
          <div class="avatar avatar--large">
            <img src="<%= @profile.image_url(:square) %>">
          </div>
          <h2><%= @profile.name %></h2>
          <h3 class="tagline"><%= @profile.username %></h3>
          <p>
            <%= @profile.bio %>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="grid_main">

    <div class="card">
      <div class="card-content">

        <h2><%= t('views.profile.edit.agents.title') %></h2>

        <div class="agents-box-grid">
          <% @agents.each do |agent| %>
            <div class="agent-box">
              <a href="<%= user_agent_path(current_user, agent.agentname) %>" class="agent-box__header agent-box__header--<%= agent.color %>" id="<%= "agent-#{current_user.username}-#{agent.agentname}"%>">
                <h2><%= agent.name %></h2>
                <h3><%= agent.users.first.username %>/<%= agent.agentname %></h3>
              </a>
              <div class="agent-box__content">
                <span>
                  <% if agent.updated_at == agent.created_at %>
                    <%= t('views.agents.index.created_time_ago', time: time_ago_in_words(agent.updated_at)) %>
                  <% else %>
                    <%= t('views.agents.index.updated_time_ago', time: time_ago_in_words(agent.updated_at)) %>
                  <% end %>
                </span>
              </div>
            </div>
          <% end %>
        </div>
        <%= paginate @agents %>
      </div>
    </div>
  </div>

</div>
