<% if agent.image.nil? %>
  <% css_class = "background-color-gradient__#{agent.color}" %>
<% else %>
  <% css_class = "agent__visual--image" %>
  <% css_style = "background-image: url(#{agent.image_url(:background)});" %>
<% end %>
<div class="agent" id="agent-<%= agent.id %>">
  <div class="agent__visual <%= css_class %>" style="<%= css_style %>">
    <% if agent.is_public? %>
      <span class="agent__visual__ribbon">
        <%= t('activerecord.attributes.agent.visibility_is_public') %>
      </span>
    <% end %>
    <h2>
      <%= agent.name %>
      <br /><small><%= agent.slug %></small>
    </h2>
  </div>
  <div class="agent__info">
    <% unless agent.description.blank? %>
      <h3><%= t('views.agents.show.description') %></h3>
      <p><%= agent.description %></p>
    <% end %>

    <h3><%= t('views.agents.show.sharing_overview') %></h3>
    <ul class="user-list">
      <li>
        <div class="user">
          <div class="user__avatar">
            <img src="<%= agent.owner.image_url(:square) %>" />
          </div>
          <div class="user__info">
            <%= agent.owner.name_or_username %>
            <span class="badge badge--primary">
              <%= t('views.agents.show.owner') %>
            </span><br />
            <small><%= agent.owner.email %></small>
          </div>
        </div>
      </li>
      <% agent.collaborators.each do |collaborator| %>
        <li>
          <div class="user">
            <div class="user__avatar">
              <img src="<%= collaborator.image_url(:square) %>" />
            </div>
            <div class="user__info">
              <%= collaborator.name_or_username %>
              <span class="merged-badges">
                <span class="badge">
                  <%= t('views.agents.show.collaborator') %>
                </span>
                <span class="badge badge--primary">
                  <% if collaborator.can? :edit, agent %>
                    <%= t('views.agents.show.edit') %>
                  <% else %>
                    <%= t('views.agents.show.show') %>
                  <% end %>
                </span>
              </span>
              <br />
              <small><%= collaborator.email %></small>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
