<div class="modal" style="display: none;">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">
    <h5 class="modal__main__title">
      <%= t('views.agents.confirm_transfer_ownership.title') %>
      <button class="modal__main__title__close" data-action='close-modal'>
        <%= icon_close %>
      </button>
    </h5>
    <div class="modal__main__content">
      <p>
        <%= t('views.agents.confirm_transfer_ownership.content_html', name: agent.name) %>
      </p>
      <%= form_with model: agent, url: transfer_ownership_user_agent_path, method: :post do |form| %>
        <div class="field">
          <div class="control">
            <label><%= t('views.agents.confirm_transfer_ownership.label') %></label>
            <input type="text" name="users[new_owner]" placeholder="<%= t('views.agents.confirm_transfer_ownership.placeholder') %>"/>
            <% unless errors.empty? %>
              <div class="help help--error">
                <span class="icon icon--x-small"><%= icon_alert %></span>
                <%= errors.join(', ') %>.
              </div>
            <% end %>
            <div class="help">
              <span class="icon icon--x-small"><%= icon_information %></span>
              <%= t('views.agents.confirm_transfer_ownership.note') %>
            </div>
          </div>
        </div>

        <%= form.button t('views.agents.confirm_transfer_ownership.btn'), class: "btn btn--destructive" %>
        <button class="btn btn--plain" data-action='close-modal' type="button"><%= t('cancel') %></button>
      <% end %>
    </div>
  </div>
</div>
