<%= form_with model: [current_user, agent], data: { type: 'json' }, class: 'js-agent-form' do |f| %>
  <div class="field">
    <div class="control">
      <%= f.label :name %>
      &nbsp;<span class="badge badge--small badge--outline"><%= t('required') %></span>
      <br />
      <%= f.text_field :name, id: :agent_name %>
      <%= display_errors(agent, :name) %>
    </div>
  </div>

  <div class="field">
    <%= f.label :agentname %>
    &nbsp;<span class="badge badge--small badge--outline"><%= t('required') %></span>
    <div class="control control--merged">
      <span class="addon"><%= current_user.username %>/</span>
      <%= f.text_field :agentname, id: :agent_agentname %>
    </div>
    <%= display_errors(agent, :agentname) %>
  </div>

  <div class="field">
    <div class="control">
      <%= f.label :description %>
      <br />
      <%= f.text_area :description, id: :agent_description %>
      <%= display_errors(agent, :description) %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.label :color, t('views.agents.form.color_label') %>
      <% colors_array = agent.available_colors.map { |color| [color, color] } %>
      <ul class="color-picker" data-input-selector="#agent-color-input">
        <% agent.available_colors.each do |color| %>
          <li>
            <a href="#"
               class="color-picker__<%= color %> <% if agent.color == color %>current<% end %>"
               data-input-value="<%= color %>"></a>
          </li>
        <% end %>
      </ul>
      <%= f.hidden_field :color, id: 'agent-color-input' %>
    </div>
  </div>

  <div class="actions">
    <% if ["edit", "update"].include? action_name %>
      <% btn_label = t('views.agents.edit.btn') %>
    <% else %>
      <% btn_label = t('views.agents.new.btn') %>
    <% end %>
    <%= f.button btn_label, class: "btn btn--primary",
      data: {
        disable_with: "<span class='icon icon--spin'>#{icon_loading}</span> #{t('loading')}".html_safe
      }
    %>
    <a href="<%= agents_path %>" class="btn btn--plain"><%= t('cancel') %></a>
  </div>
<% end %>
