<% if agent.image.nil? %>
  <% css_class = "background-color-gradient__#{agent.color}" %>
<% else %>
  <% css_class = "agent-header__visual--image" %>
  <% css_style = "background-image: url(#{agent.image_url(:background)});" %>
<% end %>

<div class="agent-header" data-agent_id=<%= "#{agent.id}" %>>

  <a href="<%= user_agent_path(agent.owner, agent) %>" class="agent-header__visual <%= css_class %>" style="<%= css_style %>">
    <% if agent.is_public? %>
      <span class="agent__visual__ribbon">
        <%= t('activerecord.attributes.agent.visibility_is_public') %>
      </span>
    <% end %>
  </a>

  <div class="agent-header__content">
    <%= render 'agents/header_content', agent: agent %>
  </div>

  <div class="agent-header__content__nav">
    <ul>
      <li>
        <% css_class = controller_name == 'agents' ? 'current' : '' %>
        <%= link_to t('views.agents.show.sections.overview'), user_agent_path(agent.owner, agent), class: css_class %>
      </li>
      <li>
        <% css_class   = controller_name == 'interpretations' ? 'current' : '' %>
        <% badge_class = controller_name == 'interpretations' ? 'badge--primary' : '' %>
        <% text  = t('views.agents.show.sections.interpretations')%>
        <% text += " <span class='badge badge--small #{badge_class}'>#{agent.interpretations.count}</span>" %>
        <%= link_to text.html_safe, user_agent_interpretations_path(agent.owner, agent), class: css_class %>
      </li>
      <li>
        <% css_class   = controller_name == 'entities_lists' ? 'current' : '' %>
        <% badge_class = controller_name == 'entities_lists' ? 'badge--primary' : '' %>
        <% text  = t('views.agents.show.sections.entities_lists')%>
        <% text += " <span class='badge badge--small #{badge_class}'>#{agent.entities_lists.count}</span>" %>
        <%= link_to text.html_safe, user_agent_entities_lists_path(agent.owner, agent), class: css_class %>
      </li>
      <% if Feature.chatbot_enabled? && current_user.chatbot_enabled? %>
        <li>
          <% css_class   = controller_name == 'bots' ? 'current' : '' %>
          <% badge_class = controller_name == 'bots' ? 'badge--primary' : '' %>
          <% text  = t('views.agents.show.sections.bots')%>
          <% text += " <span class='badge badge--small #{badge_class}'>#{agent.accessible_bots(current_user).count}</span>" %>
          <%= link_to text.html_safe, user_agent_bots_path(agent.owner, agent), class: css_class %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
