<div class="agent-header__content__title">
  <h2>
    <%= agent.name %>
    <% if agent.favorite_for_users.find_by(id: current_user) %>
      <span class="icon icon--yellow">
        <%= icon_favorite %>
      </span>
    <% end %>
    <small><%= agent.slug %></small>
  </h2>
</div>

<div class="agent-header__content__actions">
  <% if ['agents', 'favorites'].include? controller_name %>
    <% if agent.favorite_for_users.find_by(id: current_user) %>
      <%= link_to "<span class='icon icon--small'>#{icon_favorite}</span> #{t('views.agents.show.remove_favorite_btn')}".html_safe,
                  favorite_path(agent.favorite_agents.find_by(user: current_user)),
                  class: 'btn btn--small',
                  method: :delete,
                  remote: true %>
    <% else %>
      <%= link_to "<span class='icon icon--small'>#{icon_not_favorite}</span> #{t('views.agents.show.add_favorite_btn')}".html_safe,
                  favorites_path(agent_id: agent.id ),
                  class: 'btn btn--small',
                  method: :post,
                  remote: true %>
    <% end %>
    <% if current_user.can? :edit, agent %>
      <a href="<%= edit_user_agent_path(agent.owner, agent, origin: 'show') %>"
         class="btn btn--small" data-action="open-remote-modal">
        <span class="icon icon--small"><%= icon_settings %></span> <%= t('views.agents.show.configure_btn') %>
      </a>
    <% end %>
  <% end %>
</div>

<div class="agent-header__content__description">
  <% unless agent.description.blank? %>
    <h3><%= agent.description %></h3>
  <% end %>
</div>
