<div class="card-list-header">
  <h4><%= t('views.intents.index.list_title') %></h4>
  <div>
    <% if current_user.can? :edit, @agent %>
      <a href="<%= new_user_agent_intent_path(current_user, @agent) %>"
         class="btn btn--primary"
         data-action="open-remote-modal">
        <span class="icon icon--small"><%= icon_add_circle %></span> <%= t('views.intents.index.new') %>
      </a>
      <a href="<%= new_user_agent_entities_list_path(current_user, @agent) %>"
         class="btn btn--primary"
         data-action="open-remote-modal">
        <span class="icon icon--small"><%= icon_add_circle %></span> <%= t('views.entities_lists.index.new') %>
      </a>
    <% end %>
  </div>
</div>


<% current_user_can_edit = current_user.can?(:edit, @agent) %>
<% if @intents.count == 0 %>
  <br />
  <div class="card">
    <div class="card-content">
      <div class="blankslate">
        <div class="blankslate__illustration">
          <img src='<%= image_path "robot-idle.png" %>'
               srcset='<%= image_path "robot-idle.png" %> 1x,
                       <%= image_path "robot-idle@2x.png" %> 2x' />
        </div>
        <div class="blankslate__content">
          <% if current_user_can_edit %>
            <%= t('views.intents.blankslate.message_edit_html', agent: @agent.agentname) %>
          <% else %>
            <%= t('views.intents.blankslate.message_show_html', agent: @agent.agentname) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h5><%= t('views.intents.index.list_public_title_html') %></h5>
  <%= render 'intents_list', intents: @intents.is_public, current_user_can_edit: current_user_can_edit, visibility: 'is_public' %>
  <h5><%= t('views.intents.index.list_private_title_html') %></h5>
  <%= render 'intents_list', intents: @intents.is_private, current_user_can_edit: current_user_can_edit, visibility: 'is_private' %>
<% end %>
