<%= form_for(
      @search,
      as: :search,
      url: agents_path,
      method: :get,
      html: {
          class: "agent_search"
      }
    ) do |f| %>

  <% unless @search.empty? %>
    <div class="field agent_search__reset_search">
      <div class="control">
        <div class="note">
          <div class="note__icon">
            <span class="icon"><%= icon_information %></span>
          </div>
          <div class="note__content">
            <p>
              <%= t('views.agents.index.search_summary', count: @total_count) %>
              <%= link_to t('views.agents.index.search_reset'), agents_path(search: AgentSearch::DEFAULT_CRITERIA)%>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="field agent_search__query">
    <div class="control control--merged">
      <%= f.text_field :query, placeholder: t('views.agents.index.search.placeholder'), accesskey: "s" %>
      <%= f.button "<span class='icon icon--small'>#{icon_search}</span>".html_safe, class: "btn btn--primary", id: '#search',
            data: {
              disable_with: "<span class='icon icon--small icon--spin'>#{icon_loading}</span>".html_safe
            } %>
    </div>
  </div>

  <div class="field agent_search__sort_by">
    <div class="control">
      <%= render "form_sort_by", f: f %>
    </div>
  </div>

  <div class="field agent_search__filter_owner">
    <div class="control">
      <%= render "form_filter_owner", f: f %>
    </div>
  </div>

  <div class="field agent_search__filter_visibility">
    <div class="control">
      <%= render "form_filter_visibility", f: f %>
    </div>
  </div>

<% end %>
