<div id="agent-user-list-<%= agent.id %>">

  <div class="h4-actions-container">
    <h4><%= t('views.agents.show.sharing_overview') %></h4>
    <div>
      <% if User.confirmed.count > 1 %>
        <% if current_user.owner? agent %>
          <a href="<%= user_agent_memberships_path(agent.owner, agent) %>"
             class="btn btn--small" data-action="open-remote-modal">
            <span class="icon icon--x-small"><%= icon_share %></span>
            <%= t('views.agents.index.share') %>
          </a>
          <a href="<%= confirm_transfer_ownership_user_agent_path(agent.owner, agent) %>"
             class="btn btn--small" data-action="open-remote-modal">
            <span class="icon icon--x-small"><%= icon_transfert %></span>
            <%= t('views.agents.edit.transfer_ownership') %>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card">
    <ul class="user-list">
      <li>
        <div class="user">
          <div class="user__avatar">
            <img src="<%= agent.owner.image_url(:square) %>" />
          </div>
          <div class="user__info">
            <%= agent.owner.name_or_username %>
            <span class="badge badge--primary">
              <%= t('views.agents.show.owner') %>
            </span><br />
            <small><%= agent.owner.email %></small>
          </div>
        </div>
      </li>
      <% agent.collaborators.each do |collaborator| %>
        <li>
          <div class="user">
            <div class="user__avatar">
              <img src="<%= collaborator.image_url(:square) %>" />
            </div>
            <div class="user__info">
              <%= collaborator.name_or_username %>
              <span class="merged-badges">
                <span class="badge">
                  <%= t('views.agents.show.collaborator') %>
                </span>
                <span class="badge badge--primary">
                  <% if collaborator.can? :edit, agent %>
                    <%= t('views.agents.show.edit') %>
                  <% else %>
                    <%= t('views.agents.show.show') %>
                  <% end %>
                </span>
              </span>
              <br />
              <small><%= collaborator.email %></small>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

</div>
