<% unless @search.empty? && @agents.empty? %>
  <header class="header header--agents">
    <div class="header__breadcrumb">
      <% if @search.empty? %>
        <%= t('views.agents.breadcrumb.base') %>
      <% else %>
        <%= t('views.agents.index.search_summary', count: @total_count) %>
        <%= link_to t('views.agents.index.search_reset'),
              agents_path(
                search: AgentSearch::DEFAULT_CRITERIA.select{ |criteria| criteria != 'sort_by' }
              ) %>
      <% end %>
    </div>
    <% if !@agents.empty? || !@search.empty? %>
      <div class="header__search">
        <%= render "search" %>
      </div>
      <div class="header__tools">
        <a href="<%= new_user_agent_path(current_user) %>" class="btn btn--primary" data-action="open-remote-modal">
          <span class="icon icon--small"><%= icon_add_circle %></span> <%= t('views.agents.breadcrumb.new_btn') %>
        </a>
      </div>
    <% end %>
  </header>
<% end %>

<% if @agents.empty? %>
  <% if @search.empty? %>
    <div class="blankslate">
      <div class="blankslate__illustration">
        <img src='<%= image_path "robot-idle.png" %>'
             srcset='<%= image_path "robot-idle.png" %> 1x,
                     <%= image_path "robot-idle@2x.png" %> 2x' />
      </div>
      <div class="blankslate__content">
        <h2><%= t('views.agents.index.blankslate.title') %></h2>
        <p>
          <%= t('views.agents.index.blankslate.content') %>
        </p>
        <a href="<%= new_user_agent_path(current_user) %>" class="btn btn--primary" data-action="open-remote-modal">
          <span class="icon icon--small"><%= icon_add_circle %></span> <%= t('views.agents.breadcrumb.new_btn') %>
        </a>
      </div>
    </div>
  <% else %>
    <br />
    <div class="blankslate">
      <div class="blankslate__illustration">
        <img src='<%= asset_path("robot-confused.png") %>'
             srcset='<%= asset_path("robot-confused.png") %> 1x,
                     <%= asset_path("robot-confused@2x.png") %> 2x' />
      </div>
      <div class="blankslate__content">
        <h2>
          <%= t('views.agents.index.search_summary', count: @total_count) %>
        </h2>
        <% label = "<span class='icon icon--small'>#{icon_loading}</span> #{t('views.agents.index.search_reset')}" %>
        <%= link_to label.html_safe, agents_path(
              search: AgentSearch::DEFAULT_CRITERIA.select{ |criteria| criteria != 'sort_by' }
            ), class: 'btn btn--primary' %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="agents-box-grid agents-box-grid--full">
    <% @agents.each do |agent| %>
      <% cache [agent, current_user, 'editable_true'] do %>
        <%= render 'agent_box', agent: agent, editable: true %>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= paginate @agents %>
