<header class="header">
  <div class="header__breadcrumb">
    <%= t('views.agents.breadcrumb.base') %> /
    <strong><%= t('views.agents.breadcrumb.agents_management') %></strong>
  </div>
  <div class="header__search">
    ...
  </div>
  <div class="header__tools">
    <a href="<%= new_user_agent_path(current_user) %>" class="btn btn--primary">
      <span class="icon icon--small"><%= icon_add_circle %></span> <%= t('views.agents.breadcrumb.new_btn') %>
    </a>
  </div>
</header>
<div class="card">
  <div class="card-content">
    <ul class="agents-list">
      <% @agents.each do |agent| %>
      <li class="agents-list__item">
        <h3><%= agent.name %></h3>
        <p><%= agent.description %></p>
        <a href="<%= confirm_destroy_user_agent_path(current_user, agent) %>" class="btn btn--small btn--outline btn--destructive" data-action="open-remote-modal">
          <%= t('views.agents.index.delete.btn') %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
