<header class="header header--agents">
  <div class="header__breadcrumb">
    <% if @search.empty? %>
      <%= t('views.agents.breadcrumb.base') %>
    <% else %>
      <%= t('views.agents.index.search_summary', count: @total_count) %>
      <%= link_to t('views.agents.index.search_reset'),
            agents_path(
              search: AgentSearch::DEFAULT_CRITERIA.select{ |criteria| criteria != 'sort_by' }
            ) %>
    <% end %>
  </div>
  <% if !@agents.empty? || !@search.empty? %>
    <div class="header__search">
      <%= render "search" %>
    </div>
    <div class="header__tools">
      <a href="<%= new_user_agent_path(current_user) %>" class="btn btn--primary" data-action="open-remote-modal">
        <span class="icon icon--small"><%= icon_add_circle %></span> <%= t('views.agents.breadcrumb.new_btn') %>
      </a>
    </div>
  <% end %>
</header>

<% if @agents.empty? %>
  <% if @search.empty? %>
    <div class="blankslate">
      <div class="blankslate__illustration">
        <img src='<%= image_path "robot-idle.png" %>'
             srcset='<%= image_path "robot-idle.png" %> 1x,
                     <%= image_path "robot-idle@2x.png" %> 2x' />
      </div>
      <div class="blankslate__content">
        <h2><%= t('views.agents.index.blankslate.title') %></h2>
        <p>
          <%= t('views.agents.index.blankslate.content') %>
        </p>
        <a href="<%= new_user_agent_path(current_user) %>" class="btn btn--primary btn--large" data-action="open-remote-modal">
          <span class="icon icon--small"><%= icon_add_circle %></span> <%= t('views.agents.breadcrumb.new_btn') %>
        </a>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="agents-box-grid agents-box-grid--full">
    <% @agents.each do |agent| %>
      <%= render 'agent_box', agent: agent, editable: true %>
    <% end %>
  </div>
<% end %>
<%= paginate @agents %>
