<header class="header">
  <div class="header__breadcrumb">
    <%= t('views.agents.breadcrumb.base') %> /
    <strong><%= t('views.agents.breadcrumb.agents_management') %></strong>
  </div>
  <% if !@agents.empty? || !@search.empty? %>
    <div class="header__search">
      <%= render "search" %>
    </div>

    <div class="header__tools">
      <a href="<%= new_user_agent_path(current_user) %>" class="btn btn--primary" data-action="open-remote-modal">
        <span class="icon icon--small"><%= icon_add_circle %></span> <%= t('views.agents.breadcrumb.new_btn') %>
      </a>
    </div>
  <% end %>
</header>

<% if @agents.empty? %>
  <% if @search.empty? %>
    <div class="blankslate">
      <div class="blankslate__illustration">
        <img src='<%= image_path "robot-idle.png" %>'
             srcset='<%= image_path "robot-idle.png" %> 1x,
                     <%= image_path "robot-idle@2x.png" %> 2x' />
      </div>
      <div class="blankslate__content">
        <h2><%= t('views.agents.index.blankslate.title') %></h2>
        <p>
          <%= t('views.agents.index.blankslate.content') %>
        </p>
        <a href="<%= new_user_agent_path(current_user) %>" class="btn btn--primary btn--large" data-action="open-remote-modal">
          <span class="icon icon--small"><%= icon_add_circle %></span> <%= t('views.agents.breadcrumb.new_btn') %>
        </a>
      </div>
    </div>
  <% else %>
    <%= t('views.agents.index.search.not_found') %>
  <% end %>
<% else %>

  <div class="agents-box-grid">
    <% @agents.each do |agent| %>
      <div class="agent-box">
        <a href="<%= user_agent_path(current_user, agent.agentname) %>" class="agent-box__header agent-box__header--<%= agent.color %>" id="<%= "agent-#{current_user.username}-#{agent.agentname}"%>">
          <h2><%= agent.name %></h2>
          <h3><%= agent.users.first.username %>/<%= agent.agentname %></h3>
        </a>
        <div class="agent-box__content">
          <span>
            <% if agent.updated_at == agent.created_at %>
              <%= t('views.agents.index.created_time_ago', time: time_ago_in_words(agent.updated_at)) %>
            <% else %>
              <%= t('views.agents.index.updated_time_ago', time: time_ago_in_words(agent.updated_at)) %>
            <% end %>
          </span>
          <div class="dropdown">
            <div class="dropdown__trigger">
              <button class="btn"><span class="icon"><%= icon_dots %></span></button>
            </div>
            <div class="dropdown__content dropdown__content--hidden dropdown__content--on-right">
              <ul>
                <li>
                  <a href="<%= edit_user_agent_path(current_user, agent, origin: 'index') %>" data-action="open-remote-modal">
                    <span class="icon icon--small"><%= icon_settings %></span> <%= t('views.agents.index.configure') %>
                  </a>
                </li>
                <li>
                  <a href="<%= confirm_destroy_user_agent_path(current_user, agent) %>" data-action="open-remote-modal">
                    <span class="icon icon--small"><%= icon_delete %></span> <%= t('views.agents.index.delete') %>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= paginate @agents %>
