<header class="header">
  <div class="header__breadcrumb">
    <%= t('views.agents.breadcrumb.base') %> /
    <%= link_to t('views.agents.breadcrumb.agents_management'), agents_path %> /
    <strong><%= t('views.agents.breadcrumb.create_agent') %></strong>
  </div>
</header>

<div class="card">
  <div class="card-content">

    <h3><%= t('views.agents.new.title') %></h3>

    <%= form_with model: @agent, local: true do |f| %>
      <div class="field">
        <div class="control">
          <%= f.label :name, t('views.agents.new.name') %>
          &nbsp;<span class="badge badge--small badge--outline"><%= t('required') %></span>
          <br />
          <%= f.text_field :name, id: :agent_name %>
          <%= display_errors(@agent, :name) %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.label :agentname, t('views.agents.new.agentname') %>
          &nbsp;<span class="badge badge--small badge--outline"><%= t('required') %></span>
          <br />
          <%= f.text_field :agentname, id: :agent_agentname %>
          <%= display_errors(@agent, :agentname) %>
        </div>
      </div>

      <div class="actions">
        <%= f.button t('views.agents.new.btn'), class: "btn btn--primary",
         data: {
          disable_with: "<span class='icon icon--spin'>#{icon_loading}</span> #{t('loading')}".html_safe
        }
        %>
        <a href="<%= agents_path %>" class="btn btn--plain"><%= t('cancel') %></a>
      </div>
    <% end %>
  </div>
</div>
