<header class="header">
  <div class="header__breadcrumb">
    <%= link_to t('views.agents.breadcrumb.base'), agents_path %> /
    <strong><%= @agent.name %></strong> (<%= @agent.owner.username %>/<%= @agent.agentname %>)
  </div>
  <div class="header__tools">
    <% if User.confirmed.count > 1 %>
      <% if current_user.owner? @agent %>
        <a href="<%= confirm_transfer_ownership_user_agent_path(@agent.owner, @agent) %>"
           class="btn btn--small btn--destructive" data-action="open-remote-modal">
          <span class="icon icon--x-small"><%= icon_transfert %></span>
          <%= t('views.agents.edit.transfer_ownership') %>
        </a>
        <a href="<%= user_agent_memberships_path(@agent.owner, @agent) %>"
           class="btn btn--small" data-action="open-remote-modal">
          <span class="icon icon--x-small"><%= icon_share %></span>
          <%= t('views.agents.index.share') %>
        </a>
      <% end %>
    <% end %>
    <% if current_user.can? :edit, @agent %>
      <a href="<%= edit_user_agent_path(@agent.owner, @agent, origin: 'show') %>"
         class="btn btn--small" data-action="open-remote-modal">
        <span class="icon icon--small"><%= icon_settings %></span> <%= t('views.agents.show.configure_btn') %>
      </a>
    <% end %>
  </div>
</header>

<%= render 'agent', agent: @agent %>


<div class="intents-list-header">
  <h4><%= t('views.intents.index.list_title') %></h4>
  <div>
    <% if @agent.intents.count > 1 %>
      <a href="#" class="btn js-start-reorganize-intents" data-action="start-reorganize-intents">
        <span class="icon icon--small"><%= icon_drag_handle %></span>
        <%= t('views.intents.index.start_reorganize') %>
      </a>
      <a href="#" class="btn js-stop-reorganize-intents" data-action="stop-reorganize-intents" style="display:none;">
        <span class="icon icon--small"><%= icon_drag_handle %></span>
        <%= t('views.intents.index.stop_reorganize') %>
      </a>
    <% end %>
    <a href="<%= new_user_agent_intent_path(current_user, @agent) %>"
       class="btn btn--primary js-new-intent"
       data-action="open-remote-modal">
      <span class="icon icon--small"><%= icon_add_circle %></span> <%= t('views.intents.index.new') %>
    </a>
  </div>
</div>

<ul class="intents-list" id="intents-list"
    data-update-positions-path="<%= update_positions_user_agent_intents_path(@agent.owner, @agent) %>">
  <% @intents.each do |intent| %>
  <li data-id="<%= intent.id %>">

    <a href="#" class="js-intent-show-link">
      <span class="intents-list__item__name"><%= intent.intentname %></span>
      <span class="intents-list__item__desc"><%= intent.description %></span>
    </a>

    <div class="intents-list__item__actions">
      <div class="dropdown">
        <div class="dropdown__trigger">
          <button class="btn btn--small">
            <span class="icon icon--x-small">
              <%= icon_dots %>
            </span>
          </button>
        </div>
        <div class="dropdown__content dropdown__content--hidden dropdown__content--on-right">
          <ul>
            <li>
              <a href="<%= edit_user_agent_intent_path(@agent.owner, @agent, intent) %>" data-action="open-remote-modal">
                <span class="icon icon--x-small">
                  <%= icon_settings %>
                </span>
                <%= t('views.intents.index.configure') %>
              </a>
            </li>
            <li class="separator">
              <a href="#" class="destructive">
                <span class="icon icon--x-small">
                  <%= icon_delete %>
                </span>
                <%= t('views.intents.index.delete') %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="intents-list__item__draggable" style="display:none;">
      <span class="btn btn--outline btn--small btn--drag">
        <span class="icon icon--x-small">
          <%= icon_drag_handle %>
        </span>
        <%= t('views.intents.index.move') %>
      </span>
    </div>

  </li>
  <% end %>
</ul>
