<header class="header">
  <div class="header__breadcrumb">
    <%= link_to t('views.agents.breadcrumb.base'), agents_path %> /
    <strong><%= @agent.name %></strong> (<%= @agent.slug %>)
  </div>
  <div class="header__tools">
    <% if current_user.can? :edit, @agent %>
      <a href="<%= edit_user_agent_path(@agent.owner, @agent, origin: 'show') %>"
         class="btn btn--small btn--outline" data-action="open-remote-modal">
        <span class="icon icon--small"><%= icon_settings %></span> <%= t('views.agents.show.configure_btn') %>
      </a>
    <% end %>
    <% if User.confirmed.count > 1 %>
      <% if current_user.owner? @agent %>
        <a href="<%= user_agent_memberships_path(@agent.owner, @agent) %>"
           class="btn btn--small btn--outline" data-action="open-remote-modal">
          <span class="icon icon--x-small"><%= icon_share %></span>
          <%= t('views.agents.index.share') %>
        </a>
        <a href="<%= confirm_transfer_ownership_user_agent_path(@agent.owner, @agent) %>"
           class="btn btn--small btn--outline" data-action="open-remote-modal">
          <span class="icon icon--x-small"><%= icon_transfert %></span>
          <%= t('views.agents.edit.transfer_ownership') %>
        </a>
      <% end %>
    <% end %>
  </div>
</header>

<%= render 'agent', agent: @agent %>

<%= render 'dependencies' %>

<div class="tabs">
  <ul>
    <li>
      <% css_class = @section == 'overview' ?  'current' : '' %>
      <%= link_to t('views.agents.show.sections.overview'), user_agent_path(@agent.owner, @agent, section: 'overview'), class: css_class %>
    </li>
    <li>
      <% css_class = @section == 'intents' ?  'current' : '' %>
      <%= link_to t('views.agents.show.sections.intents'), user_agent_path(@agent.owner, @agent, section: 'intents'), class: css_class %>
    </li>
    <li>
      <% css_class = @section == 'entities_lists' ?  'current' : '' %>
      <%= link_to t('views.agents.show.sections.entities_lists'), user_agent_path(@agent.owner, @agent, section: 'entities_lists'), class: css_class %>
    </li>
  </ul>
</div>

<% if @section == 'intents' %>
  <%= render 'intents_section' %>
<% elsif @section == 'entities_lists' %>
  <%= render 'entities_lists_section' %>
<% else %>
  <%= render 'overview_section' %>
<% end %>

<% content_for :right_aside do %>
  <%= render '/console/base' %>
<% end %>
