<section>
  <h2>Button</h2>
  <%= highlight_html('bg-light-grey-300') do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <form class="chatbot__widget chatbot__widget--button">
        <button>I'm a button</button>
      </form>
    </div>
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:01</div>
      </div>
      <form class="chatbot__widget chatbot__widget--button">
        <button disabled="disabled">I'm a disabled button</button>
      </form>
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Link as button</h2>
  <%= highlight_html('bg-light-grey-300') do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--button-link">
        <a href="#" target="_blank" rel="nofollow">
          I look like a button
        </a>
      </div>
    </div>
  </div>
</div>
  <% end %>
</section>


<section>
  <h2>Button group</h2>
  <%= highlight_html('bg-light-grey-300') do %>
<div class="chatbot">
  <div class="chatbot__discussion">

    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--button-group">
        <form>
          <button>Button A</button>
        </form>
        <form>
          <button>Button B</button>
        </form>
        <form>
          <button>Button C</button>
        </form>
        <form>
          <button>Button D</button>
        </form>
      </div>
    </div>

    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:01</div>
      </div>
      <div class="chatbot__widget chatbot__widget--button-group">
        <form>
          <button disabled>Button A</button>
        </form>
        <form>
          <button disabled selected>Button B</button>
        </form>
        <form>
          <button disabled>Button C</button>
        </form>
        <form>
          <button disabled>Button D</button>
        </form>
      </div>
    </div>

  </div>
</div>
  <% end %>
</section>
