<section>
  <h2>Card</h2>
  <h3>Standard</h3>
  <%= highlight_html do %>

<div class="grid-card">

  <div class="chatbot">
    <div class="chatbot__discussion">
      <div class="chatbot__statement chatbot__statement--bot">
        <div class="chatbot__avatar">
          <div class="chatbot__avatar__image">
            <img src="<%= image_path('default_bot.png') %>">
          </div>
          <div class="chatbot__avatar__time">12:00</div>
        </div>
        <div class="chatbot__widget chatbot__widget--card">
          <div class="chatbot__widget chatbot__widget--text">
            Vivamus sed dolor velit. Aliquam ac elit faucibus ipsum facilisis ullamcorper. Etiam ut dictum sapien.
          </div>
          <form class="chatbot__widget chatbot__widget--button">
            <button>Button A</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="chatbot">
    <div class="chatbot__discussion">
      <div class="chatbot__statement chatbot__statement--bot">
        <div class="chatbot__avatar">
          <div class="chatbot__avatar__image">
            <img src="<%= image_path('default_bot.png') %>">
          </div>
          <div class="chatbot__avatar__time">12:00</div>
        </div>
        <div class="chatbot__widget chatbot__widget--card">
          <div class="chatbot__widget chatbot__widget--text">
            Vivamus sed dolor velit. Aliquam ac elit faucibus ipsum facilisis ullamcorper. Etiam ut dictum sapien.
          </div>
          <div class="chatbot__widget chatbot__widget--button-group">
            <form>
              <button>Button A</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="chatbot">
    <div class="chatbot__discussion">
      <div class="chatbot__statement chatbot__statement--bot">
        <div class="chatbot__avatar">
          <div class="chatbot__avatar__image">
            <img src="<%= image_path('default_bot.png') %>">
          </div>
          <div class="chatbot__avatar__time">12:00</div>
        </div>
        <div class="chatbot__widget chatbot__widget--card">
          <div class="chatbot__widget chatbot__widget--text">
            <p>Vivamus sed dolor velit. Aliquam ac elit faucibus ipsum facilisis ullamcorper. Etiam ut dictum sapien.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet</li>
              <li>consectetur adipisicing elit.</li>
            </ul>
          </div>
          <div class="chatbot__widget chatbot__widget--button-group">
            <form>
              <button>Button A</button>
            </form>
            <form>
              <button>Button B</button>
            </form>
            <form>
              <button>Button C</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chatbot">
    <div class="chatbot__discussion">
      <div class="chatbot__statement chatbot__statement--bot">
        <div class="chatbot__avatar">
          <div class="chatbot__avatar__image">
            <img src="<%= image_path('default_bot.png') %>">
          </div>
          <div class="chatbot__avatar__time">12:00</div>
        </div>
        <div class="chatbot__widget chatbot__widget--card">
          <div class="chatbot__widget chatbot__widget--text">
            Vivamus sed dolor velit. Aliquam ac elit faucibus ipsum facilisis ullamcorper. Etiam ut dictum sapien.
          </div>
          <div class="chatbot__widget chatbot__widget--image">
            <img src="<%= image_path('style-guide/kitten.jpg') %>">
            <div class="chatbot__widget--image__info">
              <h2>Meow!</h2>
              <p>Portrait of a little kitten. So cute 😻</p>
            </div>
          </div>
          <div class="chatbot__widget chatbot__widget--button-group">
            <form>
              <button>Button A</button>
            </form>
            <form>
              <button>Button B</button>
            </form>
            <form>
              <button>Button C</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chatbot">
    <div class="chatbot__discussion">
      <div class="chatbot__statement chatbot__statement--bot">
        <div class="chatbot__avatar">
          <div class="chatbot__avatar__image">
            <img src="<%= image_path('default_bot.png') %>">
          </div>
          <div class="chatbot__avatar__time">12:00</div>
        </div>
        <div class="chatbot__widget chatbot__widget--card">
          <div class="chatbot__widget chatbot__widget--image">
            <img src="<%= image_path('style-guide/kitten.jpg') %>">
            <div class="chatbot__widget--image__info">
              <h2>Meow! &mdash; 789$</h2>
              <p>Portrait of a little kitten. So cute 😻</p>
            </div>
          </div>
          <form class="chatbot__widget chatbot__widget--button">
            <button>Add to basket</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="chatbot">
    <div class="chatbot__discussion">
      <div class="chatbot__statement chatbot__statement--bot">
        <div class="chatbot__avatar">
          <div class="chatbot__avatar__image">
            <img src="<%= image_path('default_bot.png') %>">
          </div>
          <div class="chatbot__avatar__time">12:00</div>
        </div>
        <div class="chatbot__widget chatbot__widget--card">
          <div class="chatbot__widget chatbot__widget--image">
            <img src="<%= image_path('style-guide/kitten.jpg') %>">
          </div>
          <div class="chatbot__widget chatbot__widget--text">
            Vivamus sed dolor velit. Aliquam ac elit faucibus ipsum facilisis ullamcorper. Etiam ut dictum sapien.
          </div>
          <div class="chatbot__widget chatbot__widget--button-group">
            <form>
              <button>Button A</button>
            </form>
            <form>
              <button>Button B</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chatbot">
    <div class="chatbot__discussion">
      <div class="chatbot__statement chatbot__statement--bot">
        <div class="chatbot__avatar">
          <div class="chatbot__avatar__image">
            <img src="<%= image_path('default_bot.png') %>">
          </div>
          <div class="chatbot__avatar__time">12:00</div>
        </div>
        <div class="chatbot__widget chatbot__widget--card">
          <div class="chatbot__widget chatbot__widget--image">
            <img src="<%= image_path('style-guide/kitten.jpg') %>">
            <div class="chatbot__widget--image__info">
              <h2>Meow!</h2>
              <p>Portrait of a little kitten. So cute 😻</p>
            </div>
          </div>
          <div class="chatbot__widget chatbot__widget--text">
            Vivamus sed dolor velit. Aliquam ac elit faucibus ipsum facilisis ullamcorper. Etiam ut dictum sapien.
          </div>
          <div class="chatbot__widget chatbot__widget--button-group">
            <form>
              <button>Button A</button>
            </form>
            <form>
              <button>Button B</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="chatbot">
    <div class="chatbot__discussion">
      <div class="chatbot__statement chatbot__statement--bot">
        <div class="chatbot__avatar">
          <div class="chatbot__avatar__image">
            <img src="<%= image_path('default_bot.png') %>">
          </div>
          <div class="chatbot__avatar__time">12:00</div>
        </div>
        <div class="chatbot__widget chatbot__widget--card">
          <div class="chatbot__widget chatbot__widget--image">
            <img src="<%= image_path('style-guide/kitten.jpg') %>">
          </div>
          <div class="chatbot__widget chatbot__widget--text">
            Vivamus sed dolor velit. Aliquam ac elit faucibus ipsum facilisis ullamcorper. Etiam ut dictum sapien.
          </div>
          <div class="chatbot__widget chatbot__widget--image">
            <img src="<%= image_path('style-guide/kitten.jpg') %>">
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="chatbot">
    <div class="chatbot__discussion">
      <div class="chatbot__statement chatbot__statement--bot">
        <div class="chatbot__avatar">
          <div class="chatbot__avatar__image">
            <img src="<%= image_path('default_bot.png') %>">
          </div>
          <div class="chatbot__avatar__time">12:00</div>
        </div>
        <div class="chatbot__widget chatbot__widget--card">
          <div class="chatbot__widget chatbot__widget--video">
            <div class="chatbot__widget--video__wrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/f79-58hLLXs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
          <form class="chatbot__widget chatbot__widget--button">
            <button>Add to basket</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="chatbot">
    <div class="chatbot__discussion">
      <div class="chatbot__statement chatbot__statement--bot">
        <div class="chatbot__avatar">
          <div class="chatbot__avatar__image">
            <img src="<%= image_path('default_bot.png') %>">
          </div>
          <div class="chatbot__avatar__time">12:00</div>
        </div>
        <div class="chatbot__widget chatbot__widget--card">
          <div class="chatbot__widget chatbot__widget--video">
            <div class="chatbot__widget--video__wrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/f79-58hLLXs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="chatbot__widget--video__info">
              <h2>The best Funny Playing Cats</h2>
              <p>Here we love kittens. The kittens are too cute. Do you agree?</p>
            </div>
          </div>
          <form class="chatbot__widget chatbot__widget--button">
            <button>Add to basket</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="chatbot">
    <div class="chatbot__discussion">
      <div class="chatbot__statement chatbot__statement--bot">
        <div class="chatbot__avatar">
          <div class="chatbot__avatar__image">
            <img src="<%= image_path('default_bot.png') %>">
          </div>
          <div class="chatbot__avatar__time">12:00</div>
        </div>
        <div class="chatbot__widget chatbot__widget--card">
          <div class="chatbot__widget chatbot__widget--map">
            <div class="chatbot__widget--map__wrapper">
              <iframe
                width="600"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=***REMOVED***
                  &q=Valence" allowfullscreen>
              </iframe>
            </div>
            <div class="chatbot__widget--map__info">
              <h2>Valence (Drôme)</h2>
              <p>
                Valence est une commune du sud-est de la France.
              </p>
            </div>
          </div>
          <form class="chatbot__widget chatbot__widget--button">
            <button>Add to basket</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<% end %>
