<section>
  <h2>Image</h2>

  <h3>Only image</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--image">
        <img src="<%= image_path('style-guide/kitten.jpg') %>">
      </div>
    </div>
  </div>
</div>
  <% end %>

  <h3>Image + Title</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--image">
        <img src="<%= image_path('style-guide/kitten.jpg') %>">
        <div class="chatbot__widget--image__info">
          <h2>Meow!</h2>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>

  <h3>Image + Title + Description</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--image">
        <img src="<%= image_path('style-guide/kitten.jpg') %>">
        <div class="chatbot__widget--image__info">
          <h2>Meow!</h2>
          <p>Portrait of a little kitten. So cute 😻</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>
</section>
