<% google_map_api_key = ENV.fetch("VIKYAPP_GOOGLE_MAP_API_KEY") { "missing-google-map-api-key" } %>

<section>
  <h2>Map</h2>
  <h3>Only map</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--map">
        <div class="chatbot__widget--map__wrapper">
          <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=<%= google_map_api_key %>&q=Valence" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>

  <h3>Maps + Title</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--map">
        <div class="chatbot__widget--map__wrapper">
          <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=<%= google_map_api_key %>&q=Valence" allowfullscreen>
          </iframe>
        </div>
        <div class="chatbot__widget--map__info">
          <h2>Valence (Drôme)</h2>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>

  <h3>Maps + Title + Description</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--map">
        <div class="chatbot__widget--map__wrapper">
          <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=<%= google_map_api_key %>&q=Valence" allowfullscreen>
          </iframe>
        </div>
        <div class="chatbot__widget--map__info">
          <h2>Valence (Drôme)</h2>
          <p>Valence est une commune du sud-est de la France. Avec 62 150 habitants, elle est la ville la plus peuplée de la Drôme. Ses habitants sont appelés les Valentinois.</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>
</section>
