<section>
  <h2>Video</h2>
  <h3>Only video</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--video">
        <div class="chatbot__widget--video__wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/f79-58hLLXs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>

  <h3>Video + Title</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--video">
        <div class="chatbot__widget--video__wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/f79-58hLLXs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="chatbot__widget--video__info">
          <h2>The best Funny Playing Cats</h2>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>

  <h3>Video + Title + Subtitle</h3>
  <%= highlight_html do %>
<div class="chatbot">
  <div class="chatbot__discussion">
    <div class="chatbot__statement chatbot__statement--bot">
      <div class="chatbot__avatar">
        <div class="chatbot__avatar__image">
          <img src="<%= image_path('default_bot.png') %>">
        </div>
        <div class="chatbot__avatar__time">12:00</div>
      </div>
      <div class="chatbot__widget chatbot__widget--video">
        <div class="chatbot__widget--video__wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/f79-58hLLXs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="chatbot__widget--video__info">
          <h2>The best Funny Playing Cats</h2>
          <p>Here we love kittens. The kittens are too cute. Do you agree?</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>
</section>
