<a href="#" data-action="console-enter-fullscreen" class="toggle-console">Console</a>

<aside class="console-container">
  <div class="panels-switch">
    <div class="panels-switch__panel" id="console" data-turbolinks-permanent>

      <div class="console">
        <div class="console__header">
          <%= render 'console/header' %>
        </div>

        <%= render 'console/form' %>

        <div class="console__tabs">
          <div class="tabs tabs--small tabs--on-center" id="console-tabs"></div>
        </div>

        <div class="console__output" id="console-output"></div>

        <a href="#" class="console__footer"
           id="console-footer"
           v-if='summary.visible'
           data-action="console-show-cts">
          <%= render 'console/tests_suite_summary' %>
        </a>
      </div>

    </div>

    <div class="panels-switch__panel panels-switch__panel--hide" id="console-ts" data-turbolinks-permanent>

      <div class="console">
        <%= render 'console/tests_suite' %>
      </div>

    </div>
  </div>
</aside>

<script>
  test_suite_data = <%= @agent.regression_checks_to_json.html_safe %>;
</script>
