<%= form_with url: interpret_user_agent_path(@agent.owner, @agent), method: :get, id: 'js-console-form' do |f| %>
  <input type='hidden' name='interpret[current_tab]'   value="explain" id="console-current-tab-input" />
  <input type='hidden' name='interpret[verbose]'       value="false"   class="js-verbose-input" />
  <input type='hidden' name='interpret[language]'      value="*"       class="js-nlp-language-input" />
  <input type='hidden' name='interpret[spellchecking]' value="low"     class="js-nlp-spellchecking-input" />

  <div class="field field--inline">

    <div class="control">
      <span class="label"><%= t('nlp.locales.label') %></span>
      <%= render partial: "/shared/nlp_locales_dropdown", locals: {
        current_value: "*",
        form_selector: "#js-console-form",
        input_selector: ".js-nlp-language-input"
      } %>
    </div>

    <div class="control">
      <span class="label"><%= t('nlp.spellchecking.label') %></span>
      <%= render partial: "/shared/nlp_spellchecking_dropdown", locals: {
        current_value: "low",
        form_selector: "#js-console-form",
        input_selector: ".js-nlp-spellchecking-input"
      } %>
    </div>

    <div class="control">
      <span class="label"><%= t('views.console.verbose.label') %></span>
      <div class="btn-group">
        <button class="btn btn--primary btn--small" type="button"
                data-behavior="populate-input, submit-form"
                data-form-selector="#js-console-form"
                data-input-selector=".js-verbose-input"
                data-input-value="false">
          <%= t('views.console.verbose.disable') %>
        </button>
        <button class="btn btn--small" type="button"
                data-behavior="populate-input, submit-form"
                data-form-selector="#js-console-form"
                data-input-selector=".js-verbose-input"
                data-input-value="true">
          <%= t('views.console.verbose.enable') %>
        </button>
      </div>
    </div>

    <div class="control">
      <span class="label"><%= t('views.console.datetime.label') %></span>
      <div id="console-btn-group-now-type" class="btn-group">
        <button class="btn btn--primary btn--small" type="button"
          data-behavior="populate-input, submit-form, trigger-event"
          data-form-selector="#js-console-form"
          data-trigger-event="console-select-now-type-auto">
          <%= t('views.console.datetime.auto') %>
        </button>
        <button class="btn btn--small" type="button"
          data-behavior="trigger-event"
          data-trigger-event="console-select-now-type-manual">
          <%= t('views.console.datetime.manual') %>
        </button>
      </div>
    </div>

  </div>

  <div class='field field--console-now' id="js-console-now-input-container" style="display:none;">
    <div class='control control--merged'>
      <span class="addon"><%= t('views.console.datetime.addon') %></span>
      <input type='text' name='interpret[now]' value="" />
    </div>
  </div>

  <div class='field'>
    <div class='control control--merged'>
      <input type='text' placeholder='<%= t('views.console.sentence_placeholder') %>'
             name='interpret[sentence]' value="" dir="auto" id="js-console-input-sentence"/>
      <button id="console-send-sentence"
              class='btn btn--primary'
              data-disable-with='<span class="icon icon--small icon--spin"><%= icon_loading %></span>'>
        <span class='icon icon--small'>
          <%= icon_send %>
        </span>
      </button>
    </div>
  </div>
<% end %>
