<div class="c-explain" id="console-explain" <% if current_tab == 'json' %>style="display:none;"<% end %>>
  <% if data[:status] == 200 %>
    <% json = JSON.parse(data[:body]) %>
    <% if json['interpretations'].empty? %>
      <p>
        <span class="badge badge--success"><%= data[:status] %></span>
        <%= t('views.console.no_intent_found') %>
      </p>
    <% else %>
      <p>
        <span class="badge badge--success"><%= data[:status] %></span>
        <% unless json['warnings'].nil? %>
          <span class="badge badge--warning">
            <%= t('views.console.warnings', count: json['warnings'].count) %>
          </span>
        <% end %>
        <%= t('views.console.intent_found', count: json['interpretations'].count) %>
      </p>
      <ul class="c-intents">
        <% json['interpretations'].each_with_index do |aliasable, interpretation_index| %>
          <li id="<%= aliasable["id"] %>" class="c-intent">
            <div class="c-intent__header">
              <a href="/agents/<%= aliasable["slug"] %>" class="intent__header__name"><%= aliasable["name"] %></a>
              <% if aliasable['scope'] == 'public' %>
                <span class="badge badge--success badge--small">
                  <%= t('activerecord.attributes.intent.visibility_is_public').upcase %>
                </span>
              <% end %>
              <% if aliasable['scope'] == 'private' %>
                <span class="badge badge--warning badge--small">
                  <%= t('activerecord.attributes.intent.visibility_is_private').upcase %>
                </span>
              <% end %>
              <span class="c-intent__header__slug">
                (<%= "#{aliasable["slug"].split('/').first}/#{aliasable["slug"].split('/').second}" %>)
              </span>
              <span class="c-intent__header__score">
                <span class="badge badge--grey badge--small badge--outline"><%= aliasable["score"] %></span>
              </span>
            </div>
            <ul>
              <% unless aliasable["explanation"].nil? %>
                <li>
                  <div class="c-intent__label"><%= t('views.console.scores') %></div>
                  <pre class="c-intent__scores"><%= aliasable["explanation"]["scores"] %></pre>
                </li>
                <li>
                  <div class="c-intent__label"><%= t('views.console.highlight') %></div>
                  <div class="c-intent__highlight">
                    <%= highlight(aliasable["explanation"]["highlight"]["words"], interpretation_index) %>
                    <% aliasable["explanation"]["highlight"]["words"].each_with_index do |word, word_index| %>
                      <% unless word["match"].nil? %>
                        <ul style="display:none;" id="highlight-explain-<%= interpretation_index %>-<%= word_index %>">
                          <%= highlight_explain_item(word["match"]) %>
                          <% parent = word["match"]["parent"] %>
                          <% while !parent.nil? %>
                            <%= highlight_explain_item(parent) %>
                            <% parent = parent["parent"] %>
                          <% end %>
                        </ul>
                      <% end %>
                    <% end %>
                  </div>
                </li>
              <% end %>
              <% unless aliasable["solution"].nil? %>
                <li>
                  <div class="c-intent__label"><%= t('views.console.solution') %></div>
                    <pre><code class='language-javascript'><%= JSON.pretty_generate(aliasable["solution"]) %></code></pre>
                  </li>
                <% end %>
              </ul>
            <div class="c-intent__footer">
                <div class="c-intent__footer__status">
                  <% if agent.sentence_tested?(user_query[:sentence]) %>
                    <% regression_check = agent.regression_check_for user_query[:sentence] %>
                    <span class="ts-status ts-status--<%= regression_check.state %>"></span>
                    <%= t("views.agent_regression_checks.indicator.#{regression_check.state}")%>
                  <% end %>
                </div>
                <div class="c-intent__footer__action">
                <% if !agent.sentence_tested?(user_query[:sentence]) && current_user.can?(:edit, agent) && interpretation_index.zero? %>
                  <%= form_with url: user_agent_agent_regression_checks_path(current_user, agent), method: :post, scope: 'regression_check' do |f| %>
                    <%= f.hidden_field :sentence, value: user_query[:sentence] %>
                    <%= f.hidden_field :language, value: user_query[:language] %>
                    <%= f.hidden_field :now, value: user_query[:now] %>
                    <%= f.hidden_field 'expected[package]', value: Intent.find(aliasable['id']).agent.id %>
                    <%= f.hidden_field 'expected[id]', value: aliasable['id'] %>
                    <%= f.hidden_field 'expected[score]', value: aliasable['score'] %>
                    <%= f.hidden_field 'expected[solution]', value: aliasable['solution'].to_json %>
                    <%= f.submit t('views.console.regression_check.add'), class: 'btn btn--small btn--primary'%>
                  <% end %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>

  <% else %>
    <p>
      <span class="badge badge--danger"><%= data[:status] %></span>
      <%= t('views.console.error_occurred') %>
    </p>
  <% end %>

  <div class="c-explain__footer">
    <a href="<%= data[:path] %>" target="_blank">
      <%= t('views.console.go_to_api_endpoint') %>
    </a>
    <% if current_user.admin? %>
      <a href="<%= data[:package_path]%>" target="_blank">
        <%= t('views.console.download_package') %>
      </a>
    <% end %>
  </div>
</div>

<div id="console-json" <% if current_tab == 'explain' %>style="display:none;"<% end %>>
  <pre><code class='language-javascript'><%= JSON.pretty_generate(JSON.parse(data[:body])) %></code></pre>
</div>
