<div id="console-explain" <% if current_tab == 'json' %>style="display:none;"<% end %>>
  <% if data[:status] == 200 %>
    <% json = JSON.parse(data[:body]) %>

    <% if json['interpretations'].empty? %>
      <p>
        <span class="badge badge--success"><%= data[:status] %></span>
        <%= t('views.console.no_intent_found') %>
      </p>
    <% else %>
      <p>
        <span class="badge badge--success"><%= data[:status] %></span>
        <% unless json['warnings'].nil? %>
          <span class="badge badge--warning">
            <%= t('views.console.warnings', count: json['warnings'].count) %>
          </span>
        <% end %>
        <%= t('views.console.intent_found', count: json['interpretations'].count) %>
      </p>
      <ul class="intents">
        <% json['interpretations'].each do |aliasable| %>
          <li id="<%= aliasable["id"] %>">
              <div class="intent_block">
              <div class="intent__header">
                <a href="/agents/<%= aliasable["slug"] %>" class="intent__header__name"><%= aliasable["name"] %></a>
                <% if aliasable['scope'] == 'public' %>
                  <span class="badge badge--success badge--small">
                    <%= t('activerecord.attributes.intent.visibility_is_public').upcase %>
                  </span>
                <% end %>
                <% if aliasable['scope'] == 'private' %>
                  <span class="badge badge--warning badge--small">
                    <%= t('activerecord.attributes.intent.visibility_is_private').upcase %>
                  </span>
                <% end %>
                <span class="intent__header__slug">
                  (<%= "#{aliasable["slug"].split('/').first}/#{aliasable["slug"].split('/').second}" %>)
                </span>
                <span class="intent__header__score">
                  <span class="badge badge--grey badge--small badge--outline"><%= aliasable["score"] %></span>
                </span>
              </div>

              <ul>
              <% unless aliasable["explanation"].nil? %>
                  <li>
                    <div class="intent__label"><%= t('views.console.scores') %></div>
                    <pre class="with-wrap"><%= aliasable["explanation"]["scores"] %></pre>
                  </li>
                  <li>
                    <div class="intent__label"><%= t('views.console.highlight') %></div>
                    <div class="intent__highlight">
                      <%= highlight(aliasable["explanation"]["highlight"]["summary"]) %>
                      <% aliasable["explanation"]["highlight"]["words"].each_with_index do |word, index| %>
                        <% unless word["match"].nil? %>
                          <div class="expression-show" style="display:none;" id="match_<%= index %>_exp_list">
                            <ul>
                                <%= expression_list(word["match"]) %>
                                <% parent = word["match"]["parent"] %>
                                <% while !parent.nil? %>
                                    <%= expression_list(parent) %>
                                    <% parent = parent["parent"] %>
                                <% end %>
                            </ul>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
                <% unless aliasable["solution"].nil? %>
                  <li>
                    <div class="intent__label"><%= t('views.console.solution') %></div>
                    <pre><code class='language-javascript'><%= JSON.pretty_generate(aliasable["solution"]) %></code></pre>
                  </li>
                <% end %>
              </ul>
              </div>
            <!-- </a> -->
          </li>
        <% end %>
      </ul>
    <% end %>

  <% else %>
    <p>
      <span class="badge badge--danger"><%= data[:status] %></span>
      <%= t('views.console.error_occurred') %>
    </p>
  <% end %>

  <div class="api_links">
    <p class="endpoint">
      <a href="<%= data[:path] %>" target="_blank">
        <%= t('views.console.go_to_api_endpoint') %>
      </a>
    </p>
    <% if current_user.admin? %>
      <p class="download_package">
        <a href="<%= data[:package_path]%>" target="_blank">
          <%= t('views.console.download_package') %>
        </a>
      </p>
    <% end %>
  </div>

</div>
<div id="console-json" <% if current_tab == 'explain' %>style="display:none;"<% end %>>
  <pre><code class='language-javascript'><%= JSON.pretty_generate(JSON.parse(data[:body])) %></code></pre>
</div>
