<div class="dropdown" id='js-nlp-dropdown-spellchecking'>
  <div class="dropdown__trigger">
    <button class="btn btn--outline btn--small" type="button">
      <span class="btn__label"><%= t("nlp.spellchecking.#{current_value}") %></span>
      <span class="icon icon--x-small">
        <%= icon_arrow_down %>
      </span>
    </button>
  </div>
  <div class="dropdown__content dropdown__content--hidden">
    <ul>
      <% ['inactive', 'low', 'medium', 'high'].each do |spellcheck| %>
        <li>
          <a href="#" <% if spellcheck == current_value %>class="current"<% end %>
             data-behavior="populate-input, replace-trigger-label, submit-form"
             data-input-selector="<%= input_selector %>"
             data-input-value="<%= spellcheck %>"
             data-form-selector="<%= form_selector %>"
             data-replace-with="<%= t("nlp.spellchecking.#{spellcheck}") %>"
             data-replace-selector=".btn__label">
            <%= t("nlp.spellchecking.#{spellcheck}") %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
