<% agent_owner = @agent.owner %>
<% empty_content = visibility == 'is_public' ? t('views.intents.index.empty_list.public') : t('views.intents.index.empty_list.private') %>
<ul class="card-list <% if intents.count == 0 %>card-list--empty<% end %>"
    id=<%= "intents-list-#{visibility}" %>
    data-behavior="sortable"
    data-update-positions-path="<%= update_positions_user_agent_intents_path(agent_owner, @agent) %>"
    data-empty-content="<%= empty_content %>"
    data-group="intents-list"
    data-key="<%= visibility %>">
  <% intents.each do |intent| %>
    <li data-id="<%= intent.id %>">

      <% if current_user_can_edit %>
        <div class="card-list__item__draggable"></div>
      <% end %>

      <a href="<%= user_agent_intent_path(agent_owner, @agent, intent) %>">
        <span class="card-list__item__name"><%= intent.intentname %></span>
        <span class="card-list__item__desc"><%= intent.description %></span>
        <span class="card-list__item__stats">
          <%= t('views.intents.index.interpretations', count: intent.interpretations.size) %>
        </span>
      </a>

      <% if current_user_can_edit %>
        <div class="card-list__item__actions">
          <div class="dropdown">
            <div class="dropdown__trigger">
              <button class="btn btn--small">
              <span class="icon icon--x-small">
                <%= icon_dots %>
              </span>
              </button>
            </div>
            <div class="dropdown__content dropdown__content--hidden dropdown__content--on-right">
              <ul>
                <% if intent.is_used_by(@agent).any? %>
                  <li>
                    <a href="#">
                    <span class="icon icon--x-small">
                      <%= icon_information %>
                    </span><%= t('views.intents.index.used_by')  %>
                    </a>
                  </li>
                <% end %>
                <li>
                  <a href="<%= edit_user_agent_intent_path(agent_owner, @agent, intent) %>"
                     data-action="open-remote-modal">
                  <span class="icon icon--x-small">
                    <%= icon_settings %>
                  </span><%= t('views.intents.index.configure') %>
                  </a>
                </li>
                <li>
                  <a href="<%= agents_selection_user_agent_path(agent_owner, @agent, from: controller_name, current_id: intent.id) %>"
                     data-action="open-remote-modal">
                  <span class="icon icon--x-small">
                    <%= icon_transfert %>
                  </span><%= t('views.intents.index.move_to') %>
                  </a>
                </li>
                <% if @last_agent.present? %>
                  <li>
                    <% label = "<span class='icon icon--x-small'>#{icon_transfert}</span>".html_safe + "#{t('views.intents.index.quick_move_to', agent: @last_agent.name) }" %>
                    <%= link_to label,
                                move_to_agent_user_agent_intent_path(@agent.owner, @agent, id: intent.id, user: @last_agent.owner, agent: @last_agent),
                                method: :post %>
                  </li>
                <% end %>
                <li class="separator">
                  <a href="<%= user_agent_intent_confirm_destroy_path(agent_owner, @agent, intent) %>"
                     data-action="open-remote-modal" class="destructive">
                  <span class="icon icon--x-small">
                    <%= icon_delete %>
                  </span><%= t('views.intents.index.delete') %>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
