<div class="modal modal--fixed-on-top" style="display: none;">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">
    <h5 class="modal__main__title">
      <% if is_intent %>
        <%= t('views.intents.used_by_list.title_html', name: intent.intentname) %>
      <% else %>
        <%= t('views.intents.used_by_list.title_html', name: entities_list.listname) %>
      <% end %>
      <button class="modal__main__title__close" data-action='close-modal'>
        <%= icon_close %>
      </button>
    </h5>
    <div class="modal__main__content">
      <% private_intents = intents_list.is_private %>
      <% public_intents = intents_list.is_public %>

      <h5><%= t('views.intents.index.list_public_title_html') %></h5>
      <ul class="card-list <% if public_intents.count == 0 %>card-list--empty<% end %>"
          data-empty-content="<%= t('views.intents.used_by_list.empty_list.public') %>"
          id="intents-list-is_public">
        <% public_intents.each do |intent| %>
          <li>
            <a href="<%= user_agent_intent_path(agent_owner, @agent, intent) %>">
              <span class="card-list__item__name"><%= intent.intentname %></span>
              <span class="card-list__item__desc"><%= intent.slug %></span>
            </a>
          </li>
        <% end %>
      </ul>

      <h5><%= t('views.intents.index.list_private_title_html') %></h5>
      <ul class="card-list <% if private_intents.count == 0 %>card-list--empty<% end %>"
          data-empty-content="<%= t('views.intents.used_by_list.empty_list.private') %>"
          id="intents-list-is_private">
        <% private_intents.each do |intent| %>
          <li>
            <a href="<%= user_agent_intent_path(agent_owner, @agent, intent) %>">
              <span class="card-list__item__name"><%= intent.intentname %></span>
              <span class="card-list__item__desc"><%= intent.slug %></span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
