<%= render '/agents/header', agent: @agent %>

<div class="header">
  <div class="header__breadcrumb">
    <%= link_to t('views.agents.breadcrumb.intents'), user_agent_intents_path(@agent.owner, @agent) %> /
    <strong>
      <%= @intent.intentname %>
    </strong>
    <% if @intent.is_public? %>
      <span class="badge badge--success badge--small">
        <%= t('activerecord.attributes.intent.visibility_is_public').upcase %>
      </span>
    <% end %>
    <% if @intent.is_private? %>
      <span class="badge badge--warning badge--small">
        <%= t('activerecord.attributes.intent.visibility_is_private').upcase %>
      </span>
    <% end %>
  </div>
  <div class="header__tools">
  <% if @intent.is_used_by.any? %>
    <a href="<%= user_agent_intent_get_used_by_intents_path(@agent.owner, @agent, @intent) %>" class="btn btn--small"
       title="<%= t('views.intents.index.used_by_title')  %>"
       data-action="open-remote-modal">
        <%= t('views.intents.index.used_by')  %>
    </a>
  <% else %>
    <small><%= t('views.intents.index.not_used_by_title') %></small>
  <% end %>
  </div>
</div>

<%= render 'interpretations/index', current_locale: @locale %>

<% content_for :right_aside do %>
  <%= render '/console/base' %>
<% end %>
