<header class="tabs">
  <ul>
    <li>
      <%= link_to t('views.agents.show.sections.overview'), user_agent_path(@agent.owner, @agent) %>
    </li>
    <li>
      <%= link_to t('views.agents.show.sections.intents'), user_agent_intents_path(@agent.owner, @agent), class: 'current' %>
    </li>
    <li>
      <%= link_to t('views.agents.show.sections.entities_lists'), user_agent_entities_lists_path(@agent.owner, @agent) %>
    </li>
  </ul>
</header>

<div class="header">
  <div class="header__breadcrumb">
    <%= link_to t('views.agents.breadcrumb.base'), agents_path %> /
    <%= link_to @agent.name, user_agent_path(@agent.owner, @agent) %> /
    <%= link_to t('views.agents.breadcrumb.intents'), user_agent_intents_path(@agent.owner, @agent) %> /
    <strong>
      <%= @intent.intentname %>
    </strong>
    <% if @intent.is_public? %>
      <span class="badge badge--success badge--small">
        <%= t('activerecord.attributes.intent.visibility_is_public').upcase %>
      </span>
    <% end %>
    <% if @intent.is_private? %>
      <span class="badge badge--warning badge--small">
        <%= t('activerecord.attributes.intent.visibility_is_private').upcase %>
      </span>
    <% end %>
    (<%= @intent.slug %>)
  </div>
</div>

<%= render 'interpretations/index', current_locale: @locale %>

<% content_for :right_aside do %>
  <%= render '/console/base' %>
<% end %>
