<%= render '/agents/header', agent: @agent %>

<div class="header">
  <div class="header__breadcrumb">
    <%= link_to t('views.agents.breadcrumb.intents'), user_agent_intents_path(@agent.owner, @agent) %> /
    <strong>
      <%= @intent.intentname %>
    </strong>
    <% if @intent.is_public? %>
      <span class="badge badge--success badge--small">
        <%= t('activerecord.attributes.intent.visibility_is_public').upcase %>
      </span>
    <% end %>
    <% if @intent.is_private? %>
      <span class="badge badge--warning badge--small">
        <%= t('activerecord.attributes.intent.visibility_is_private').upcase %>
      </span>
    <% end %>
  </div>
</div>

<%= render 'interpretations/index', current_locale: @locale %>

<% content_for :right_aside do %>
  <%= render '/console/base' %>
<% end %>
