<header class="header">
  <div class="header__breadcrumb">
    <%= link_to t('views.agents.breadcrumb.base'), agents_path %> /
    <%= link_to @agent.name, user_agent_path(@agent.owner, @agent) %> /
    <strong>
      <%= @intent.intentname %>
    </strong>
    <% if @intent.is_public? %>
      <span class="badge badge--primary"><%= t('views.intents.visibility.is_public').upcase %></span>
    <% end %>
    (<%= @intent.slug %>)
  </div>
</header>

<%= render 'interpretations/index', current_locale: @locale %>

<% content_for :right_aside do %>
  <%= render '/console/base' %>
<% end %>
